<form [formGroup]="forma">
    <!-- <div style="margin-bottom: 15px;">        
        <p-toggleButton formControlName="cuenta_resultado" [onLabel]="onLabel" [offLabel]="onLabel" offIcon="pi pi-times" [onIcon]="onIcon"  [style]="{'width': '10em'}"></p-toggleButton>
     </div> -->

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
            <label for="descripcion">Descripción</label>
            <span class=" p-input-icon-right">
                <input id="descripcion_cat" type="text" pInputText formControlName="descripcion" 
                       [class.ng-invalid]="getNoValido('descripcion')" [class.ng-dirty]="getNoValido('descripcion')" 
                       (keyup)="verificaDescripcion($event.target.value)">
                <i class="pi pi-spin pi-spinner" *ngIf="descripExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="descripExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="descripExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="descripExiste === 3"></i>
            </span>
        </div>
        
        <div class="p-field p-col-12 p-md-3">
            <label for="nivel">Nivel</label>
            <p-dropdown inputId="nivel" [options]="nivel" (onChange) = "cuentaControl($event.value)" [class.ng-invalid]="getNoValido('nivel')" 
                        name="nivel" formControlName="nivel" [class.ng-dirty]="getNoValido('nivel')" placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('nivel')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="origen">Origen</label>
            <p-dropdown input  [options]="origen" [class.ng-invalid]="getNoValido('origen')" [class.ng-dirty]="getNoValido('origen')"
                        name="origen" formControlName="origen" placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('origen')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="grupo">Grupo</label>
            <p-dropdown inputId="grupo" [options]="grupo" name="grupo" formControlName="grupo" placeholder="Escoje.." 
                        [class.ng-invalid]="getNoValido('grupo')" [class.ng-dirty]="getNoValido('grupo')"optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('grupo')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="cuenta_no">Cuenta</label>
            <span class=" p-input-icon-right">
                <input id="cuenta_no" type="number" pInputText formControlName="cuenta_no" [class.p-invalid]="getNoValido('cuenta_no')"
                       (keyup)="verificaCuenta($event.target.value)" [class.ng-invalid]="getNoValido('cuenta_no')" 
                       [class.ng-dirty]="getNoValido('cuenta_no')">
                <i class="pi pi-spin pi-spinner" *ngIf="cuentaExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="cuentaExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="cuentaExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="cuentaExiste === 3"></i>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="aplica_a">Cuenta que Aplica</label>
            <span class=" p-input-icon-right">
                <input id="aplica_a" type="number" pInputText formControlName="aplica_a" [class.p-invalid]="getNoValido('aplica_a')"
                       (keyup)="verificaCuentaAplica($event.target.value)" [class.ng-invalid]="getNoValido('aplica_a')" 
                       [class.ng-dirty]="getNoValido('aplica_a')">
                <i class="pi pi-spin pi-spinner" *ngIf="cuentaAplicaExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="cuentaAplicaExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="cuentaAplicaExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="cuentaAplicaExiste === 3"></i>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="codigo_isr">Código Retencion</label>
            <p-dropdown inputId="codigo_isr" [options]="codigosRetencion" name="codigo_isr" formControlName="codigo_isr"
                        placeholder="Escoje.." optionLabel="descripcion" [class.ng-invalid]="getNoValido('codigo_isr')" 
                        [class.ng-dirty]="getNoValido('codigo_isr')">
            </p-dropdown>
            <small *ngIf="getNoValido('codigo_isr')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="tipo_cuenta">Tipo Cuenta</label>
            <p-dropdown inputId="tipo_cuenta" [options]="tipo_cuenta" name="tipo_cuenta" formControlName="tipo_cuenta"
                        placeholder="Escoje.." optionLabel="label" [class.ng-invalid]="getNoValido('tipo_cuenta')" 
                        [class.ng-dirty]="getNoValido('tipo_cuenta')">
            </p-dropdown>
            <small *ngIf="getNoValido('tipo_cuenta')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-col-12"></div>
        
        <div class="p-field p-col-12 p-md-2">
            <label for="analitico">Analítico</label>
            <p-dropdown inputId="analitico" [options]="sino" name="analitico" formControlName="analitico" placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('analitico')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-2">
            <label for="catalogo">Catálogo</label>
            <p-dropdown inputId="catalogo" [options]="sino" name="catalogo" formControlName="catalogo" placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('catalogo')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-2">
            <label for="depto">Departamento</label>
            <p-dropdown inputId="depto" [options]="sino" name="depto" formControlName="depto" placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('depto')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-2">
            <label for="referencia">Referencia</label>
            <p-dropdown inputId="referencia" [options]="sino" name="referencia" formControlName="referencia" placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('referencia')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-2">
            <label for="selectivo_consumo">Selectivo Consumo</label>
            <p-dropdown inputId="selectivo_consumo" [options]="sino" name="selectivo_consumo" formControlName="selectivo_consumo" 
                        placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('selectivo_consumo')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        
        <div class="p-field p-col-12 p-md-2">
            <label for="retencion">Cuenta Retención</label>
            <p-dropdown inputId="retencion" [options]="sino" name="retencion" formControlName="retencion"
                        placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('retencion')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        <!-- <div class="p-field p-col-12 p-md-2">
            <label for="retencion">Estado Resultado</label>
            <span class=" p-input-icon-right">
                <input id="estado_resultado" type="label" pInputText formControlName="estado_resultado" 
                       [class.p-invalid]="getNoValido('estado_resultado')"
                       (keyup)="verificaEstado($event.target.value)" [class.ng-invalid]="getNoValido('estado_resultado')" 
                       [class.ng-dirty]="getNoValido('estado_resultado')">
                <i class="pi pi-spin pi-spinner" *ngIf="estadoExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="estadoExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="estadoExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="estadoExiste === 3"></i>
            </span>
        </div> -->
    </div>
    <button *ngIf="this.guardar" pButton (click)="guardarCatalogo()" pRipple label="Guardar" icon="pi pi-save" type="button"></button>
    <button *ngIf="this.actualizar" (click)="guardarCatalogo()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>

<p-toast key="tst"></p-toast>
<app-step-toolbar *ngIf="this.router.url !== '/contabilidad-general/gestion-catalogo-cuentas'"></app-step-toolbar>