<form (ngSubmit)="guardarOrdenes()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
                                    
        <div class="p-field p-col-12 p-md-3">
            <label for="cotizacion_no">No. Cotización</label>	
            <p-autoComplete formControlName="cotizacion_no" [suggestions]="cotizacionesFiltradas" (completeMethod)="filtrarCotizacion($event)" 
                            (onSelect)="datosCotizacion($event)" field="nom_sp" [dropdown]="true" [class.ng-invalid]="getNoValido('cotizacion_no')" 
                            [class.ng-dirty]="getNoValido('cotizacion_no')">
                <ng-template let-cotizacion_no pTemplate="item">
                    <div class="country-item">
                        <!-- <div>{{cotizacion_no.nom_sp | titlecase}}</div> -->
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('cotizacion_no')" class="p-invalid">Este campo es obligatorio.</small>						
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="fecha_entrega">Fecha Entrega</label>
            <span class=" p-input-icon-right">
                <p-calendar formControlName="fecha_entrega" dateFormat="yy/mm/dd" [showIcon]="true" inputId="icon"
                            (onSelect)="onSelectDate($event,'fecha_entrega', null)" [minDate]="minDate" [class.ng-invalid]="getNoValido('fecha_entrega')" 
                            [class.ng-dirty]="getNoValido('fecha_entrega')">
                </p-calendar>
            </span>
            <small *ngIf="getNoValido('fecha_entrega')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        
        <div class="p-field p-col-12 p-md-3">
            <label for="sec_vend">Vendedor</label>								
            <p-autoComplete formControlName="sec_vend" [suggestions]="vendedorFiltrado" (completeMethod)="filtrarVendedor($event)" 
                            (onSelect)="datosVendedor($event)" field="nombre_empleado" [dropdown]="true" [class.ng-invalid]="getNoValido('sec_vend')" 
                            [class.ng-dirty]="getNoValido('sec_vend')">
                <ng-template let-vendedor pTemplate="item">
                    <div class="country-item">
                        <div>{{vendedor.nombre_empleado | titlecase}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('cotizacion_no')" class="p-invalid">Este campo es obligatorio.</small>						
        </div>
       
        <div class="p-field p-col-12 p-md-3">
            <label for="cliente">Cliente</label>	
            <div class="p-inputgroup">	
                <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-success" (click)="op.toggle($event)"></button>								
                <p-autoComplete formControlName="cliente" [suggestions]="clientesFiltrados" (completeMethod)="filtrarCliente($event.query)" 
                                (onSelect)="datosCliente($event)" field="nombre" [dropdown]="true" [class.ng-invalid]="getNoValido('cliente')" 
                                [class.ng-dirty]="getNoValido('cliente')">
                    <ng-template let-cliente pTemplate="item">
                        <div class="country-item">
                            <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                            <div>{{cliente.nombre | titlecase}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <small *ngIf="getNoValido('cliente')" class="p-invalid">Este campo es obligatorio.</small>						
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="cond_pago">Condición Pago</label>
            <p-dropdown [options]="condpago"  [class.ng-invalid]="getNoValido('cond_pago')" [class.ng-dirty]="getNoValido('cond_pago')"
                        name="cond_pago" formControlName="cond_pago" id="drop-down" placeholder="Escoje.." optionLabel="descripcion">
            </p-dropdown>
            <small *ngIf="getNoValido('cond_pago')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="telefono">Teléfono</label>
            <span class=" p-input-icon-right">
                <p-inputMask mask="(999)-999-9999" formControlName="telefono" placeholder="(999)-999-9999" [class.ng-invalid]="getNoValido('telefono')" 
                             [class.ng-dirty]="getNoValido('telefono')">
                </p-inputMask>
            </span>
            <small *ngIf="getNoValido('telefono')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        
        <div class="p-field p-col-12 p-md-3">
            <label for="tipo_orden">Tipo Orden</label>
            <p-dropdown inputId="tipo_orden" [options]="tipo_orden" [class.ng-invalid]="getNoValido('tipo_orden')" 
                        [class.ng-dirty]="getNoValido('tipo_orden')" name="tipo_orden" formControlName="tipo_orden" id="drop-down"
                        placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('tipo_orden')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="orden_sustituta">Orden Sustituta</label>	
            <p-autoComplete formControlName="orden_sustituta" [suggestions]="ordenesFiltradas" (completeMethod)="filtrarOrdenes($event)" 
                            (onSelect)="datosOrdenes($event)" field="num_oc" [dropdown]="true" [class.ng-invalid]="getNoValido('orden_sustituta')" 
                            [class.ng-dirty]="getNoValido('orden_sustituta')">
                <ng-template let-numOc pTemplate="item">
                    <div class="country-item">
                        <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                        <div>{{numOc.num_oc | titlecase}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('cliente')" class="p-invalid">Este campo es obligatorio.</small>						
        </div>
                                                
        <div class="p-field p-col-12 p-md-3">
            <label for="id_pais">Pais</label>
            <p-dropdown input  [options]="paises" [class.ng-invalid]="getNoValido('id_pais')" 
                        [class.ng-dirty]="getNoValido('id_pais')" name="id_pais" formControlName="id_pais" 
                        id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaPaises($event.value.id)">
            </p-dropdown>
            <small *ngIf="getNoValido('id_pais')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_ciudad">Ciudad</label>
            <p-dropdown input  [options]="ciudades" [class.ng-invalid]="getNoValido('id_ciudad')" 
                        [class.ng-dirty]="getNoValido('id_ciudad')" name="id_ciudad" formControlName="id_ciudad" 
                        id="drop-down" placeholder="Escoje.." optionLabel="descripcion">
            </p-dropdown>
            <small *ngIf="getNoValido('id_ciudad')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_zonalocal">Zona Local</label>
            <p-dropdown inputId="id_zonalocal" [options]="zonalocal" [class.ng-invalid]="getNoValido('id_zonalocal')" 
                        [class.ng-dirty]="getNoValido('id_zonalocal')"
                        name="id_zonalocal" formControlName="id_zonalocal" id="drop-down"
                        placeholder="Escoje.." optionLabel="descripcion">
            </p-dropdown>
            <small *ngIf="getNoValido('id_zonalocal')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-6">
            <label for="direccion">Dirección</label>
            <textarea id="direccion" type="text" rows="4" pInputTextarea name="direccion" formControlName="direccion"
                      [class.ng-invalid]="getNoValido('direccion')" [class.ng-dirty]="getNoValido('direccion')">
            </textarea>
            <small *ngIf="getNoValido('direccion')" class="p-invalid">Este campo es obligatorio.</small>
        </div>	

        <div class="p-field p-col-6">
            <label for="ubicacion">Ubicación Referencia</label>
            <textarea id="ubicacion" type="text" rows="4" pInputTextarea name="ubicacion" formControlName="ubicacion"
                      [class.ng-invalid]="getNoValido('ubicacion')" [class.ng-dirty]="getNoValido('ubicacion')">
            </textarea>
            <small *ngIf="getNoValido('ubicacion')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-6">
            <label>Documentos</label>
            <p-fileUpload name="demo[]" multiple="multiple" accept="image/*,.pdf" maxFileSize="1000000" 
                          (onSelect)="onFileSelect($event)" [showUploadButton]="false">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
            <small *ngIf="getNoValido('archivos')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-6">
            <label for="observacion">Observaciones</label>
            <textarea id="observacion" type="text" rows="4" pInputTextarea name="observacion" formControlName="observacion"
                      [class.ng-invalid]="getNoValido('observacion')" [class.ng-dirty]="getNoValido('observacion')"></textarea>
            <small *ngIf="getNoValido('observacion')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
    </div>

    <p-panel #pnl header="Producto/s vinculado/s a la orden de pedido" styleClass="p-mt-4">
        <div formArrayName="productos">
            <p-toolbar>	
                <div class="p-toolbar-group-left">
                </div>						
                <div class="p-toolbar-group-right">
                    <button pButton pRipple label="Buscar Productos" icon="pi pi-search" type="button" (click)="buscaProductos()"></button>	
                </div>
            </p-toolbar>
            <br>		

            <p-table [columns]="cols2" [value]="productos" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
                     [rowHover]="true" [rows]="20" [paginator]="true" [filterDelay]="0" #dt
                     [globalFilterFields]="['titulo','codigo','categoria','marca','almacen','tipoinventario']">

                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar...."/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" *ngIf="(col.field !== 'imagen' && col.field !== 'acciones')"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                    <tr [formGroupName]="i" class="p-selectable-row" [ngClass]="{'noExistencia': rowData.cantidad1 === 0 || rowData.cantidad1 === null}">
                        <td *ngFor="let col of columns">
                            <span class="p-column-title">{{col.header}}</span>

                            <span *ngIf="col.field === 'imagen'">
                                <img [alt]="rowData[col.field]" [src]="rowData.galeriaImagenes | invProductos" width="64"
                                    style="vertical-align: middle"/>
                                <div class="p-mb-3 demo-container p-text-nowrap p-text-truncate" style="width: 6rem">{{rowData['titulo'] | titlecase }}</div>
                            </span>

                            <span *ngIf="col.field === 'codigo'">
                                {{rowData[col.field] | titlecase}}
                            </span>
                            
                            <span *ngIf="col.field === 'porc_desc'">
                                <input style="width: 100%;" type="number" pInputText class="fit-input" 
                                       formControlName="porc_desc" (input)="calcula(i, $event)"/>
                            </span>

                            <span *ngIf="col.field === 'descuento'">
                                <input type="number" pInputText class="fit-input" style="background-color: #c7c7c7; width: 100%;"
                                       [readonly] = "true" formControlName="descuento"/>
                            </span>

                            <span *ngIf="col.field === 'costo'">
                                <input type="number" pInputText class="fit-input" style="background-color: #c7c7c7; width: 100%;"
                                       [readonly] = "true" formControlName="costo"/>
                            </span>		

                            <span *ngIf="col.field === 'cantidad1'">
                                <input style="width: 100%;" type="number" pInputText class="fit-input" 
                                       formControlName="cantidad1" (input)="calcula(i, $event)"/>
                            </span>
                            
                            <span *ngIf="col.field === 'precio'">
                                <input type="number" pInputText class="fit-input" style="background-color: #c7c7c7; width: 100%;"
                                       [readonly] = "true" formControlName="precio" (input)="calcula(i, $event)"/>
                            </span>

                            <div *ngIf="col.field === 'fecha_compromiso'">
                                <p-calendar [touchUI]="true" [readonlyInput]="true" inputId="fecha_compromiso" dateFormat="yy/mm/dd" 
                                            [minDate]="minDate" formControlName="fecha_compromiso"
                                            (onSelect)="onSelectDate($event,'fecha_compromiso', i)">
                                </p-calendar>
                            </div>

                            <div *ngIf="col.field === 'observacion'">
                                <input style="width: 100%;" type="text" pInputText formControlName="observacion"/>
                            </div>	

                            <div *ngIf="col.field === 'id_kit'">													
                                <input style="width: 100%;" type="number" pInputText class="fit-input" formControlName="id_kit"/>
                            </div>
                        </td>											
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No existen ordenes de pedidos en la base de datos.</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length !== 1">
                        Existen {{productos ? productos.length : 0 }} ordenes de pedidos en total.
                    </div>

                    <div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length === 1">
                        Existe solo {{productos ? productos.length : 0 }} orden de pedido en total.
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td>Totales:</td>
                        <td></td>
                        <td></td>
                        <td><strong>{{simbolo}}{{ totalDescuento }}</strong></td>
                        <td><strong>{{simbolo}}{{ totalCosto }}</strong></td>
                        <td><strong>{{totalCantidad}}</strong></td>
                        <!--											
                        <td></td>
                        <td><strong>{{simbolo}}{{ totalBruto }}</strong></td>
                        <td><strong>{{simbolo}}{{ totalNeto }}</strong></td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-panel>
    <br>
    <button *ngIf="!this.formSubmitted && this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="actualizarPedido()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>
<p-progressBar mode="indeterminate" *ngIf="this.formSubmitted"></p-progressBar>

<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
	<ng-template pTemplate>
		<p-table #dt3 [value]="clientes" selectionMode="single" [(selection)]="clientesSeleccionados" (onRowSelect)="clienteSeleccionado($event.data)" 
				 [paginator]="true" [rows]="5" [globalFilterFields]="['nombre','num_rnc','cedula']">
			<ng-template pTemplate="caption">
			<div class="table-header">
				<span class="p-input-icon-left">
					<i class="pi pi-search"></i>
					<input pInputText type="text" (input)="dt3.filterGlobal($event.target.value, 'contains')" placeholder="Buscar Cliente..."/>
				</span>
			</div>
		</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th pSortableColumn="nombre">Nombre<p-sortIcon field="name"></p-sortIcon></th>                    
					<th pSortableColumn="num_rnc">RNC <p-sortIcon field="price"></p-sortIcon></th>
					<th pSortableColumn="cedula">Cédula <p-sortIcon field="price"></p-sortIcon></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData let-cliente>
				<tr [pSelectableRow]="rowData">
					<td>{{cliente.nombre}}</td>
					<td>{{cliente.num_rnc}}</td>
					<td>{{cliente.cedula}}</td>
				</tr>
			</ng-template>
		</p-table>
	</ng-template>
</p-overlayPanel>