<form (ngSubmit)="guardarPropiedad()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <label for="descripcion">Título</label>
            <span class=" p-input-icon-right">
                <input type="text" pInputText formControlName="descripcion" [class.p-invalid]="getNoValido('descripcion')"
                       (keyup)="verificaPropiedad($event.target.value)" [class.p-invalid]="getNoValido('descripcion')"
                       [class.ng-invalid]="getNoValido('descripcion')" >
                <i class="pi pi-spin pi-spinner" *ngIf="propiedadExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="propiedadExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="propiedadExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="propiedadExiste === 3"></i>
            </span>
            <small *ngIf="getNoValido('descripcion')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
    </div>
    <button *ngIf="!this.formSubmitted && this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="actualizarMoneda()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>
<p-progressBar mode="indeterminate" *ngIf="this.formSubmitted"></p-progressBar>