<form (ngSubmit)="guardarPropiedad()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <label for="descripcion">Título</label>
            <span class=" p-input-icon-right">
                <input type="text" pInputText formControlName="descripcion" [class.p-invalid]="getNoValido('descripcion')"
                       (keyup)="verificaPropiedad($event.target.value)" [class.p-invalid]="getNoValido('descripcion')"
                       [class.ng-invalid]="getNoValido('descripcion')" >
                <i class="pi pi-spin pi-spinner" *ngIf="propiedadExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="propiedadExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="propiedadExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="propiedadExiste === 3"></i>
            </span>
            <small *ngIf="getNoValido('descripcion')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
    </div>
    <button *ngIf="!this.guardando" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button pButton pRipple label="Guardando" icon="pi pi-spin pi-spinner" *ngIf="this.guardando"
            type="button" disabled="true">
    </button>
</form>