<div class="intermitente" *ngIf="this.items.length !== 0 && this.rutaActual[1] === 'rrhh'">
	<p-accordion styleClass="intermitente">
		<p-accordionTab header="CLICK AQUI PARA INSERCION DE DATOS INICALES">       
		   <div class="card">
			   <p-toast></p-toast>
			   <p-steps [model]="items" [readonly]="true"></p-steps>
		   </div>
		   <router-outlet></router-outlet>
		   <app-step-toolbar [items]="this.items"></app-step-toolbar>
		</p-accordionTab>
	</p-accordion>
</div>
<br>
<form (ngSubmit)="guardarEmpleado()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">	

        <div class="p-field p-col-12 p-md-3">
            <p-fieldset legend="img Empleado" [toggleable]="false">
                <a href="javascript:void(0);">
                <img *ngIf="imgURLUser !== null" [src]="imgURLUser" width="64" height="64" alt="" class="media-object rounded" style="width: 160px; height: 128px;">
                <img *ngIf="imgURLUser === null" [src]="imgUser | usuario" width="64" height="64" alt="" class="media-object rounded" style="width: 160px; height: 128px;">
                </a>
                <span style="color:red;" *ngIf="message">{{message}}</span>
                <div>
                    <input #fileUser type="file" accept='image/*' (change)="previewUserPhoto(fileUser.files)" />
                </div>
            </p-fieldset>
        </div>

        <!-- clearfix -->
        <div class=" p-col-12"></div>
        <!-- clearfix -->

        <div class="p-field p-col-12 p-md-3">
            <label for="primernombre">Primer Nombre </label>
            <span class=" p-input-icon-right">
                <input id="primernombre" type="text" pInputText formControlName="primernombre" [class.ng-invalid]="getNoValido('primernombre')" 
                       [class.ng-dirty]="getNoValido('primernombre')">
            </span>
            <small *ngIf="getNoValido('primernombre')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="segundonombre">Segundo Nombre </label>
            <span class=" p-input-icon-right">
                <input id="segundonombre" type="text" pInputText formControlName="segundonombre" >
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="primerapellido">Primer Apellido  </label>
            <span class=" p-input-icon-right">
                <input id="primerapellido" type="text" pInputText formControlName="primerapellido" [class.ng-invalid]="getNoValido('primerapellido')" 
                       [class.ng-dirty]="getNoValido('primerapellido')">
            </span>
            <small *ngIf="getNoValido('primerapellido')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="segundoapellido">Segundo Apellido </label>
            <span class=" p-input-icon-right">
                <input id="segundoapellido" type="text" pInputText formControlName="segundoapellido" >
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3" >
            <label for="cedula">Cédula</label>
            <span class=" p-input-icon-right">
                <p-inputMask mask="999-9999999-9" formControlName="cedula" [class.ng-invalid]="getNoValido('cedula')" 
                             [class.ng-dirty]="getNoValido('cedula')" (keyup)="verificaCedula($event.target.value)">
                </p-inputMask>
                <i class="pi pi-spin pi-spinner" *ngIf="cedulaExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="cedulaExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="cedulaExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="cedulaExiste === 3"></i>
                <small *ngIf="getNoValido('cedula')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="email">Email</label>
            <span class=" p-input-icon-right">
                <input type="text" pInputText formControlName="email" >
            </span>        
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="telefono">Teléfono</label>
            <span class=" p-input-icon-right">
                <p-inputMask mask="(999)-999-9999" formControlName="telefono" placeholder="(999)-999-9999" [class.ng-invalid]="getNoValido('telefono')" 
                             [class.ng-dirty]="getNoValido('telefono')">
                </p-inputMask>
            </span>
            <small *ngIf="getNoValido('telefono')" class="p-invalid">Este campo es obligatorio.</small>
        </div>        
    </div>
    
    <p-panel header="Ubicación">
        <div class="p-fluid p-formgrid p-grid">        
            <div class="p-field p-col-12 p-md-3">
                <label for="id_pais">Pais</label>
                <p-dropdown placeholder="Escoje.." input  [options]="paises" [class.ng-invalid]="getNoValido('id_pais')" 
                            [class.ng-dirty]="getNoValido('id_pais')" name="id_pais" formControlName="id_pais" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaRegion($event.value.id_pais)">
                </p-dropdown>
                <small *ngIf="getNoValido('id_pais')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
            
            <div class="p-field p-col-12 p-md-3">
                <label for="id_region">Región</label>
                <p-dropdown placeholder="Escoje.." input  [options]="regiones" [class.ng-invalid]="getNoValido('id_region')" (onChange)="buscaProvincia($event.value.id_region)"
                            [class.ng-dirty]="getNoValido('id_region')" name="id_region" formControlName="id_region" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion">
                </p-dropdown>
                <small *ngIf="getNoValido('id_region')" class="p-invalid">Este campo es obligatorio.</small>
            </div>

            <div class="p-field p-col-12 p-md-3">
                <label for="id_provincia">Provincia</label>
                <p-dropdown placeholder="Escoje.." input  [options]="provincias" [class.ng-invalid]="getNoValido('id_provincia')" 
                            [class.ng-dirty]="getNoValido('id_provincia')" name="id_provincia" formControlName="id_provincia" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaMunicipio($event.value.id_provincia)">
                </p-dropdown>
                <small *ngIf="getNoValido('id_provincia')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
                
            <div class="p-field p-col-12 p-md-3">
                <label for="id_municipio">Municipio</label>
                <p-dropdown placeholder="Escoje.." input  [options]="municipios" [class.ng-invalid]="getNoValido('id_municipio')" 
                            [class.ng-dirty]="getNoValido('id_municipio')" name="id_municipio" formControlName="id_municipio" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaCiudad($event.value.id_municipio)">
                </p-dropdown>
                <small *ngIf="getNoValido('id_municipio')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
    
            <div class="p-field p-col-12 p-md-3">
                <label for="id_ciudad">Ciudad</label>
                <p-dropdown placeholder="Escoje.." input [options]="ciudades" [class.ng-invalid]="getNoValido('id_ciudad')" 
                            [class.ng-dirty]="getNoValido('id_ciudad')" name="id_ciudad" formControlName="id_ciudad" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaSector($event.value.id_ciudad)">
                </p-dropdown>
                <small *ngIf="getNoValido('id_ciudad')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
    
            <div class="p-field p-col-12 p-md-3">
                <label for="id_sector">Sector</label>
                <p-dropdown placeholder="Escoje.." input  [options]="sectores" [class.ng-invalid]="getNoValido('id_sector')" 
                            [class.ng-dirty]="getNoValido('id_sector')" name="id_sector" formControlName="id_sector" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion">
                </p-dropdown>
                <small *ngIf="getNoValido('id_sector')" class="p-invalid">Este campo es obligatorio.</small>
            </div>

            <div class="p-field p-col-12 p-md-3">
                <label for="calle">Calle</label>
                <span class=" p-input-icon-right">
                    <input id="calle" type="text" pInputText formControlName="calle" [class.ng-invalid]="getNoValido('calle')" 
                           [class.ng-dirty]="getNoValido('calle')">
                </span>
                <small *ngIf="getNoValido('calle')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
        </div>
    </p-panel>
    <br>
    <p-panel header="Datos Generales">
        <p-tabView orientation="left">
            <p-tabPanel header="Datos Personales" leftIcon="pi pi-check">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="educacion">Nivel Educativo</label>
                        <p-dropdown placeholder="Escoje.." inputId="educacion" [options]="educacion" [class.ng-invalid]="getNoValido('educacion')" 
                                    [class.ng-dirty]="getNoValido('educacion')" name="educacion" formControlName="educacion"
                                    optionLabel="descripcion" placeholder="Escoje..">
                        </p-dropdown>
                        <small *ngIf="getNoValido('educacion')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="cod_nac">Nacionalidad</label>	
                        <p-autoComplete formControlName="cod_nac" [suggestions]="paisesFiltrados" (completeMethod)="filtrarPais($event)" 
                                        field="gentilicio" [dropdown]="true" [class.ng-invalid]="getNoValido('cod_nac')" 
                                        [class.ng-dirty]="getNoValido('cod_nac')">
                            <ng-template let-pais pTemplate="item">
                                <div class="country-item">
                                    <div>{{pais.gentilicio | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>   
                        <small *ngIf="getNoValido('cod_nac')" class="p-invalid">Este campo es obligatorio.</small>                             
                    </div>	
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="tipo_sangre">Tipo de Sangre</label>
                        <p-dropdown placeholder="Escoje.." inputId="tipo_sangre" [options]="tipo_sangre" name="tipo_sangre" formControlName="tipo_sangre"
                                    optionLabel="descripcion">
                        </p-dropdown>
                        <small *ngIf="getNoValido('tipo_sangre')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
                    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="sexo">Sexo</label>
                        <p-dropdown placeholder="Escoje.." [options]="sexo" name="sexo" formControlName="sexo">optionLabel="label" 
                                    [class.ng-invalid]="getNoValido('sexo')" [class.ng-dirty]="getNoValido('sexo')">
                        </p-dropdown>
                        <small *ngIf="getNoValido('sexo')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="turno">Turno</label>
                        <p-dropdown placeholder="Escoje.." inputId="turno" [options]="turno" [class.ng-invalid]="getNoValido('turno')" 
                                    [class.ng-dirty]="getNoValido('turno')" name="turno" formControlName="turno" optionLabel="descripcion" 
                                    (onChange)="setHorarios($event)">
                        </p-dropdown> 
                        <small *ngIf="getNoValido('turno')" class="p-invalid">Este campo es obligatorio.</small>                               
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="horario_inicial">Hora Entrada</label>
                        <span class=" p-input-icon-right">
                            <p-calendar formControlName="horario_inicial" [timeOnly]="true" inputId="horario_inicial" hourFormat="12" [readonlyInput]="true"
                                        [class.ng-invalid]="getNoValido('horario_inicial')" [class.ng-dirty]="getNoValido('horario_inicial')">
                            </p-calendar>
                        </span>      
                        <small *ngIf="getNoValido('horario_inicial')" class="p-invalid">Este campo es obligatorio.</small>                          
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="horario_final">Hora Salida</label>
                        <span class=" p-input-icon-right">
                            <p-calendar formControlName="horario_final" [timeOnly]="true" inputId="horario_final" hourFormat="12" [class.ng-invalid]="getNoValido('horario_final')" 
                                        [class.ng-dirty]="getNoValido('horario_final')" [readonlyInput]="true">
                            </p-calendar>
                        </span>
                        <small *ngIf="getNoValido('horario_final')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="estado_civil">Estado Civil</label>
                        <p-dropdown placeholder="Escoje.." inputId="estado_civil" [options]="estado_civil" name="estado_civil" formControlName="estado_civil"
                                    optionLabel="descripcion" [class.ng-invalid]="getNoValido('estado_civil')" [class.ng-dirty]="getNoValido('estado_civil')">
                        </p-dropdown>  
                        <small *ngIf="getNoValido('estado_civil')" class="p-invalid">Este campo es obligatorio.</small>                              
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="fecha_nacimiento">Fecha Nacimiento</label>
                        <span class=" p-input-icon-right">
                            <p-calendar formControlName="fecha_nacimiento" dateFormat="yy/mm/dd" [showIcon]="true" [class.ng-invalid]="getNoValido('fecha_nacimiento')" 
                                        [class.ng-dirty]="getNoValido('fecha_nacimiento')" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="this.rangoAnio()" 
                                        (onSelect)="fechaNacimiento($event)">
                            </p-calendar>                                    
                        </span>     
                        <small *ngIf="getNoValido('fecha_nacimiento')" class="p-invalid">Este campo es obligatorio.</small>                           
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="licencia">Licencia</label>
                        <p-dropdown placeholder="Escoje.." [options]="sino" name="licencia" formControlName="licencia">optionLabel="label">
                        </p-dropdown>                                 
                    </div>
    
                    <div class="p-field p-col-12">
                        <label for="observacion">Observaciones</label>
                        <textarea id="observacion" type="text" rows="4" pInputTextarea name="observacion" formControlName="observacion"></textarea>                                
                    </div>
                </div>	
            </p-tabPanel>
    
            <p-tabPanel header="Datos ARS" leftIcon="pi pi-user">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="cod_tss">TSS</label>
                        <span class=" p-input-icon-right">
                            <input id="cod_tss" type="text" pInputText formControlName="cod_tss" >
                        </span>                               
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="paga_seg">Paga Seguro</label>
                        <p-dropdown placeholder="Escoje.." [options]="sino" name="paga_seg" formControlName="paga_seg">optionLabel="label" 
                                    [class.ng-invalid]="getNoValido('paga_seg')" [class.ng-dirty]="getNoValido('paga_seg')">
                        </p-dropdown>      
                        <small *ngIf="getNoValido('paga_seg')" class="p-invalid">Este campo es obligatorio.</small>                            
                    </div>															
                </div>	
            </p-tabPanel>
                
            <p-tabPanel header="Datos Institucionales" leftIcon="pi pi-mobile">											
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="fecha_entrada">Fecha de Entrada</label>
                        <span class=" p-input-icon-right">
                            <p-calendar formControlName="fecha_entrada" dateFormat="yy/mm/dd" [showIcon]="true" [class.ng-invalid]="getNoValido('fecha_entrada')" 
                                        [class.ng-dirty]="getNoValido('fecha_entrada')" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="this.rangoAnio()" 
                                        (onSelect)="onSelectDate($event, 'fecha_entrada')">
                            </p-calendar>                                    
                        </span>   
                        <small *ngIf="getNoValido('fecha_entrada')" class="p-invalid">Este campo es obligatorio.</small>                             
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="is_sup">Supervisa</label>
                        <p-dropdown placeholder="Escoje.." inputId="is_sup" [options]="sino" [class.ng-invalid]="getNoValido('is_sup')" [class.ng-dirty]="getNoValido('is_sup')" 
                                    name="is_sup" formControlName="is_sup">optionLabel="label">
                        </p-dropdown>   
                        <small *ngIf="getNoValido('is_sup')" class="p-invalid">Este campo es obligatorio.</small>                             
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="tipo_empleado">Tipo de Empleado</label>
                        <p-dropdown placeholder="Escoje.." inputId="tipo_empleado" [options]="tipo_empleado" [class.ng-invalid]="getNoValido('tipo_empleado')" [class.ng-dirty]="getNoValido('tipo_empleado')" 
                                    name="tipo_empleado" formControlName="tipo_empleado" optionLabel="descripcion">
                        </p-dropdown>
                        <small *ngIf="getNoValido('tipo_empleado')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
                    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="id_puesto">Puesto</label>	
                        <p-autoComplete formControlName="id_puesto" [suggestions]="puestosFiltrados" (completeMethod)="filtrarPuesto($event)" field="titulo" 
                                        [dropdown]="true" [class.ng-invalid]="getNoValido('id_puesto')" [class.ng-dirty]="getNoValido('id_puesto')">
                            <ng-template let-id_puesto pTemplate="item">
                                <div class="country-item">
                                    <div>{{id_puesto.titulo | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>  
                        <small *ngIf="getNoValido('id_puesto')" class="p-invalid">Este campo es obligatorio.</small>                              
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="cod_cia">Empresa</label>
                        <p-dropdown placeholder="Escoje.." inputId="cod_cia" [options]="this.empresa" [class.ng-invalid]="getNoValido('cod_cia')" 
                                    [class.ng-dirty]="getNoValido('cod_cia')" (onChange)="buscaSucursales($event.value.cod_cia)"                                 
                                    name="cod_cia" formControlName="cod_cia" optionLabel="nombre">
                        </p-dropdown>    
                        <small *ngIf="getNoValido('cod_cia')" class="p-invalid">Este campo es obligatorio.</small>                            
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="suc_id">Sucursal</label>
                        <p-dropdown placeholder="Escoje.." inputId="suc_id" [options]="this.sucursales" [class.ng-invalid]="getNoValido('suc_id')" [class.ng-dirty]="getNoValido('suc_id')"                                 
                                    name="suc_id" formControlName="suc_id" optionLabel="descripcion">
                        </p-dropdown>    
                        <small *ngIf="getNoValido('suc_id')" class="p-invalid">Este campo es obligatorio.</small>                            
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="departamento">Departamento</label>
                        <p-dropdown placeholder="Escoje.." inputId="departamento" [options]="departamento" name="departamento" formControlName="departamento" 
                                    [class.ng-invalid]="getNoValido('departamento')" optionLabel="titulo"
                                    [class.ng-dirty]="getNoValido('departamento')" (onChange)="buscaSupervisor($event.value.id)">
                        </p-dropdown>
                        <small *ngIf="getNoValido('departamento')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>

                    <!-- <div class="p-field p-col-12 p-md-3">
                        <label for="num_emp_supervisor">Supervisor</label>	
                        <p-autoComplete formControlName="num_emp_supervisor" [suggestions]="supervisoresFiltrados" (completeMethod)="filtrarSupervisor($event)" [class.ng-dirty]="getNoValido('num_emp_supervisor')" 
                                        field="nombre_empleado" [dropdown]="true" [readonly]="this.supervisores.length === 0" forceSelection="true" [class.ng-invalid]="getNoValido('num_emp_supervisor')">
                            <ng-template let-supervisor pTemplate="item">
                                <div class="country-item">
                                    <div>{{supervisor.nombre_empleado | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>  
                        <small *ngIf="getNoValido('num_emp_supervisor')" class="p-invalid">Este campo es obligatorio.</small>                              
                    </div> -->

                    <div class="p-field p-col-12 p-md-3">
                        <label for="area">Area Empresa</label>
                        <p-dropdown placeholder="Escoje.." inputId="area" [options]="areas" name="area" formControlName="area" 
                                    [class.ng-invalid]="getNoValido('area')" optionLabel="descripcion"
                                    [class.ng-dirty]="getNoValido('area')">
                        </p-dropdown>
                        <small *ngIf="getNoValido('area')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="credito">Crédito</label>
                        <p-dropdown placeholder="Escoje.." inputId="credito" [options]="sino" name="credito" formControlName="credito">optionLabel="label"
                                    [class.ng-invalid]="getNoValido('credito')" [class.ng-dirty]="getNoValido('credito')">
                        </p-dropdown>   
                        <small *ngIf="getNoValido('credito')" class="p-invalid">Este campo es obligatorio.</small>                           
                    </div>
                    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="nomina">Nomina</label>
                        <span class=" p-input-icon-right">
                            <input id="nomina" type="text" pInputText formControlName="nomina"
                                   [class.ng-invalid]="getNoValido('nomina')" [class.ng-dirty]="getNoValido('nomina')">
                        </span>  
                        <small *ngIf="getNoValido('nomina')" class="p-invalid">Este campo es obligatorio.</small>                           
                    </div>
        
                    <div class="p-field p-col-12 p-md-3">
                        <label for="tipo_sueldo">Tipo Sueldo</label>
                        <p-dropdown placeholder="Escoje.." inputId="tipo_sueldo" [options]="tipo_sueldo" name="tipo_sueldo" formControlName="tipo_sueldo">optionLabel="label"
                                    [class.ng-invalid]="getNoValido('tipo_sueldo')" [class.ng-dirty]="getNoValido('tipo_sueldo')">
                        </p-dropdown>   
                        <small *ngIf="getNoValido('tipo_sueldo')" class="p-invalid">Este campo es obligatorio.</small>                           
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="sueldo">Sueldo</label>
                        <span class=" p-input-icon-right">
                            <input id="sueldo" type="number" pInputText formControlName="sueldo" [class.ng-invalid]="getNoValido('sueldo')" 
                                   [class.ng-dirty]="getNoValido('sueldo')">
                        </span>    
                        <small *ngIf="getNoValido('sueldo')" class="p-invalid">Este campo es obligatorio.</small>                            
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="monto_adicional">Monto Adicional</label>
                        <span class=" p-input-icon-right">
                            <input id="monto_adicional" type="number" pInputText formControlName="monto_adicional" [class.ng-invalid]="getNoValido('monto_adicional')" 
                                   [class.ng-dirty]="getNoValido('monto_adicional')">
                        </span>    
                        <small *ngIf="getNoValido('monto_adicional')" class="p-invalid">Este campo es obligatorio.</small>                            
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="id_moneda">Moneda</label>
                        <p-dropdown placeholder="Escoje.." inputId="id_moneda" [options]="monedas"  [class.ng-invalid]="getNoValido('id_moneda')" [class.ng-dirty]="getNoValido('id_moneda')"
                                    name="id_moneda" formControlName="id_moneda" optionLabel="descripcion">
                        </p-dropdown>  
                        <small *ngIf="getNoValido('id_moneda')" class="p-invalid">Este campo es obligatorio.</small>                              
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="tasa">Tasa</label>
                        <span class=" p-input-icon-right">
                            <input id="tasa" type="number" pInputText formControlName="tasa">
                        </span>                              
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="cuenta_fi">Cuenta Finanzas</label>
                        <span class=" p-input-icon-right">
                            <input id="cuenta_fi" type="text" pInputText formControlName="cuenta_fi" >
                        </span>                               
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="codigo_es">Código E/S</label>
                        <span class=" p-input-icon-right">
                            <input id="codigo_es" type="text" pInputText formControlName="codigo_es" >
                        </span>                               
                    </div>	
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="poncha">Ponchado</label>
                        <p-dropdown placeholder="Escoje.." inputId="poncha" [options]="sino"  [class.ng-invalid]="getNoValido('poncha')" [class.ng-dirty]="getNoValido('poncha')"                                
                                    name="poncha" formControlName="poncha">optionLabel="label">
                        </p-dropdown> 
                        <small *ngIf="getNoValido('poncha')" class="p-invalid">Este campo es obligatorio.</small>                               
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="fecha_inicio_c">Fecha Contrato</label>
                        <span class=" p-input-icon-right">
                            <p-calendar formControlName="fecha_inicio_c" dateFormat="yy/mm/dd" [showIcon]="true" 
                                        [class.ng-invalid]="getNoValido('fecha_inicio_c')" [class.ng-dirty]="getNoValido('fecha_inicio_c')" 
                                        (onSelect)="onSelectDate($event, 'fecha_inicio_c')">
                            </p-calendar>
                            <small *ngIf="getNoValido('fecha_inicio_c')" class="p-invalid">Este campo es obligatorio.</small>  
                        </span>                             
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="fecha_suspencion">Fecha Suspención</label>
                        <span class=" p-input-icon-right">
                            <p-calendar formControlName="fecha_suspencion" dateFormat="yy/mm/dd" [showIcon]="true" (onSelect)="onSelectDate($event, 'fecha_suspencion')">
                            </p-calendar>
                        </span>                              
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="fecha_termino_contrato">Fecha Termino Contrato</label>
                        <span class=" p-input-icon-right">
                            <p-calendar formControlName="fecha_termino_contrato" dateFormat="yy/mm/dd" [showIcon]="true" (onSelect)="onSelectDate($event, 'fecha_termino_contrato')">
                            </p-calendar>
                        </span>                              
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="fecha_ultimo_aumento">Fecha Aumento</label>
                        <span class=" p-input-icon-right">
                            <p-calendar formControlName="fecha_ultimo_aumento" dateFormat="yy/mm/dd" [showIcon]="true" (onSelect)="onSelectDate($event, 'fecha_ultimo_aumento')">
                            </p-calendar>
                        </span>                             
                    </div>    
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="Datos Bancarios" leftIcon="pi pi-mobile">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="tipocuenta">Tipo de Cuenta</label>
                        <p-dropdown placeholder="Escoje.." inputId="tipocuenta" [options]="sino" name="tipocuenta" formControlName="tipocuenta" 
                                >optionLabel="value"
                                    [class.ng-invalid]="getNoValido('tipocuenta')" [class.ng-dirty]="getNoValido('tipocuenta')">
                        </p-dropdown>    
                        <small *ngIf="getNoValido('tipocuenta')" class="p-invalid">Este campo es obligatorio.</small>                            
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="codbancodestino">Banco</label>
                        <p-dropdown placeholder="Escoje.." inputId="codbancodestino" [options]="bancos" name="codbancodestino" formControlName="codbancodestino"
                                    optionLabel="descripcion" [class.ng-invalid]="getNoValido('fecha_inicio_c')" 
                                    [class.ng-dirty]="getNoValido('fecha_inicio_c')">
                        </p-dropdown>
                        <small *ngIf="getNoValido('fecha_inicio_c')" class="p-invalid">Este campo es obligatorio.</small>  
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="no_cuenta_banco">NO. cuenta Banco</label>
                        <span class=" p-input-icon-right">
                            <input id="no_cuenta_banco" type="text" pInputText formControlName="no_cuenta_banco" >
                        </span>                               
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="digiverbancodestino">Dígito ver Banco</label>
                        <p-dropdown placeholder="Escoje.." [options]="sino" name="digiverbancodestino" formControlName="digiverbancodestino" 
                                    [class.ng-invalid]="getNoValido('digiverbancodestino')" [class.ng-dirty]="getNoValido('digiverbancodestino')" 
                                >optionLabel="value">
                        </p-dropdown>
                        <small *ngIf="getNoValido('digiverbancodestino')" class="p-invalid">Este campo es obligatorio.</small>  
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="cuenta_no">Cuenta</label>	
                        <p-autoComplete formControlName="cuenta_no" [suggestions]="cuentasFiltradas" (completeMethod)="filtrarCuentas($event)" field="descripcion" 
                                        [forceSelection]="true" [dropdown]="true" [class.ng-invalid]="getNoValido('cuenta_no')" [class.ng-dirty]="getNoValido('cuenta_no')">
                            <ng-template let-cuenta pTemplate="item" >
                                <div class="country-item">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                                    <div>{{cuenta.descripcion}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <small *ngIf="getNoValido('cuenta_no')" class="p-invalid">Este campo es obligatorio.</small>						
                    </div>
    
                    <!-- <div class="p-field p-col-12 p-md-3">
                        <label for="archivo_banco">Archivo Banco</label>
                        <p-dropdown placeholder="Escoje.." [options]="sino" name="archivo_banco" formControlName="archivo_banco" 
                                    [class.ng-invalid]="getNoValido('archivo_banco')" [class.ng-dirty]="getNoValido('archivo_banco')" 
                                >optionLabel="label">
                        </p-dropdown>      
                        <small *ngIf="getNoValido('archivo_banco')" class="p-invalid">Este campo es obligatorio.</small>                           
                    </div> -->
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="codigo_retiro_bco">Código Retiro Banco</label>
                        <span class=" p-input-icon-right">
                            <input id="codigo_retiro_bco" type="text" pInputText formControlName="codigo_retiro_bco" 
                                   [class.ng-invalid]="getNoValido('codigo_retiro_bco')" [class.ng-dirty]="getNoValido('codigo_retiro_bco')">
                        </span>    
                        <small *ngIf="getNoValido('codigo_retiro_bco')" class="p-invalid">Este campo es obligatorio.</small>                              
                    </div>
                    
                    <!-- <div class="p-field p-col-12 p-md-3">
                        <label for="retiro_comercial">Retiro Comercial</label>
                        <p-dropdown placeholder="Escoje.." inputId="retiro_comercial" [options]="sino" name="retiro_comercial" formControlName="retiro_comercial"
                                    optionLabel="label" [class.ng-invalid]="getNoValido('retiro_comercial')" 
                                    [class.ng-dirty]="getNoValido('retiro_comercial')">
                        </p-dropdown>   
                        <small *ngIf="getNoValido('retiro_comercial')" class="p-invalid">Este campo es obligatorio.</small>                              
                    </div> -->
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="estadolegal">Estado Legal</label>
                        <p-dropdown placeholder="Escoje.." inputId="estadolegal" [options]="sino" name="estadolegal" formControlName="estadolegal"
                                >optionLabel="label" [class.ng-invalid]="getNoValido('estadolegal')" 
                                    [class.ng-dirty]="getNoValido('estadolegal')">
                        </p-dropdown>    
                        <small *ngIf="getNoValido('estadolegal')" class="p-invalid">Este campo es obligatorio.</small>                             
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </p-panel>	
    <br>
    <button *ngIf="this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="this.actualizar" (click)="actualizarEmpleado()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>
