<p-toolbar *ngIf="this.esValido">	
    <div class="p-toolbar-group-left"></div>						
    <div class="p-toolbar-group-right">
        <span style="margin-right: 10px;"><strong>Desea afectar CUENTAS POR PAGAR?</strong></span>
    <p-selectButton [options]="opciones" [(ngModel)]="value1" optionLabel="label" optionValue="value" (onChange)="afectaCuentasPagar($event.value)"></p-selectButton>	
    </div>
</p-toolbar>
<br>
<form (ngSubmit)="guardarTransaccion()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12 p-md-2">
            <label for="tipo_doc">Tipo</label>
            <p-dropdown inputId="tipo_doc" [options]="tipo_documentos" name="tipo_doc" formControlName="tipo_doc" 
                        [class.ng-invalid]="getNoValido('tipo_doc')" [class.ng-dirty]="getNoValido('tipo_doc')"                                                                                                                 
                        (onChange)="prepagado($event)" placeholder="Escoge..." optionLabel="descripcion">
            </p-dropdown>
            <small *ngIf="getNoValido('tipo_doc')" class="p-invalid">Este campo es obligatorio.</small>
        </div>        
        
        <div class="p-field p-col-12 p-md-4">
            <label for="proveedor">Proveedor</label>	
            <p-autoComplete formControlName="proveedor" [suggestions]="ProveedoresFiltrados" 
                            [class.ng-invalid]="getNoValido('proveedor')" [class.ng-dirty]="getNoValido('proveedor')"  
                            (completeMethod)="filtrarProveedor($event)" (onSelect)="datosProv($event)"
                            field="nom_sp" [dropdown]="true">
                <ng-template let-proveedor pTemplate="item">
                    <div class="country-item">
                        <div>{{proveedor.nom_sp | titlecase}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('proveedor')" class="p-invalid">Este campo es obligatorio.</small>						
        </div>

        <div class="p-field p-col-12 p-md-2">
            <label for="moneda">Moneda</label>
            <p-dropdown inputId="moneda" [options]="monedas" name="moneda" 
                        [class.ng-invalid]="getNoValido('moneda')" [class.ng-dirty]="getNoValido('moneda')"  
                        formControlName="moneda" placeholder="Escoge..."
                        optionLabel="descripcion" (onChange)="simboloMoneda($event)">
            </p-dropdown>
            <small *ngIf="getNoValido('moneda')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-2">
            <label for="tasa">Tasa</label>
            <input type="text" pInputText formControlName="tasa"
                   [class.ng-invalid]="getNoValido('tasa')" [class.ng-dirty]="getNoValido('tasa')"  >
        </div>

        <div class="p-field p-col-12 p-md-2">
            <label for="valor">Monto</label>
            <p-inputNumber formControlName="valor" mode="currency" [currency]="this.divisa" locale="en-US"
            [class.ng-invalid]="getNoValido('valor')" [class.ng-dirty]="getNoValido('valor')"  ></p-inputNumber>
        </div>

        <!-- <div class="p-field p-col-12 p-md-2">
            <label for="documento">Documento</label>
            <input type="text" pInputText formControlName="documento" [class.ng-invalid]="getNoValido('documento')" [class.ng-dirty]="getNoValido('documento')"  >
        </div> -->

        <div class="p-field p-col-12 p-md-2">
            <label for="cuenta_no">Cuenta banco</label>
            <input type="text" pInputText formControlName="cuenta_no" [class.ng-invalid]="getNoValido('cuenta_no')" [class.ng-dirty]="getNoValido('cuenta_no')"  >
        </div>

        <div class="p-field p-col-12 p-md-6">
            <label for="nombre_sup">Portador</label>
            <input type="text" pInputText formControlName="nombre_sup" [class.ng-invalid]="getNoValido('nombre_sup')" [class.ng-dirty]="getNoValido('nombre_sup')"  >
        </div>

        <div class="p-field p-col-12 p-md-2">
            <label for="fecha">Fecha</label>
            <span class=" p-input-icon-right">
                <p-calendar formControlName="fecha" dateFormat="yy/mm/dd" [showIcon]="true" inputId="icon"
                            (onSelect)="onSelectDate($event)" [minDate]="minDate"
                            [class.ng-invalid]="getNoValido('fecha')" [class.ng-dirty]="getNoValido('fecha')">
                </p-calendar>
            </span>
            <small *ngIf="getNoValido('fecha')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12">
            <label for="detalle">Detalle</label>
            <textarea id="detalle" type="text" rows="4" pInputTextarea name="detalle" formControlName="detalle"
                      [class.ng-invalid]="getNoValido('detalle')" [class.ng-dirty]="getNoValido('detalle')"></textarea>
            <small *ngIf="getNoValido('detalle')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
    </div>
   
    <p-panel #pnl header="Detalles de cuentas por pagar" styleClass="p-mt-4">
        <div class="p-fluid p-formgrid p-grid">
            <div formArrayName="detalle_cxp">
                <p-toolbar>	
                    <div class="p-toolbar-group-left"></div>						
                    <div class="p-toolbar-group-right">
                        <button pButton pRipple label="Buscar Facturas" icon="pi pi-search" type="button" (click)="buscaFacturas()" [disabled]='this.forma.status === "INVALID"'></button>	
                    </div>
                </p-toolbar>
                <br>
                <p-table #dt [columns]="cols" [value]="detalleCxp" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
                             [rowHover]="true" [rows]="20" [paginator]="true" [filterDelay]="0" 
                             [globalFilterFields]="['tipo_orden','orden_no','aplica_a','valor_pendiente','valor_pagado']">
    
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar...."/>
                            </span>
                        </div>
                    </ng-template>
    
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" *ngIf="(col.field !== 'acciones')"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
    
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                        <tr [formGroupName]="i" class="p-selectable-row" #headerCxp>
                            <ng-container *ngIf="this.detalle_cxp.value.length !== 0">
                                <td *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'acciones'}">
                                    <span class="p-column-title">{{col.header}}</span>
        
                                    <span *ngIf="col.field === 'tipo_orden'">
                                        <p-dropdown [options]="tipo_ordenes" formControlName="tipo_orden" 
                                                    placeholder="Escoge..." optionLabel="descripcion">
                                        </p-dropdown>
                                    </span> 
        
                                    <span *ngIf="col.field === 'orden_no'">
                                        <input type="text" pInputText formControlName="orden_no" [ngClass]="{'read-only': cheque_prep}">
                                    </span>    
                                        
                                    <span *ngIf="col.field === 'aplica_a'">
                                        <input type="text" pInputText formControlName="aplica_a">
                                    </span>

                                    <span *ngIf="col.field === 'total'">
                                        <p-inputNumber formControlName="total" mode="currency" [currency]="this.divisa" locale="en-US">
                                        </p-inputNumber>
                                    </span>
                                            
                                    <span *ngIf="col.field === 'valor_pendiente'">
                                        <p-inputNumber formControlName="valor_pendiente" mode="currency" [currency]="this.divisa" locale="en-US">
                                        </p-inputNumber>
                                    </span>
        
                                    <span *ngIf="col.field === 'valor'">
                                        <p-inputNumber formControlName="valor" mode="currency" [currency]="this.divisa" locale="en-US" (onBlur)="totalMontoPagar()">
                                        </p-inputNumber>
                                    </span>
    
                                    <span *ngIf="col.field === 'acciones'">
                                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button p-button-danger p-mr-2 p-mb-2" 
                                                (click)="borrarCuentaCxPEscogida(i)">
                                        </button>
                                    </span>
                                </td>

                            </ng-container>
                            
                            <td [attr.colspan]="this.cols.length" *ngIf="this.detalle_cxp.value.length === 0">
                                <span>
                                    <button pButton pRipple label="Agregar Fila" icon="pi pi-search" type="button"></button>	
                                </span> 
                            </td>										
                        </tr>
                    </ng-template>
        
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="detalleCxp.length !== 1">
                            Existen {{detalleCxp ? detalleCxp.length : 0 }} cuentas en total.
                        </div>
    
                        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="detalleCxp.length === 1">
                            Existe solo {{detalleCxp ? detalleCxp.length : 0 }} cuentas en total.
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td><strong>Totales:</strong></td>											
                            <td></td>
                            <td></td>
                            <td class="centrar">{{this.simbolo}}{{this.totalF | number}}</td>
                            <td class="centrar">{{this.simbolo}}{{this.totalVpen | number}}</td>
                            <td class="centrar" *ngIf="this.totalVpag === this.MontoPago" class="verde">{{this.simbolo}}{{this.totalVpag | number}}</td>
                            <td class="centrar" *ngIf="this.totalVpag !== this.MontoPago" class="rojo">{{this.simbolo}}{{this.totalVpag | number}}</td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-panel>

    <br>
    <p-panel #pnl header="Detalles de cuentas" styleClass="p-mt-4">
        <div class="p-fluid p-formgrid p-grid">
            <div formArrayName="detalle_cuentas">
                <p-toolbar>	
                    <div class="p-toolbar-group-left"></div>						
                    <div class="p-toolbar-group-right">
                        <button pButton pRipple label="Buscar cuentas" icon="pi pi-search" type="button" (click)="buscaCuentas()" [disabled]='this.forma.status === "INVALID"'></button>	
                    </div>
                </p-toolbar>
                <br>
                <p-table #dt [columns]="cols2" [value]="detalleCuentas" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
                         [rowHover]="true" [rows]="20" [paginator]="true" [filterDelay]="0" 
                         [globalFilterFields]="['cuenta_no','departamento','ref','detalles','debito','credito']">
    
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar...."/>
                            </span>
                        </div>
                    </ng-template>
    
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" *ngIf="(col.field !== 'imagen' && col.field !== 'acciones')"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
    
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                        <tr [formGroupName]="i" class="p-selectable-row" #headerCuentas>	
                            <td *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'acciones'}">
                                <span class="p-column-title">{{col.header}}</span>

                                <span *ngIf="col.field === 'cuenta_no'">
                                    {{rowData['descripcion'] | titlecase}}<strong>({{ rowData[col.field]}})</strong> 
                                </span>

                                <span *ngIf="col.field === 'departamento'">
                                    <div [ngClass]="{'centrar': rowData['depto'] === 'no'}">
                                        <p-dropdown *ngIf="rowData['depto'] === 'si'" [options]="departamentos" formControlName="departamento" 
                                          placeholder="Escoge..." optionLabel="descripcion">
                                    </p-dropdown>
                                        <span *ngIf="rowData['depto'] === 'no'" class="p-badge p-badge-lg p-badge-success"><strong>NO</strong></span>
                                    </div>
                                </span>   

                                <span *ngIf="col.field === 'catalogo'">
                                    <div [ngClass]="{'centrar': rowData['catalogo'] === 'no'}">
                                        <input *ngIf="rowData['catalogo'] === 'si'" type="text" pInputText formControlName="cod_aux"  >
                                        <span *ngIf="rowData['catalogo'] === 'no'" class="p-badge p-badge-lg p-badge-success"><strong>NO</strong></span>
                                    </div>
                                </span> 

                                <span *ngIf="col.field === 'cod_sec'">
                                    <input type="text" pInputText formControlName="cod_sec">
                                </span>

                                <!-- <span *ngIf="col.field === 'ref'">
                                    <input type="text" pInputText formControlName="ref">
                                </span> -->

                                <span *ngIf="col.field === 'debito'">
                                    <p-inputNumber formControlName="debito" mode="currency" [currency]="this.divisa" locale="en-US" (onBlur)="calculaTotal($event.value)"></p-inputNumber>
                                </span>

                                <span *ngIf="col.field === 'credito'">
                                    <p-inputNumber formControlName="credito" mode="currency" [currency]="this.divisa" locale="en-US" (onBlur)="calculaTotal($event.value)"></p-inputNumber>
                                </span>

                                <span *ngIf="col.field === 'acciones'">
                                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button p-button-danger p-mr-2 p-mb-2" (click)="borrarCuentaDetalleEscogida(i)"></button>
                                </span>
                            </td>											
                        </tr>
                    </ng-template>
        
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="detalleCuentas.length !== 1">
                            Existen {{detalleCuentas ? detalleCuentas.length : 0 }} cuentas en total.
                        </div>
    
                        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="detalleCuentas.length === 1">
                            Existe solo {{detalleCuentas ? detalleCuentas.length : 0 }} cuentas en total.
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td><strong>Totales:</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td *ngIf="(this.totalC - this.totalD) !== 0" class="rojo"><strong>{{this.simbolo}}{{this.totalD | number}}</strong></td>
                            <td *ngIf="(this.totalC - this.totalD) !== 0" class="rojo"><strong>{{this.simbolo}}{{this.totalC | number}}</strong></td>
                            <td *ngIf="(this.totalC - this.totalD) === 0" class="verde"><strong>{{this.simbolo}}{{this.totalD | number}}</strong></td>
                            <td *ngIf="(this.totalC - this.totalD) === 0" class="verde"><strong>{{this.simbolo}}{{this.totalC | number}}</strong></td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-panel>

    <br>
    <button *ngIf="!this.formSubmitted && this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="actualizarTransaccion()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>
<p-progressBar mode="indeterminate" *ngIf="this.formSubmitted"></p-progressBar>