<p-table #dt [columns]="cols" [value]="productos" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
    [rowHover]="true" [rows]="5" [paginator]="true" [filterDelay]="0"  [(selection)]="selectedProducts" selectionMode="multiple"
    [globalFilterFields]="['imagen','titulo','codigo','precio_venta','cantidad1']" dataKey="id" (onRowSelect)="onRowSelect()" 
    (onRowUnselect)="onRowUnselect()" >

    <ng-template pTemplate="caption">
        <div class="table-header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..."/>
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr [pSelectableRow]="product">
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="{'centrar': col.field === 'imagen' || col.field === 'id'}">
                
                <!-- <p-tableHeaderCheckbox *ngIf="col.field === 'id'"></p-tableHeaderCheckbox> -->
                <span *ngIf="col.field !== 'id'">{{col.header}} 
                    <p-sortIcon [field]="col.field" *ngIf="col.field !=='imagen'"></p-sortIcon>
                </span> 
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr class="p-selectable-row" [ngClass]="{'noExistencia': rowData.cantidad1 === 0 || rowData.cantidad1 === null}"
            [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'imagen' || col.field === 'id' || col.field === 'cantidad1'}">
                <span class="p-column-title">{{col.header}}</span>

                <span *ngIf="col.field === 'imagen'">
                    <img [alt]="rowData[col.field]" [src]="rowData.galeriaImagenes | invProductos" width="64"
                        style="vertical-align: middle"/>
                    <div>{{rowData['titulo']}}</div>
                </span>
                
                <span *ngIf="col.field === 'precio'">
                    {{'$'}}{{ rowData[col.field] }}
                </span>

                <span *ngIf="col.field === 'codigo'">
                    {{ rowData[col.field] }}
                </span>

                <span *ngIf="col.field === 'stock'">
                    {{ rowData[col.field] || 0}}
                </span>

            </td>								
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No existen productos en la base de datos.</td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length !== 1">
            Existen {{productos ? productos.length : 0 }} productos en total.
        </div>

        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length === 1">
            Existe solo {{productos ? productos.length : 0 }} producto en total.
        </div>
    </ng-template>
</p-table>