<div class="p-col-12 p-md-6 p-xl-3">
    <div class="card no-gutter widget-overview-box widget-overview-box-1">
                    <span class="overview-icon">
                        <i class="pi pi-file-o"></i>
                    </span>
        <span class="overview-title">Ordenes</span>
        <div class="p-grid overview-detail">
            <div class="p-col-6">
                <div class="overview-number">640</div>
                <div class="overview-subtext">pendientes</div>
            </div>
            <div class="p-col-6">
                <div class="overview-number">1420</div>
                <div class="overview-subtext">Completedos</div>
            </div>
        </div>
    </div>
</div>

<div class="p-col-12 p-md-6 p-xl-3">
    <div class="card no-gutter widget-overview-box widget-overview-box-2">
                    <span class="overview-icon">
                        <i class="pi pi-dollar"></i>
                    </span>
        <span class="overview-title">Ganancias</span>
        <div class="p-grid overview-detail">
            <div class="p-col-6">
                <div class="overview-number">$2,100</div>
                <div class="overview-subtext">Gastos</div>
            </div>
            <div class="p-col-6">
                <div class="overview-number">$9,640</div>
                <div class="overview-subtext">Pendientes</div>
            </div>
        </div>
    </div>
</div>

<div class="p-col-12 p-md-6 p-xl-3">
    <div class="card no-gutter widget-overview-box widget-overview-box-3">
                    <span class="overview-icon">
                        <i class="pi pi-users"></i>
                    </span>
        <span class="overview-title">Clientes</span>
        <div class="p-grid overview-detail">
            <div class="p-col-6">
                <div class="overview-number">8272</div>
                <div class="overview-subtext">Activos</div>
            </div>
            <div class="p-col-6">
                <div class="overview-number">25402</div>
                <div class="overview-subtext">Registrados</div>
            </div>
        </div>
    </div>
</div>

<div class="p-col-12 p-md-6 p-xl-3">
    <div class="card no-gutter widget-overview-box widget-overview-box-4">
                    <span class="overview-icon">
                        <i class="pi pi-comment"></i>
                    </span>
        <span class="overview-title">Commentarios</span>
        <div class="p-grid overview-detail">
            <div class="p-col-6">
                <div class="overview-number">12</div>
                <div class="overview-subtext">Nuevo</div>
            </div>
            <div class="p-col-6">
                <div class="overview-number">85</div>
                <div class="overview-subtext">Respondidos</div>
            </div>
        </div>
    </div>
</div>