<div class="p-col-12 p-xl-6">
    <div class="card no-gutter orders">
        <div class="card-header">
            <h4>Ordenes</h4>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
            <button pButton type="button" id="orders-button" icon="pi pi-search" class="p-button-text p-button-secondary"
                    (click)="menu.toggle($event)"></button>
        </div>

        <div class="p-grid">
            <div class="p-col-12">
                <div id="order-tabs-container" class="p-grid order-tabs">
                    <div class="order-tab order-tab-new p-col-6 p-md-3"
                         (click)="changeDataset($event); chart.refresh()"
                         data-label="New Orders" data-index="0" data-stroke="#BBDEFB"
                         data-fill="rgba(100, 181, 246, 0.2)">
                        <i class="pi pi-plus-circle"></i>
                        <span class="order-label">Nuevo</span>
                        <i class="stat-detail-icon icon-arrow-right-circle"></i>
                        <img style="width: 100%;" src="assets/demo/images/dashboard/graph-new.svg" alt="diamond-ng"/>
                    </div>
                    <div class="order-tab order-tab-completed p-col-6 p-md-3"
                         (click)="changeDataset($event); chart.refresh()"
                         data-label="Completed Orders" data-index="1" data-stroke="#C5CAE9"
                         data-fill="rgba(121, 134, 203, 0.2)">
                        <i class="pi pi-check-circle"></i>
                        <span class="order-label">Completado</span>
                        <i class="stat-detail-icon icon-arrow-right-circle"></i>
                        <img style="width: 100%;" src="assets/demo/images/dashboard/graph-completed.svg" alt="diamond-ng"/>
                    </div>
                    <div class="order-tab order-tab-refunded p-col-6 p-md-3"
                         (click)="changeDataset($event); chart.refresh()"
                         data-label="Refunded Orders" data-index="2" data-stroke="#B2DFDB"
                         data-fill="rgba(224, 242, 241, 0.5)">
                        <i class="pi pi-refresh"></i>
                        <span class="order-label">Devoluciones</span>
                        <i class="stat-detail-icon icon-arrow-right-circle"></i>
                        <img style="width: 100%;" src="assets/demo/images/dashboard/graph-refunded.svg" alt="diamond-ng"/>
                    </div>
                    <div class="order-tab order-tab-cancelled p-col-6 p-md-3"
                         (click)="changeDataset($event); chart.refresh()"
                         data-label="Cancelled Orders" data-index="3" data-stroke="#B2EBF2"
                         data-fill="rgba(224, 247, 250, 0.5)">
                        <i class="pi pi-times-circle"></i>
                        <span class="order-label">Cancelados</span>
                        <i class="stat-detail-icon icon-arrow-right-circle"></i>
                        <img style="width: 100%;" src="assets/demo/images/dashboard/graph-cancelled.svg" alt="diamond-ng"/>
                    </div>
                </div>
            </div>
            <div class="p-col-12">
                <div class="overview-chart">
                    <p-chart #chart type="line" [data]="ordersChart" [options]="ordersChartOptions"
                             id="order-chart"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>