<form [formGroup]="forma">
    <div class="layout-dashboard" #general>
        <div class="p-grid">
            <div class="p-col-7">
                <div class="card">
                    <p-table #dt [columns]="cols" [value]="productos" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
                             [rowHover]="true" [filterDelay]="0" (onFilter)="onFilter($event)"
                             [scrollable]="true" [rows]="100" scrollHeight="250px" [virtualScroll]="true" [virtualRowHeight]="34"
                             [globalFilterFields]="['titulo','codigo','categoria','marca','almacen','tipoinventario']">
                        
                        <ng-template pTemplate="caption">
                            <div class="table-header">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText #input type="text" (keyup)="cambio($event)" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..."/>
                                </span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" *ngIf="(col.field !== 'imagen' && col.field !== 'acciones')"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="index">
                            <tr class="p-selectable-row" [attr.id]="rowData.id" (click)="agregarProducto(rowData)">

                                <td *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'titulo'  || col.field === 'cantidad'}">
                                    <span class="p-column-title">{{col.header}}</span>

                                    <span *ngIf="col.field === 'titulo'">
                                        <img [src]="rowData.galeriaImagenes | invProductos" width="64"
                                            style="vertical-align: middle"/>
                                        <div class="p-mb-3 demo-container p-text-nowrap p-text-truncate" style="width: 7rem" [pTooltip]="rowData['titulo']" tooltipPosition="bottom">										
                                            {{rowData['titulo']}}
                                        </div>
                                    </span>

                                    <span *ngIf="col.field === 'codigo'">
                                        {{ rowData[col.field] }}
                                    </span>

                                    <span *ngIf="col.field === 'precio_venta'">
                                        ${{ rowData[col.field] }}
                                    </span>

                                    <span *ngIf="col.field === 'marca' || col.field === 'categoria' || col.field === 'categoria' ||
                                                 col.field === 'propiedad' || col.field === 'almacen' || col.field === 'tipoinventario'">
                                        {{ rowData[col.field] | titlecase}}
                                    </span>

                                    <span *ngIf="col.field === 'cantidad' && rowData['tipo_producto'] !== 1">
                                        <span class="p-badge p-badge-lg p-badge-success"><i class="fas fa-infinity"></i></span>
                                    </span>

                                    <span *ngIf="col.field === 'cantidad' && rowData['tipo_producto'] === 1">
                                        <span *ngIf="(rowData.cantidad >= rowData.existenciaMaxima * 0.7) && rowData.existenciaMaxima !== null  " class="p-badge p-badge-lg p-badge-success">{{rowData.cantidad}}</span>
                                        <span *ngIf="rowData.cantidad < rowData.existenciaMaxima * 0.7 && rowData.cantidad >= rowData.existenciaMinima * 3" class="p-badge p-badge-lg p-badge-info">{{rowData.cantidad}}</span>
                                        <span *ngIf="rowData.cantidad < rowData.existenciaMinima * 3 && rowData.cantidad > 0" class="p-badge p-badge-lg p-badge-warning">{{rowData.cantidad}}</span>
                                        <span *ngIf="rowData.cantidad === 0 || rowData.cantidad === null" class="p-badge p-badge-lg p-badge-danger">0</span>
                                    </span>
                                </td>								
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No existen productos en la base de datos.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length !== 1">
                                Existen {{productos ? productos.length : 0 }} productos en total.
                            </div>

                            <div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length === 1">
                                Existe solo {{productos ? productos.length : 0 }} producto en total.
                            </div>
                        </ng-template>
                    </p-table>                   
                </div>
            </div>
    
            <div class="p-col-5">
                <!-- <div class="card opcion-top"></div> -->

                <div class="layout-dashboard opcion-bottom">
                    <div class="card">   
                        <div class="p-grid">
                            <div class="p-col-2">
                                <div class="card styled-box-green" pRipple (click)="op.toggle($event)" style="height: 80px;">
                                    <div class="p-grid user-card-stats puntero">
                                        <div class="p-col-12 p-text-center">
                                            <i class="botones-bottom fas fa-user"></i>
                                            <div>Clientes</div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
    
                            <div class="p-col-2">
                                <div class="card styled-box-green" pRipple style="height: 80px;">
                                    <div class="p-grid user-card-stats puntero">
                                        <div class="p-col-12 p-text-center">
                                            <i class="botones-bottom fas fa-percent"></i>
                                            <div>Descuentos</div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
    
                            <div class="p-col-2">
                                <div class="card styled-box-green" pRipple style="height: 80px;">
                                    <div class="p-grid user-card-stats puntero">
                                        <div class="p-col-12 p-text-center">
                                            <i class=" botones-bottom fas fa-undo"></i>
                                            <div>Devolución</div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
    
                            <div class="p-col-2">
                                <div class="card styled-box-green" pRipple style="background-color: #ff4949; height: 80px;" >
                                    <div class="p-grid user-card-stats puntero">
                                        <div class="p-col-12 p-text-center">
                                            <i class="botones-bottom pi pi-trash"></i>
                                            <div>Anular</div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            
                            <div class="p-col-2">                            
                                <div class="card styled-box-green" pRipple style="height: 80px;">
                                    <div class="p-grid user-card-stats puntero">
                                        <div class="p-col-12 p-text-center">
                                            <i class="botones-bottom far fa-file-alt"></i>
                                            <div>Cotizar</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="p-col-2">
                                <div class="card" [ngClass]="{'chosen': this.financiando}"
                                        style="background-color: #FBC02D; height: 80px;" pRipple (click)="financiar()">
                                    <div class="p-grid user-card-stats puntero">
                                        <div class="p-col-12 p-text-center">
                                            <i class="botones-bottom fas fa-comment-dollar"></i>
                                            <div>Financiar</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="p-col-4" *ngIf="!this.financiando">
                                <div class="card text-white puntero" pRipple (click)="cobrarFactura()" style="background-color: #689F38;">
                                    <div class="p-grid user-card-stats">
                                        <div class="p-col-12 p-text-center">
                                            <i class=" botones-bottom fas fa-hand-holding-usd"></i>
                                            <div>Cobrar Factura</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="p-col-4" *ngIf="this.financiando">
                                <div class="card financiar-button puntero" pRipple (click)="financiarFactura()" style="background-color: #ffc106;">
                                    <div class="p-grid user-card-stats">
                                        <div class="p-col-12 p-text-center">
                                            <i class=" botones-bottom fas fa-hand-holding-usd"></i>
                                            <div>Financiar Factura</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card">
                        <div class="p-col-12">
                            <div class="p-grid">
                                <div class="p-col">
                                    <div class="p-fluid">
                                        <div class="p-field p-grid" *ngIf="metodo.efectivo === true || metodo.ambos === true">
                                            <label for="efectivo" class="p-col-fixed">Efectivo</label>
                                            <div class="p-col">
                                                <input id="efectivo" type="text" pInputText pKeyFilter="int" formControlName="efectivo" [class.P-invalid]="getNoValido('efectivo')" 
                                                   (keyup)="calculaDevueltaE($event.target.value)" [readonly]="this.neto === 0"> 
                                                <small *ngIf="getNoValido('efectivo')" id="efectivo" class="p-invalid">Debe indicar el monto pagado</small>
                                                <small *ngIf="devueltaMenor" class="p-invalid">Monto es menor al total</small>
                                            </div>
                                        </div>        

                                        <div class="p-field p-grid" *ngIf="metodo.cheque === true">
                                            <label for="cheque_no" class="p-col-fixed" >Cheque</label>
                                            <div class="p-col">
                                                <input id="cheque_no" type="text" pInputText pKeyFilter="int" formControlName="cheque_no"> 
                                            </div>
                                        </div> 
                
                                        <div class="p-field p-grid" *ngIf="metodo.tarjeta === true || metodo.ambos === true">
                                            <label for="tarjeta_no" class="p-col-fixed">Tarjeta</label>
                                            <div class="p-col">
                                                <input id="tarjeta_no" type="text" pInputText pKeyFilter="int" formControlName="tarjeta_no"> 
                                            </div>
                                        </div> 

                                        <div class="p-field p-grid">
                                            <label for="cheque_no" class="p-col-fixed" >Devuelta</label>
                                            <div class="p-col">
                                                <input id="devuelta" type="text" pInputText pKeyFilter="int" formControlName="devuelta"> 
                                            </div>
                                        </div> 
                                        
                                        <div class="p-field p-grid">
                                            <label for="firstname4" class="p-col-fixed">Descuento</label>
                                            <div class="p-col">
                                                <input id="descuento" type="text" pInputText pKeyFilter="int" formControlName="descuento" readonly> 
                                            </div>
                                        </div>

                                        <div class="p-field p-grid">
                                            <label for="lastname4" class="p-col-fixed">ITBIS</label>
                                            <div class="p-col">
                                                <input id="monto_itbis" type="text" pInputText pKeyFilter="int" formControlName="monto_itbis" readonly> 
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="p-col">
                                    <div class="widget-pricing-card">
                                        <h3 style="text-align: start !important;">TOTAL: $RD {{this.neto}}</h3>
                                        <h4 style="text-align: start !important;">{{this.cliente | uppercase}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
   
    <p-toast key="tc"></p-toast>
        
    <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
        <ng-template pTemplate>
            <p-table #dt3 [value]="clientes" selectionMode="single" [(selection)]="clientesSeleccionados" (onRowSelect)="clienteSeleccionado($event.data)" 
                        [paginator]="true" [rows]="5" [globalFilterFields]="['nombre','num_rnc','cedula']">
                <ng-template pTemplate="caption">
                <div class="table-header">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt3.filterGlobal($event.target.value, 'contains')" placeholder="Buscar Cliente..."/>
                    </span>
                </div>
            </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nombre">Nombre<p-sortIcon field="name"></p-sortIcon></th>                    
                        <th pSortableColumn="num_rnc">RNC <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="cedula">Cédula <p-sortIcon field="price"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-cliente>
                    <tr [pSelectableRow]="rowData">
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.num_rnc}}</td>
                        <td>{{cliente.cedula}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
    </p-overlayPanel>

    <p-sidebar [(visible)]="display" position="right" [baseZIndex]="10000" [style]="{width:'40%'}">
        <br>
        <br>
        <p-tabView>
            <p-tabPanel header="General" formArrayName="productos">
                <p-table #dt [columns]="cols" [value]="productosSeleccionados" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
                        [rowHover]="true" [filterDelay]="0" [globalFilterFields]="['titulo','codigo','categoria','marca']" [scrollable]="true" [scrollHeight]="this.detailHeigth">
                    <!--                                 
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
                            </span>
                        </div>
                    </ng-template> -->

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" *ngIf="(col.field !== 'imagen' && col.field !== 'acciones')"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                        <tr class="p-selectable-row" [formGroupName]="i">
                            <td *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'imagen' || col.field === 'acciones'}" >
                                <span class="p-column-title">{{col.header}}</span>

                                <span *ngIf="col.field === 'titulo'">
                                    <!-- <img [src]="rowData.galeriaImagenes | invProductos" width="64" style="vertical-align: middle"/> -->
                                    <div class="p-mb-3 demo-container p-text-nowrap p-text-truncate" style="width: 7rem" [pTooltip]="rowData['titulo']" tooltipPosition="bottom">										
                                        {{rowData['titulo']}}
                                    </div>
                                </span>
                                                    
                                <div *ngIf="col.field === 'codigo'">
                                    {{ rowData[col.field] }}
                                </div>

                                <div *ngIf="col.field === 'precio_venta'">
                                    ${{ rowData[col.field] }}
                                </div>

                                <div *ngIf="col.field === 'cantidad'">
                                    <input type="number" pInputText [min]="1" pKeyFilter="int" formControlName="cantidad1" 
                                            (input)="recalcula($event.target.value)" style="width: 100%;"/>
                                </div>

                                <div *ngIf="col.field === 'acciones'">                        
                                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button p-button-danger p-mr-2 p-mb-2" 
                                            (click)="eliminarProducto(rowData)">
                                    </button>                       
                                </div>
                            </td>                
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>

            <p-tabPanel *ngFor="let categoria of categorias; let i = index" [header]="categoria.descripcion | titlecase">
                <p-table #dt2 [columns]="cols2" [value]="productosSeleccionados" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
                        [rowHover]="true" [filterDelay]="0" [globalFilterFields]="['titulo','codigo','categoria','marca']">
                    
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
                            </span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" *ngIf="(col.field !== 'imagen' && col.field !== 'acciones')"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                        <tr class="p-selectable-row" *ngIf="rowData.categoria === categoria.descripcion">

                            <td *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'imagen'}">
                                
                                <span class="p-column-title">{{col.header}}</span>

                                <div *ngIf="col.field === 'imagen'">
                                    <img [alt]="rowData[col.field]" [src]="rowData.galeriaImagenes | invProductos" width="64"
                                            style="vertical-align: middle"/>
                                    <span [pTooltip]="rowData['titulo']">{{ rowData['titulo'] | titlecase }}</span>
                                </div>

                                <div *ngIf="col.field === 'titulo'" class="p-mb-3 demo-container p-text-nowrap p-text-truncate" style="width: 6rem">
                                    {{ rowData[col.field] | titlecase }}                                
                                </div>

                                <div *ngIf="col.field === 'codigo'">
                                    {{ rowData[col.field] }}
                                </div>

                                <div *ngIf="col.field === 'precio_venta'">
                                    ${{ rowData[col.field] }}
                                </div>

                                <div *ngIf="col.field === 'cantidad'">
                                    <input pInputText [min]="1" pKeyFilter="int" style="width: 100%;"/>
                                </div>
                            </td>                
                        </tr>
                    </ng-template>
                </p-table>                
            </p-tabPanel>
        </p-tabView>

        <div class="p-col opcion-bottom">
            <div class="widget-pricing-card" style="padding: 1.2rem;">
                <h4 style="text-align: start !important;">TOTAL: $RD {{this.neto}}</h4>
                <h4 style="text-align: start !important;">{{this.cliente | uppercase}}</h4>
            </div>
        </div>
    </p-sidebar>
</form>   

