
<div class="p-grid table-demo">
	<div class="p-col-12">
		<div class="card">
            <h5>Gestión de Proveedores</h5>
            <p-tabView orientation="left" [(activeIndex)]="index">
                <p-tabPanel header="Consultar" leftIcon="pi pi-search">
					<p-table #dt [columns]="cols" [value]="proveedores" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
                                 [rowHover]="true" [rows]="20" [paginator]="true" [filterDelay]="0" dataKey="documento"
                                 [globalFilterFields]="['nombre','num_rnc','email','celular','vendedor']">
					
						<ng-template pTemplate="caption">
							<div class="table-header">
								<span class="p-input-icon-left">
									<i class="pi pi-search"></i>
									<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..."/>
								</span>
							</div>
						</ng-template>
						
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns" [pSortableColumn]="col.field">
									{{col.header}}									
									<p-sortIcon [field]="col.field" *ngIf="col.field !== 'acciones'"></p-sortIcon>
								</th>
							</tr>
						</ng-template>
						
						<ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
							<tr class="p-selectable-row">
							
								<td *ngFor="let col of columns">
									<div class="p-column-title">{{col.header}}</div>								
                                             
									<div *ngIf="col.field === 'nom_sp'">
										{{rowData[col.field] | titlecase}}
									</div>
									
									<div *ngIf="col.field === 'contacto'">
										{{rowData[col.field] }}
									</div>
									
									<div *ngIf="col.field === 'email'" class="p-text-nowrap p-text-truncate" style="width: 10rem">
										{{rowData[col.field]}}
									</div>

									<div *ngIf="col.field === 'dir_sp'">
										{{rowData[col.field] }}
									</div>

									<div *ngIf="col.field === 'tel_contacto'">
										{{rowData[col.field] }}
									</div>

									<div *ngIf="col.field === 'acciones'">
										<button pButton pRipple type="button" [pRowToggler]="rowData" [icon]="expanded ? 'pi pi-eye-slash' : 'pi pi-eye'" class="p-button p-button-success p-mr-2 p-mb-2" pTooltip="Ver Detalles"></button>
										<button pButton pRipple type="button" icon="pi pi-user-edit"  class="p-button p-button-warning p-mr-2 p-mb-2" (click)="actualizarProveedor(rowData)" pTooltip="Actualizar"></button>
										<button pButton pRipple type="button" icon="pi pi-trash"      class="p-button p-button-danger p-mr-2 p-mb-2" (click)="borrarProveedor(rowData.uid)" pTooltip="Eliminar"></button>
										<!-- <button pButton pRipple type="button" icon="pi pi-file-excel" class="p-button p-button-success p-mr-2 p-mb-2" (click)="dt.exportCSV()"></button> -->
									</div>
								</td>								
							</tr>
						</ng-template>

						<ng-template pTemplate="rowexpansion" let-rowData>
							<tr>
								<td [attr.colspan]="cols.length">
									<div class="p-p-3">
										<p-table [value]="rowData.cuentas_proveedor" dataKey="documento">
											<ng-template pTemplate="header">
												<tr>													
													<th class="centrar" pSortableColumn="descripcion">descripcion <p-sortIcon field="descripcion"></p-sortIcon></th>
													<th class="centrar" pSortableColumn="cuenta_no">cuenta_no <p-sortIcon field="cuenta_no"></p-sortIcon></th>
													<th class="centrar" pSortableColumn="porciento">porciento <p-sortIcon field="porciento"></p-sortIcon></th>
												</tr>
											</ng-template>
											<ng-template pTemplate="body" let-detalle>
												<tr>
													<td class="centrar">{{detalle.descripcion | titlecase}}</td>
													<td class="centrar">{{detalle.cuenta_no}}</td>
													<td class="centrar">{{detalle.porciento}}</td>
												</tr>
											</ng-template>
										</p-table>
									</div>
								</td>
							</tr>
						</ng-template>

						<ng-template pTemplate="emptymessage">
							<tr>
								<td colspan="8">No existen proveedores en la base de datos.</td>
							</tr>
						</ng-template>
						
						<ng-template pTemplate="summary">
							<div class="p-d-flex p-ai-center p-jc-between" *ngIf="proveedores.length !== 1">
								Existen {{proveedores ? proveedores.length : 0 }} proveedores en total.
							</div>
							
							<div class="p-d-flex p-ai-center p-jc-between" *ngIf="proveedores.length === 1">
								Existe solo {{proveedores ? proveedores.length : 0 }} proveedor en total.
							</div>
						</ng-template>
					</p-table>
                </p-tabPanel>

                <p-tabPanel header="Adicionar" leftIcon="pi pi-plus">
                    <app-formulario-proveedores></app-formulario-proveedores>
				</p-tabPanel>				
            </p-tabView>
		</div>	
		
		<p-toast key="tst"></p-toast>

		<p-confirmDialog header="Atención" icon="pi pi-exclamation-triangle" message="Esta seguro de borrar este registro?"
						 [style]="{width: '425px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
		</p-confirmDialog>
	</div>	
</div>
