<form (ngSubmit)="guardarZona()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
            <label for="descripcion">Descripcion</label>
            <span class=" p-input-icon-right">
                <input id="descripcion" type="text" pInputText formControlName="descripcion" 
                        [class.ng-invalid]="getNoValido('descripcion')" [class.ng-dirty]="getNoValido('descripcion')" 
                        (keyup)="verificaZona($event.target.value)">
                <i class="pi pi-spin pi-spinner" *ngIf="zonaExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="zonaExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="zonaExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="zonaExiste === 3"></i>
                <small *ngIf="getNoValido('descripcion')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>
    </div>
    <div style="width: 30%;">
        <p-panel #pnl header="Listado de provincias" styleClass="p-mt-4">
            <p-table #dt [columns]="cols2" [value]="provincias" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
                     [rowHover]="true" [rows]="10" [paginator]="true" [filterDelay]="0" [(selection)]="provinciasSeleccionadas" 
                     selectionMode="multiple" [globalFilterFields]="['descripcion']" dataKey="id" (onRowSelect)="onRowSelect($event, dt)" >
    
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..."/>
                        </span>
                    </div>
                </ng-template>
    
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'descripcion'}">                
                            <p-tableHeaderCheckbox *ngIf="col.field === 'descripcion'"></p-tableHeaderCheckbox>
                        </th>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                    <tr class="p-selectable-row" [pSelectableRow]="rowData" [pSelectableRowIndex]="i" [id]="i">
                        <td *ngFor="let col of columns" [ngClass]="{'centrar':col.field === 'descripcion'}">
                            <span class="p-column-title">{{col.header}}</span>								
    
                            <!-- <span *ngIf="col.field === 'id'">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </span> -->
                                
                            <span *ngIf="col.field === 'descripcion'">
                                {{ rowData[col.field] | uppercase}} 
                                <!-- <i class="pi pi-spin pi-spinner" style="font-size:2rem; right:10px; position:absolute;"></i> -->
                            </span>
    
                        </td>								
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>
    <br>
    <button *ngIf="this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="this.actualizar" (click)="actualizarZona()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>
