<div class="p-grid">
    <div class="p-col-4">
        <div class="card">
            <p-table [value]="denominaciones" styleClass="p-datatable-gridlines">               
                <ng-template pTemplate="header">
                    <tr>
                        <th>Denominación</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-i="rowIndex">
                    <tr>
                        <td class="centrar"><strong>{{product.denominacion}}</strong></td>
                        <td> 
                            <p-inputNumber [(ngModel)]="product.cantidad" mode="decimal" [showButtons]="true" 
                                           [min]="0" [max]="99" (onInput)="calculaDeno($event, product, i)">
                            </p-inputNumber>
                        </td>
                        <td> <input pInputText type="number" [(ngModel)]="product.total" style="width:100%" readonly></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr class="centrar">
                        <td><strong>Totales:</strong></td>
                        <td><strong>{{this.totalBilletes}}</strong></td>
                        <td><strong>${{this.totalRecibido}}</strong></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="p-col-8">
        <!-- <p-pickList [source]="this.sucursales" [target]="this.sucursalesEscogidas" sourceHeader="Disponibles" targetHeader="Seleccionados" dragdrop="true"
                    [responsive]="true" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" filterBy="name"
                    sourceFilterPlaceholder="Buscar por nombre" targetFilterPlaceholder="Buscar por nombre">
            <ng-template let-usuario pTemplate="item">
                <div class="product-item">                  
                    <div class="product-list-detail">
                        <h5 class="p-mb-2">{{ usuario.descripcion | titlecase }}</h5>
                        <span class="product-category">{{ usuario.detalle[0].pais | uppercase}} - {{ usuario.detalle[0].ciudad }}</span>
                    </div>
                </div>
            </ng-template>
        </p-pickList>
        <br>
        <p-progressBar mode="indeterminate" *ngIf="this.formSubmitted"></p-progressBar>
        <br>
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="right">
                <button pButton pRipple label="Enviar" class="p-button-success p-mr-2" type="button" (click)="guardarPermisos()"></button>          
            </ng-template>
        </p-toolbar> -->

        <form (ngSubmit)="guardarMoneda()" [formGroup]="forma">
            <div class="card">
                <h5>Detalles del Cuadre</h5>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="descripcion">Descripción</label>
                        <input id="descripcion" type="text" pInputText [class.ng-invalid]="getNoValido('descripcion')" [class.ng-dirty]="getNoValido('descripcion')"> 
                        <small *ngIf="getNoValido('descripcion')" class="p-invalid">Este campo es obligatorio.</small>	
                    </div>

                    <div class="p-field p-col-12 p-md-3" *ngIf="this.sucursales.length > 1">
                        <label for="descripcion">Sucursales</label>
                        <p-multiSelect [options]="this.sucursales"  defaultLabel="Elegir sucursales" optionLabel="descripcion">
                        </p-multiSelect>
                    </div>    

                    <div class="p-field p-col-12 p-md-3">
                        <label for="cajero">Cajero</label>	
                        <p-autoComplete formControlName="cajero" [suggestions]="cajeroFiltrado" [class.ng-invalid]="getNoValido('cajero')" 
                                        [class.ng-dirty]="getNoValido('cajero')" (completeMethod)="filtrarcajero($event)" 
                                        (onSelect)="datosCajero($event)" field="nombre_empleado" [dropdown]="true">
                            <ng-template let-cajero pTemplate="item">
                                <div class="country-item">
                                    <div>{{cajero.nombre_empleado | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <small *ngIf="getNoValido('cajero')" class="p-invalid">Este campo es obligatorio.</small>						
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="turno">Turno</label>
                        <p-dropdown inputId="turno" [options]="this.turnos" optionLabel="descripcion" [class.ng-invalid]="getNoValido('turno')" 
                                    [class.ng-dirty]="getNoValido('turno')">
                        </p-dropdown>
                        <small *ngIf="getNoValido('turno')" class="p-invalid">Este campo es obligatorio.</small>	
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="caja">Caja a Cerrar</label>
                        <p-dropdown inputId="caja" [options]="this.puestosCaja" optionLabel="descripcion" [class.ng-invalid]="getNoValido('caja')" 
                                    [class.ng-dirty]="getNoValido('caja')">
                        </p-dropdown>
                        <small *ngIf="getNoValido('caja')" class="p-invalid">Este campo es obligatorio.</small>	
                    </div>
                    
                    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="fecha">Fecha</label>
                        <span class=" p-input-icon-right">
                            <p-calendar dateFormat="yy/mm/dd" [showIcon]="true" inputId="icon"
                                        (onSelect)="onSelectDate($event)" [minDate]="minDate" [class.ng-invalid]="getNoValido('fecha')" 
                                        [class.ng-dirty]="getNoValido('fecha')">
                            </p-calendar>
                        </span>
                        <small *ngIf="getNoValido('fecha')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>    
                </div>

                <hr>
                    <div class="p-text-right" style="font-size: 15px;">
                        <strong class="p-mr-2">Efectivo:</strong>
                        <span style="color:#16ce16">${{this.saldoInicial || 0}}</span> 
                    </div>

                    <div class="p-text-right" style="font-size: 15px;">
                        <strong class="p-mr-2">Tarjeta:</strong>
                        <span style="color:#16ce16">${{this.saldoInicial || 0}}</span> 
                    </div>

                    <div class="p-text-right" style="font-size: 15px;">
                        <strong class="p-mr-2">Cheque:</strong>
                        <span style="color:#16ce16">${{this.saldoInicial || 0}}</span> 
                    </div>
                <hr>

                <div class="p-text-right" style="font-size: 15px;">
                    <strong class="p-mr-2">Saldo Inicial:</strong>
                    <span style="color:#16ce16">${{this.saldoInicial || 0}}</span> 
                </div>
                <div class="p-text-right" style="font-size: 15px;">
                    <strong class="p-mr-2">Saldo Actual:</strong>
                    <span style="color:#16ce16">${{this.saldoActual || 0}}</span> 
                </div>
                <div class="p-text-right" style="font-size: 15px;">
                    <strong class="p-mr-2">Importe Entrega:</strong>
                    <span style="color:#16ce16">${{this.totalRecibido || 0}}</span>
                </div>
                <div class="p-text-right" style="font-size: 15px;">
                    <strong class="p-mr-2">Saldo Final:</strong>
                    <span style="color:#16ce16">${{this.saldoFinal || 0}}</span>
                </div>

                <button *ngIf="!this.formSubmitted && this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
                <button *ngIf="!this.formSubmitted && this.actualizar" (click)="actualizarMoneda()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
                <button *ngIf="!this.formSubmitted && this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
            </div>
        </form>
    </div>
</div>    
<br>
<p-progressBar mode="indeterminate" *ngIf="this.formSubmitted"></p-progressBar>