<div class="p-grid">
    <div class="p-col-4">
        <div class="card">
            <p-table [value]="denominaciones" styleClass="p-datatable-gridlines">               
                <ng-template pTemplate="header">
                    <tr>
                        <th>Denominación</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-i="rowIndex">
                    <tr>
                        <td class="centrar"><strong>{{product.denominacion}}</strong></td>
                        <td> 
                            <p-inputNumber [(ngModel)]="product.cantidad" mode="decimal" [showButtons]="true" 
                                           [min]="0" [max]="99" (onInput)="calculaDeno($event, product, i)">
                            </p-inputNumber>
                        </td>
                        <td> <input pInputText type="number" [(ngModel)]="product.total" style="width:100%" readonly></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr class="centrar">
                        <td><strong>Totales:</strong></td>
                        <td><strong>{{this.totalBilletes}}</strong></td>
                        <td><strong>${{this.totalRecibido}}</strong></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="p-col-8">
        <form (ngSubmit)="guardarMoneda()" [formGroup]="forma">
            <div class="card">
                <h5>Detalles del Cuadre</h5>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="descripcion">Descripción</label>
                        <input id="descripcion" type="text" pInputText> 
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="cajero">Cajero</label>
                        <p-dropdown inputId="cajero" [options]="this.cajeros" placeholder="Select" optionLabel="primernombre"></p-dropdown>
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="turno">Turno</label>
                        <p-dropdown inputId="turno" [options]="" placeholder="Select" optionLabel="name"></p-dropdown>
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="caja">Caja a Cerrar</label>
                        <p-dropdown inputId="caja" [options]="this.puestos" placeholder="Select" optionLabel="descripcion"></p-dropdown>
                    </div>
                    
                    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="fecha">Fecha</label>
                        <span class=" p-input-icon-right">
                            <p-calendar dateFormat="yy/mm/dd" [showIcon]="true" inputId="icon"
                                        (onSelect)="onSelectDate($event)" [minDate]="minDate" [class.ng-invalid]="getNoValido('fecha')" 
                                        [class.ng-dirty]="getNoValido('fecha')">
                            </p-calendar>
                        </span>
                        <small *ngIf="getNoValido('fecha')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
    
                    <!-- <div class="p-field p-col-12 p-md-3">
                        <label for="saldo">Saldo Actual</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">$</span>
                            <input type="number" pInputText placeholder="Price">   
                            <span class="p-inputgroup-addon">.00</span>      
                        </div>
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="zip">Importe Entrega</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">$</span>
                            <input type="number" pInputText formControlName='importeEntrega'>   
                            <span class="p-inputgroup-addon">.00</span>      
                        </div>
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="zip">Saldo Final</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">$</span>
                            <input type="number" pInputText placeholder="Price">   
                            <span class="p-inputgroup-addon">.00</span>      
                        </div>
                    </div> -->
                </div>
                <hr>

                <div class="p-text-right" style="font-size: 25px;">
                    <strong class="p-mr-2">Saldo Inicial:</strong>
                    <span style="color:#16ce16">${{this.saldoInicial || 0}}</span> 
                </div>
                <div class="p-text-right" style="font-size: 25px;">
                    <strong class="p-mr-2">Saldo Actual:</strong>
                    <span style="color:#16ce16">${{this.saldoActual || 0}}</span> 
                </div>
                <div class="p-text-right" style="font-size: 25px;">
                    <strong class="p-mr-2">Importe Entrega:</strong>
                    <span style="color:#16ce16">${{this.totalRecibido || 0}}</span>
                </div>
                <div class="p-text-right" style="font-size: 25px;">
                    <strong class="p-mr-2">Saldo Final:</strong>
                    <span style="color:#16ce16">${{this.saldoFinal || 0}}</span>
                </div>

                <button *ngIf="!this.formSubmitted && this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
                <button *ngIf="!this.formSubmitted && this.actualizar" (click)="actualizarMoneda()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
                <button *ngIf="!this.formSubmitted && this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
            </div>
        </form>
    </div>
</div>    
<br>
<p-progressBar mode="indeterminate" *ngIf="this.formSubmitted"></p-progressBar>