<div class="p-col-12 p-xl-6">
    <div class="card">
        <div class="card-header">
            <h4>Ventas Recientes</h4>
            <p-dropdown [options]="orderWeek" [(ngModel)]="selectedOrderWeek" optionLabel="name" (onChange)="recentSales($event)"
                        styleClass="dashbard-demo-dropdown" [ngStyle]="{'min-width': '8rem'}"></p-dropdown>
        </div>

        <p>Actividad de ventas</p>


        <p-table [value]="products" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">ID
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="category">Category
                        <p-sortIcon field="category"></p-sortIcon>
                    </th>
                    <th pSortableColumn="price">Price
                        <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="inventoryStatus">Status
                        <p-sortIcon field="inventoryStatus"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td><span
                            [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                    </td>
                    <td style="text-align: center">
                        <button pButton type="button" icon="pi pi-search"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>