<!-- <div class="intermitente" *ngIf="this.items.length !== 0 && this.rutaActual[1] === 'compras'">
	<p-accordion styleClass="intermitente">
		<p-accordionTab header="CLICK AQUI PARA INSERCION DE DATOS INICALES">       
		   <div class="card">
			   <p-toast></p-toast>
			   <p-steps [model]="items" [readonly]="true"></p-steps>
		   </div>
		   <router-outlet></router-outlet>
		   <app-step-toolbar [items]="this.items" [readonly]="true"></app-step-toolbar>
		</p-accordionTab>
	</p-accordion>
</div>
<br> 
<button *ngIf="this.rutaActual[1] !== 'compras'" pButton pRipple label="Ir a Formulario de Proveedores" 
        icon="pi pi-chevron" type="button" class="p-button-lg p-d-block p-mx-auto" (click)="redirigir()">
</button>
<br>-->
<form (ngSubmit)="guardarProveedor()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
        
        <div class="p-field p-col-12 p-md-3">
            <label for="nom_sp">Nombre</label>
            <span class=" p-input-icon-right">
                <input id="nom_sp" type="text" pInputText formControlName="nom_sp" [class.ng-invalid]="getNoValido('nom_sp')" 
                       [class.ng-dirty]="getNoValido('nom_sp')" (keyup)="verificaProveedor($event.target.value)">
                <i class="pi pi-spin pi-spinner" *ngIf="proveedorExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="proveedorExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="proveedorExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-user" *ngIf="proveedorExiste === 3"></i>
            </span>
            <small *ngIf="getNoValido('nom_sp')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="email">Email</label>
            <span class=" p-input-icon-right">
                <input   type="text" pInputText formControlName="email" [class.ng-invalid]="getNoValido('email')" 
                       [class.ng-dirty]="getNoValido('email')">
            </span>
            <small *ngIf="getNoValido('email')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="contacto">Persona de Contacto</label>
            <span class=" p-input-icon-right">
                <input id="contacto" type="text" pInputText formControlName="contacto" [class.ng-invalid]="getNoValido('contacto')" 
                       [class.ng-dirty]="getNoValido('contacto')">
            </span>
            <small *ngIf="getNoValido('contacto')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        
        <div class="p-field p-col-12 p-md-3">
            <label for="tel_contacto">Teléfono Contacto</label>
            <span class=" p-input-icon-right">
                <input type="text" pInputText formControlName="tel_contacto" [class.ng-invalid]="getNoValido('tel_contacto')" 
                       [class.ng-dirty]="getNoValido('tel_contacto')">
            </span>
            <small *ngIf="getNoValido('tel_contacto')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
                
        <div class="p-field p-col-12 p-md-3">
            <label for="cond_pago">Condición Pago</label>
            <p-dropdown [options]="condpago" [class.ng-invalid]="getNoValido('cond_pago')" 
                        [class.ng-dirty]="getNoValido('cond_pago')" name="cond_pago" formControlName="cond_pago" 
                        id="drop-down" placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('cond_pago')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="moneda">Moneda</label>
            <p-dropdown [options]="monedas" [class.ng-invalid]="getNoValido('moneda')" 
                        [class.ng-dirty]="getNoValido('moneda')" name="moneda" formControlName="moneda" 
                        id="drop-down" placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('moneda')" class="p-invalid">Este campo es obligatorio.</small>
        </div>      

        <div class="p-field p-col-12">
            <label for="dir_sp">Dirección</label>
            <textarea id="dir_sp" type="text" rows="4" pInputTextarea name="dir_sp" formControlName="dir_sp"
                      [class.ng-invalid]="getNoValido('dir_sp')" [class.ng-dirty]="getNoValido('dir_sp')">
            </textarea>
            <small *ngIf="getNoValido('dir_sp')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
     
    </div>
    <br>
    <button *ngIf="this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="this.actualizar" (click)="actualizarProveedor()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>
