<div class="p-grid table-demo">
	<div class="p-col-12">
		<div class="card">
            <h5>Gestión de Facturas Proveedores</h5>
            <p-tabView orientation="left" [(activeIndex)]="index">
                <p-tabPanel header="Consultar" leftIcon="pi pi-search" >				
					<p-table #dt [columns]="cols" [value]="facturas" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
						[rowHover]="true" [rows]="20" [paginator]="true" [filterDelay]="0" dataKey="id" [globalFilterFields]="['id','num_doc','proveedor_nombre','moneda']">
		
						<ng-template pTemplate="caption">
							<div class="table-header">
								<span class="p-input-icon-left">
									<i class="pi pi-search"></i>
									<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar...."/>
								</span>
							</div>
						</ng-template>
						
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns" [pSortableColumn]="col.field">
									{{col.header}}									
									<p-sortIcon [field]="col.field" *ngIf="col.field !== 'acciones'"></p-sortIcon>
								</th>
							</tr>
						</ng-template>
						
						<ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
						
							<tr class="p-selectable-row">
							
								<td *ngFor="let col of columns">
									<span class="p-column-title">{{col.header}}</span>								
									
									<span *ngIf="col.field === 'id' || col.field === 'num_doc'">
										{{ rowData[col.field] }}
									</span>

									<span *ngIf="col.field === 'fecha_orig' || col.field === 'fecha_proc'">
										{{rowData[col.field] |date:'short' }}
									</span>
									
									<span *ngIf="col.field === 'moneda' || col.field === 'proveedor_nombre' ">
										{{rowData[col.field] |titlecase}}
									</span>
									
									<span *ngIf="col.field === 'valor' || col.field === 'monto_itbi' || col.field === 'bienes' ||
												 col.field === 'servicios'|| col.field === 'retencion'">
												 {{rowData['simbolo']}} {{rowData[col.field]}}
									</span>

									<span *ngIf="col.field === 'acciones'">
										<button pButton pRipple type="button" [pRowToggler]="rowData" [icon]="expanded ? 'pi pi-eye-slash' : 'pi pi-eye'" class="p-button p-button-success p-mr-2 p-mb-2" pTooltip="Ver Detalles"></button>
										<button pButton pRipple type="button" icon="pi pi-user-edit"  class="p-button p-button-warning p-mr-2 p-mb-2" pTooltip="Actualizar"></button>
										<button pButton pRipple type="button" icon="pi pi-trash"      class="p-button p-button-danger p-mr-2 p-mb-2" (click)="borrarFactura(rowData.id)" pTooltip="Eliminar"></button>
										<!-- <button pButton pRipple type="button" icon="pi pi-file-excel" class="p-button p-button-success p-mr-2 p-mb-2" (click)="dt.exportCSV()"></button> -->
									</span>
								</td>								
							</tr>
						</ng-template>
						<ng-template pTemplate="rowexpansion" let-rowData>
							<tr>
								<td [attr.colspan]="cols.length">
									<div class="p-p-3">
										<p-table [value]="rowData.detalle_factura" dataKey="id">
											<ng-template pTemplate="header">
												<tr>													
													<th class="centrar" pSortableColumn="cuenta_no">Cuenta<p-sortIcon field="cuenta_no"></p-sortIcon></th>
													<th class="centrar" pSortableColumn="departamento_descripcion">Departamento<p-sortIcon field="departamento_descripcion"></p-sortIcon></th>
													<th class="centrar" pSortableColumn="debito">Débito <p-sortIcon field="debito"></p-sortIcon></th>
													<th class="centrar" pSortableColumn="credito">Crédito <p-sortIcon field="credito"></p-sortIcon></th>
												</tr>
											</ng-template>
											<ng-template pTemplate="body" let-detalle>
												<tr>
													<td class="centrar">{{detalle.cuenta_no}}</td>
													<td class="centrar">{{detalle.departamento_descripcion}}</td>
													<td class="centrar">{{rowData['simbolo'] }} {{detalle.debito}}</td>
													<td class="centrar">{{rowData['simbolo'] }} {{detalle.credito}}</td>
												</tr>
											</ng-template>
										</p-table>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td colspan="8">No existen modelos en la base de datos.</td>
							</tr>
						</ng-template>

						<ng-template pTemplate="summary">
							<div class="p-d-flex p-ai-center p-jc-between" *ngIf="facturas.length !== 1">
								Existen {{facturas ? facturas.length : 0 }} modelos en total.
							</div>
							
							<div class="p-d-flex p-ai-center p-jc-between" *ngIf="facturas.length === 1">
								Existe solo {{facturas ? facturas.length : 0 }} modelos en total.
							</div>
						</ng-template>
					</p-table>
                </p-tabPanel>

                <p-tabPanel header="Adicionar" leftIcon="pi pi-plus">
					<app-formulario-factura-provedores></app-formulario-factura-provedores>
                </p-tabPanel>
            </p-tabView>
		</div>	
		
		<p-toast key="tst"></p-toast>

		<p-confirmDialog header="Atención" icon="pi pi-exclamation-triangle" message="Esta seguro de borrar este registro?"
						 [style]="{width: '425px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
		</p-confirmDialog>
	</div>	
</div>
