<form [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
            <label for="cliente">Cliente</label>	
            <div class="p-inputgroup">	
                <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-success" (click)="op.toggle($event)"></button>								
                <p-autoComplete formControlName="cliente" [suggestions]="clientesFiltrados" (completeMethod)="filtrarCliente($event.query)" 
                                (onSelect)="datosCliente($event)" field="nombre" [dropdown]="true" [class.ng-invalid]="getNoValido('cliente')" 
                                [class.ng-dirty]="getNoValido('cliente')">
                    <ng-template let-cliente pTemplate="item">
                        <div class="country-item">
                            <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                            <div>{{cliente.nombre | titlecase}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <small *ngIf="getNoValido('cliente')" class="p-invalid">Este campo es obligatorio.</small>						
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="monto_inicial">Monto Inicial</label>
            <span class=" p-input-icon-right">
                <input id="monto_inicial" type="number" pInputText formControlName="monto_inicial" 
                        [class.ng-invalid]="getNoValido('monto_inicial')" [class.ng-dirty]="getNoValido('monto_inicial')">
                <small *ngIf="getNoValido('monto_inicial')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="monto_total">Monto Total</label>
            <input id="monto_total" type="number" pInputText formControlName="monto_total" 
                    [class.ng-invalid]="getNoValido('monto_total')" [class.ng-dirty]="getNoValido('monto_total')">
            <small *ngIf="getNoValido('monto_total')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        
        <div class="p-field p-col-12 p-md-3">
            <label for="itbis">ITBIS</label>
            <p-dropdown inputId="itbis" [options]="sino" name="itbis" formControlName="itbis" 
                        [class.ng-invalid]="getNoValido('itbis')" [class.ng-dirty]="getNoValido('itbis')"placeholder="Escoge...">
            </p-dropdown>
            <small *ngIf="getNoValido('itbis')" class="p-invalid">Este campo es obligatorio.</small>
        </div>	

        <div class="p-field p-col-12 p-md-3">
            <label for="factura">Factura</label>
            <input id="factura" type="text" pInputText formControlName="factura" 
                    [class.ng-invalid]="getNoValido('factura')" [class.ng-dirty]="getNoValido('factura')">
            <small *ngIf="getNoValido('factura')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="meses">Meses a financiar</label>
            <input id="meses" type="number" pInputText formControlName="meses" 
                    [class.ng-invalid]="getNoValido('meses')" [class.ng-dirty]="getNoValido('meses')">
            <small *ngIf="getNoValido('meses')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="tasa">Tasa</label>
            <input id="tasa" type="number" pInputText formControlName="tasa" (blur)="calcula()"
                    [class.ng-invalid]="getNoValido('tasa')" [class.ng-dirty]="getNoValido('tasa')">
            <small *ngIf="getNoValido('tasa')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
    </div>

    <p-panel #pnl header="Detalles del prestamo" styleClass="p-mt-4">
        <div class="p-fluid p-formgrid p-grid" formArrayName="prestamo">
            <p-table [value]="detalle_tb">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Pago</th>
                        <th>Fecha Pago</th>
                        <th>Cuota</th>
                        <th>Capital</th>
                        <th>Interes</th>
                        <th>Balance</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-mes let-i="rowIndex">
                    <tr class="p-selectable-row">
                        <td>
                            <span class=" p-input-icon-right"><strong>{{i+1}}</strong></span>    
                        </td>

                        <td>
                            <!-- <p-calendar selectionMode="range" [readonlyInput]="true" formControlName="fecha" dateFormat="yy/mm/dd">
                            </p-calendar> -->
                            <span>{{detalle_tb[i].fecha | date}}</span>
                        </td>

                        <td> 
                            <span class=" p-input-icon-right">
                                <span>{{detalle_tb[i].cuota | currency}}</span>
                            </span>
                        </td>                        

                        <td> 
                            <span class=" p-input-icon-right">
                                <span>{{detalle_tb[i].capital | currency}}</span>
                            </span>
                        </td>

                        <td> 
                            <span class=" p-input-icon-right">
                                <span>{{detalle_tb[i].interes | currency}}</span>
                            </span>
                        </td>    

                        <td> 
                            <span class=" p-input-icon-right">
                                <span>{{detalle_tb[i].balance | currency}}</span>
                            </span>
                        </td>                        
                    </tr>
                </ng-template>
            </p-table>
        </div>   
    </p-panel>
    <br>
    <button *ngIf="!this.formSubmitted && this.guardar" pButton pRipple label="Enviar" icon="pi pi-save" type="button" (click)="enviarDataFacturar()"></button>    
</form>
<br>
<p-progressBar mode="indeterminate" *ngIf="this.formSubmitted"></p-progressBar>

<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
	<ng-template pTemplate>
		<p-table #dt3 [value]="clientes" selectionMode="single" [(selection)]="clientesSeleccionados" (onRowSelect)="clienteSeleccionado($event.data)" 
				 [paginator]="true" [rows]="5" [globalFilterFields]="['nombre','num_rnc','cedula']">
			<ng-template pTemplate="caption">
			<div class="table-header">
				<span class="p-input-icon-left">
					<i class="pi pi-search"></i>
					<input pInputText type="text" (input)="dt3.filterGlobal($event.target.value, 'contains')" placeholder="Buscar Cliente..."/>
				</span>
			</div>
		</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th pSortableColumn="nombre">Nombre<p-sortIcon field="name"></p-sortIcon></th>                    
					<th pSortableColumn="num_rnc">RNC <p-sortIcon field="price"></p-sortIcon></th>
					<th pSortableColumn="cedula">Cédula <p-sortIcon field="price"></p-sortIcon></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData let-cliente>
				<tr [pSelectableRow]="rowData">
					<td>{{cliente.nombre}}</td>
					<td>{{cliente.num_rnc}}</td>
					<td>{{cliente.cedula}}</td>
				</tr>
			</ng-template>
		</p-table>
	</ng-template>
</p-overlayPanel>