<div class="intermitente" *ngIf="this.items.length !== 0">
	<p-accordion styleClass="intermitente">
		<p-accordionTab header="CLICK AQUI PARA INSERCION DE DATOS INICALES">       
		   <div class="card">
			   <p-toast></p-toast>
			   <p-steps [model]="items" [readonly]="true"></p-steps>
		   </div>
		   <router-outlet></router-outlet>
		   <app-step-toolbar [items]="this.items" [readonly]="true"></app-step-toolbar>
		</p-accordionTab>
	</p-accordion>
</div>
<br>
<form (ngSubmit)="guardarCliente()" [formGroup]="forma">
    
    <div class="p-fluid p-formgrid p-grid">
        
        <div class="p-field p-col-12 p-md-3">
            <label for="nombre">Nombre</label>
            <span class=" p-input-icon-right">
                <input id="nombre" type="text" pInputText formControlName="nombre" [class.ng-invalid]="getNoValido('nombre')" 
                       [class.ng-dirty]="getNoValido('nombre')">
            </span>
            <small *ngIf="getNoValido('nombre')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="tipo_documento">Documento</label>
            <p-dropdown inputId="tipo_documento" [options]="documento" [class.ng-invalid]="getNoValido('tipo_documento')" 
                        [class.ng-dirty]="getNoValido('tipo_documento')" 
                        name="tipo_documento" formControlName="tipo_documento"
                        placeholder="Escoje.." optionLabel="descripcion" (onChange)="tipoDoc($event.value.descripcion)">
            </p-dropdown>
            <small *ngIf="getNoValido('tipo_documento')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3" *ngIf="this.cedula">
            <label for="documento">Cédula</label>
            <span class=" p-input-icon-right">                
                <p-inputMask mask="999-9999999-9" formControlName="documento" [class.ng-invalid]="getNoValido('documento')" 
                             [class.ng-dirty]="getNoValido('documento')">
                </p-inputMask>

            </span>
        </div>

        <div class="p-field p-col-12 p-md-3" *ngIf="this.rnc">
            <label for="documento">RNC</label>
            <span class=" p-input-icon-right">
                <input   type="text" pInputText formControlName="documento" [class.ng-invalid]="getNoValido('documento')" 
                       [class.ng-dirty]="getNoValido('documento')">
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3" *ngIf="this.pasaporte">
            <label for="documento">Pasaporte</label>
            <span class=" p-input-icon-right">
                <input   type="text" pInputText formControlName="documento" [class.ng-invalid]="getNoValido('documento')" 
                       [class.ng-dirty]="getNoValido('documento')">
            </span>
        </div>
        
        <div class="p-field p-col-12 p-md-3">
            <label for="tipo_cliente">Tipo de Cliente</label>
            <p-dropdown inputId="tipo_cliente" [options]="tipo_cliente"  [class.ng-invalid]="getNoValido('tipo_cliente')" 
                        [class.ng-dirty]="getNoValido('tipo_cliente')"
                        name="tipo_cliente" formControlName="tipo_cliente"
                        placeholder="Escoje.." optionLabel="descripcion">
            </p-dropdown>
            <small *ngIf="getNoValido('tipo_cliente')" class="p-invalid">Este campo es obligatorio.</small>
        </div>


        <div class="p-field p-col-12 p-md-3">
            <label for="vendedor">Vendedor</label>	
            <p-autoComplete formControlName="vendedor" [suggestions]="vendedoresFiltrados" (completeMethod)="filtrarVendedores($event)" 
                            field="primernombre" [dropdown]="true" [class.ng-invalid]="getNoValido('vendedor')" [class.ng-dirty]="getNoValido('vendedor')">
                <ng-template let-vendedor pTemplate="item">
                    <div class="country-item">
                        <div>{{vendedor.primernombre}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('vendedor')" class="p-invalid">Este campo es obligatorio.</small>						
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="cond_pago">Condición Pago</label>
            <p-dropdown [options]="condpago"  [class.ng-invalid]="getNoValido('cond_pago')" [class.ng-dirty]="getNoValido('cond_pago')"
                        name="cond_pago" formControlName="cond_pago"
                        placeholder="Escoje.." optionLabel="descripcion">
            </p-dropdown>
            <small *ngIf="getNoValido('cond_pago')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="tipo_negocio">Tipo Negocio</label>
            <p-dropdown inputId="tipo_negocio" [options]="tiponegocio" [class.ng-invalid]="getNoValido('tipo_negocio')" [class.ng-dirty]="getNoValido('tipo_negocio')"
                        name="tipo_negocio" formControlName="tipo_negocio"
                        placeholder="Escoje.." optionLabel="descripcion">
            </p-dropdown>
            <small *ngIf="getNoValido('tipo_negocio')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="ncf">NCF</label>
            <span class=" p-input-icon-right">
                <input id="ncf" type="text" pInputText formControlName="ncf">
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="generico">Genérico</label>
            <p-dropdown inputId="generico" [options]="sino"  [class.ng-invalid]="getNoValido('generico')" [class.ng-dirty]="getNoValido('generico')"
                        name="generico" formControlName="generico"
                        placeholder="Escoje.." optionLabel="label">
            </p-dropdown>
            <small *ngIf="getNoValido('generico')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="ncf">Limite Credito</label>
            <span class=" p-input-icon-right">
                <input id="limite_credito" type="number" pInputText formControlName="limite_credito">
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="celular">Celular</label>
            <span class=" p-input-icon-right">
                <p-inputMask mask="(999)-999-9999" formControlName="celular" placeholder="(999)-999-9999" [class.ng-invalid]="getNoValido('celular')" 
                             [class.ng-dirty]="getNoValido('celular')"></p-inputMask>
            </span>
            <small *ngIf="getNoValido('celular')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        
        <div class="p-field p-col-12 p-md-3">
            <label for="telefono_casa">Telefono Casa</label>
            <span class=" p-input-icon-right">
                <p-inputMask mask="(999)-999-9999" formControlName="telefono_casa" placeholder="(999)-999-9999" 
                             [class.ng-invalid]="getNoValido('telefono_casa')" [class.ng-dirty]="getNoValido('telefono_casa')"></p-inputMask>
            </span>
            <small *ngIf="getNoValido('telefono_casa')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="telefono_oficina">Telefono Oficina</label>
            <span class=" p-input-icon-right">
                <p-inputMask mask="(999)-999-9999" formControlName="telefono_oficina" placeholder="(999)-999-9999" 
                             [class.ng-invalid]="getNoValido('telefono_oficina')" [class.ng-dirty]="getNoValido('telefono_oficina')"></p-inputMask>
            </span>
            <small *ngIf="getNoValido('telefono_oficina')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="contacto">Contacto</label>
            <span class=" p-input-icon-right">
                <input id="contacto" type="text" pInputText formControlName="contacto">
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="email">Email</label>
            <span class=" p-input-icon-right">
                <input   type="text" pInputText formControlName="email">
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="url">Página WEB</label>
            <span class=" p-input-icon-right">
                <input id="url" type="text" pInputText formControlName="url">
            </span>
        </div>
        
    </div>
    <p-panel header="Ubicación" [toggleable]="true">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12">
                <label for="direccion">Dirección</label>
                <textarea id="direccion" type="text" rows="4" pInputTextarea name="direccion" formControlName="direccion"
                          [class.ng-invalid]="getNoValido('direccion')" [class.ng-dirty]="getNoValido('direccion')">
                </textarea>
                <small *ngIf="getNoValido('direccion')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
            
            <!-- <div class="p-field p-col-12 p-md-3">
                <label for="urbanizacion">Urbanización</label>
                <span class=" p-input-icon-right">
                    <input id="urbanizacion" type="text" pInputText formControlName="urbanizacion" [class.ng-invalid]="getNoValido('urbanizacion')" 
                           [class.ng-dirty]="getNoValido('urbanizacion')">
                </span>
                <small *ngIf="getNoValido('urbanizacion')" class="p-invalid">Este campo es obligatorio.</small>
            </div> -->
    
            <div class="p-field p-col-12 p-md-3">
                <label for="id_pais">Pais</label>
                <p-dropdown input  [options]="paises" [class.ng-invalid]="getNoValido('id_pais')" 
                            [class.ng-dirty]="getNoValido('id_pais')" name="id_pais" formControlName="id_pais" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaRegion($event.value.id_pais)">
                </p-dropdown>
                <small *ngIf="getNoValido('id_pais')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
            
            <div class="p-field p-col-12 p-md-3">
                <label for="id_region">Región</label>
                <p-dropdown input  [options]="regiones" [class.ng-invalid]="getNoValido('id_region')" (onChange)="buscaProvincia($event.value.id_region)"
                            [class.ng-dirty]="getNoValido('id_region')" name="id_region" formControlName="id_region" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion">
                </p-dropdown>
                <small *ngIf="getNoValido('id_region')" class="p-invalid">Este campo es obligatorio.</small>
            </div>

            <div class="p-field p-col-12 p-md-3">
                <label for="id_provincia">Provincia</label>
                <p-dropdown input  [options]="paises" [class.ng-invalid]="getNoValido('id_provincia')" 
                            [class.ng-dirty]="getNoValido('id_provincia')" name="id_provincia" formControlName="id_provincia" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaMunicipio($event.value.id_provincia)">
                </p-dropdown>
                <small *ngIf="getNoValido('id_provincia')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
                
            <div class="p-field p-col-12 p-md-3">
                <label for="id_municipio">Municipio</label>
                <p-dropdown input  [options]="municipios" [class.ng-invalid]="getNoValido('id_municipio')" 
                            [class.ng-dirty]="getNoValido('id_municipio')" name="id_municipio" formControlName="id_municipio" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaCiudad($event.value.id_municipio)">
                </p-dropdown>
                <small *ngIf="getNoValido('id_municipio')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
    
            <div class="p-field p-col-12 p-md-3">
                <label for="id_ciudad">Ciudad</label>
                <p-dropdown input [options]="ciudades" [class.ng-invalid]="getNoValido('id_ciudad')" 
                            [class.ng-dirty]="getNoValido('id_ciudad')" name="id_ciudad" formControlName="id_ciudad" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaSector($event.value.id_ciudad)">
                </p-dropdown>
                <small *ngIf="getNoValido('id_ciudad')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
    
            <div class="p-field p-col-12 p-md-3">
                <label for="id_sector">Sector</label>
                <p-dropdown input  [options]="sectores" [class.ng-invalid]="getNoValido('id_sector')" 
                            [class.ng-dirty]="getNoValido('id_sector')" name="id_sector" formControlName="id_sector" 
                            id="drop-down" placeholder="Escoje.." optionLabel="descripcion">
                </p-dropdown>
                <small *ngIf="getNoValido('id_sector')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
        </div>
    </p-panel>

    <br>
    <button *ngIf="!this.formSubmitted && this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="actualizarCliente()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>
<p-progressBar mode="indeterminate" *ngIf="this.formSubmitted"></p-progressBar>