
<div class="p-grid table-demo">
	<div class="p-col-12">
		<div class="card">
            <h5>Gestión de Modelos</h5>
            <p-tabView orientation="left" [(activeIndex)]="index">
                <p-tabPanel header="Consultar" leftIcon="pi pi-search" >				
					<p-table #dt [columns]="cols" [value]="monedas" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
						[rowHover]="true" [rows]="20" [paginator]="true" [filterDelay]="0" [lazy]="true" (onLazyLoad)="todasLasMonedas()" [loading]="loading"
						[globalFilterFields]="['divisa','moneda','simbolo','codigo']">
		
						<ng-template pTemplate="caption">
							<div class="table-header">
								<span class="p-input-icon-left">
									<i class="pi pi-search"></i>
									<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search"/>
								</span>
							</div>
						</ng-template>
						
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns" [pSortableColumn]="col.field">
									{{col.header}}									
									<p-sortIcon [field]="col.field" *ngIf="col.field !== 'acciones'"></p-sortIcon>
								</th>
							</tr>
						</ng-template>
						
						<ng-template pTemplate="body" let-rowData let-columns="columns">
						
							<tr class="p-selectable-row">
							
								<td *ngFor="let col of columns">
									<span class="p-column-title">{{col.header}}</span>								
							
									<span>
										{{rowData[col.field] }}
									</span>
							
									<span *ngIf="col.field === 'acciones'">
										<button pButton pRipple type="button" icon="pi pi-eye"        class="p-button p-button-success p-mr-2 p-mb-2" pTooltip="Ver Detalles"></button>
										<button pButton pRipple type="button" icon="pi pi-user-edit"  class="p-button p-button-warning p-mr-2 p-mb-2" (click)="actualizarMoneda(rowData.id)" pTooltip="Actualizar"></button>
										<button pButton pRipple type="button" icon="pi pi-trash"      class="p-button p-button-danger p-mr-2 p-mb-2" (click)="borrarCategoria(rowData.id)" pTooltip="Eliminar"></button>
										<!-- <button pButton pRipple type="button" icon="pi pi-file-excel" class="p-button p-button-success p-mr-2 p-mb-2" (click)="dt.exportCSV()"></button> -->
									</span>
								</td>								
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td colspan="8">No existen modelos en la base de datos.</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="summary">
							<div class="p-d-flex p-ai-center p-jc-between" *ngIf="monedas.length !== 1">
								Existen {{monedas ? monedas.length : 0 }} modelos en total.
							</div>
							
							<div class="p-d-flex p-ai-center p-jc-between" *ngIf="monedas.length === 1">
								Existe solo {{monedas ? monedas.length : 0 }} modelos en total.
							</div>
						</ng-template>
					</p-table>
                </p-tabPanel>

                <p-tabPanel header="Adicionar" leftIcon="pi pi-plus">
					<app-formulario-monedas></app-formulario-monedas>
                </p-tabPanel>
            </p-tabView>
		</div>	
		
		<p-toast key="tst"></p-toast>

		<p-confirmDialog header="Atención" icon="pi pi-exclamation-triangle" message="Esta seguro de borrar este registro?"
						 [style]="{width: '425px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
		</p-confirmDialog>
	</div>	
</div>
