<div class="p-col-12 p-lg-4">
    <div class="card widget-tasks">
        <h4>Tasks</h4>
        <p>Overview of your pendientes tasks.</p>
        <div>
            <div class="task task-1">
                <div class="task-name"><span>12 Orders</span> to fulfill</div>
                <div class="task-progress">
                    <div></div>
                </div>
            </div>
            <div class="task task-2">
                <div class="task-name"><span>40+ Payments</span> to withdraw</div>
                <div class="task-progress">
                    <div></div>
                </div>
            </div>
            <div class="task task-3">
                <div class="task-name"><span>4 Reports</span> to revise</div>
                <div class="task-progress">
                    <div></div>
                </div>
            </div>
            <div class="task task-4">
                <div class="task-name"><span>6 Questions</span> to respond</div>
                <div class="task-progress">
                    <div></div>
                </div>
            </div>
            <div class="task task-5">
                <div class="task-name"><span>2 Chargebacks</span> to review</div>
                <div class="task-progress">
                    <div></div>
                </div>
            </div>
        </div>
    </div>			
</div>