<p-table #dt [columns]="cols" [value]="pendientes" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
    [rowHover]="true" [rows]="20" [paginator]="true" [filterDelay]="0"  [(selection)]="selectedProducts"
    [globalFilterFields]="['imagen','titulo','codigo','precio_venta','cantidad1']">

    <ng-template pTemplate="caption">
        <div class="table-header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..."/>
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="{'centrar': col.field === 'id'}">
                
                <p-tableHeaderCheckbox *ngIf="col.field === 'id'"></p-tableHeaderCheckbox>
                <span *ngIf="(col.field !== 'id')">
                    {{col.header}} 
                    <p-sortIcon [field]="col.field" *ngIf="(col.field !=='imagen' &&
                                         col.field !== 'check_impresión' &&
                                         col.field !== 'check_detalle')">
                    </p-sortIcon>
                </span> 
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr class="p-selectable-row">

            <td *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'check_impresión' || 
                                                                   col.field === 'check_detalle' || 
                                                                   col.field === 'id'}">
                <span class="p-column-title">{{col.header}}</span>								

                <span *ngIf="col.field === 'id'">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </span>
                <span *ngIf="(col.field === 'transportista_nombre' || 
                              col.field === 'origen' ||
                              col.field === 'usuario_creador')">
                    {{ rowData[col.field] | titlecase}}
                </span>
                <span *ngIf="(col.field === 'num_doc' || col.field === 'fecha' ||  
                              col.field === 'id_bodega_d' || col.field === 'id_bodega')">
                    {{ rowData[col.field] }}
                </span>                
                <span *ngIf="(col.field === 'check_impresión')">
                    <p-checkbox binary="true" inputId="binary"></p-checkbox>
                </span>
                <span *ngIf="(col.field === 'check_detalle')">
                    <p-checkbox binary="true" inputId="binary"></p-checkbox>
                </span>
                <span *ngIf="(col.field === 'check_recibido')">
                    <p-checkbox binary="true" inputId="binary"></p-checkbox>
                </span>

            </td>								
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No existen pendientes en la base de datos.</td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="pendientes.length !== 1">
            Existen {{pendientes ? pendientes.length : 0 }} pendientes en total.
        </div>

        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="pendientes.length === 1">
            Existe solo {{pendientes ? pendientes.length : 0 }} bodega en total.
        </div>
    </ng-template>
</p-table>

<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="right">
        <button pButton pRipple label="Enviar" class="p-button-success p-mr-2" (click)="enviarProductos()"></button>          
    </ng-template>
</p-toolbar>

<p-toast key="tst"></p-toast>