<!-- <div class="card">
    <p-toast></p-toast>
    <p-steps [model]="items" [readonly]="true"></p-steps>
</div>
<router-outlet></router-outlet> -->
<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Datos generales del producto.
        </ng-template>
        <!-- <ng-template pTemplate="subtitle">
            Enter your personal information
        </ng-template> -->
        <ng-template pTemplate="content">
            <form (ngSubmit)="crearProducto()" [formGroup]="forma">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-6">
                        <label for="titulo">Título</label>
                        <input id="titulo" type="text" pInputText [class.ng-invalid]="getNoValido('titulo')" 
                               [class.ng-dirty]="getNoValido('titulo')" formControlName="titulo"> 
                        <small *ngIf="getNoValido('titulo')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
    
                    <div class="p-field p-col-3">
                        <label for="categoria">Categoría</label>
                        <p-dropdown [options]="groupedCities" placeholder="Elige categoría" inputId="categoria" [group]="true" 
                                    [class.ng-invalid]="getNoValido('categoria')" [class.ng-dirty]="getNoValido('categoria')" 
                                    formControlName="categoria" (onChange)="getAtributosProducto($event.value)">
                            <ng-template let-group pTemplate="group">
                                <div class="p-d-flex p-ai-center">
                                    <i class="pi pi-question-circle" style="margin-right: 10px;"></i>
                                    <span>{{group.label | titlecase}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small *ngIf="getNoValido('categoria')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
    
                    <div class="p-field p-col-12 p-md-3">
                        <label for="precio">Precio</label>
                        <input type="text" pInputText pKeyFilter="int" formControlName="precio" 
                               [class.ng-invalid]="getNoValido('precio')" [class.ng-dirty]="getNoValido('precio')">
                        <small *ngIf="getNoValido('precio')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
                    
                    <div class="p-field p-col-12 p-md-2">
                        <label for="precio_rebajado">
                            <a href="javascript:void(0)" *ngIf="!this.rebaja" (click)="programar()">Rebajar $</a>
                            <a href="javascript:void(0)" *ngIf="this.rebaja" style="color: #777c80;" (click)="programar()">No rebajar $</a>
                        </label>                                                    
                        <i class="pi pi-question-circle" style="margin-left: 10px; color:#777c80" 
                           pTooltip="Este valor se utiliza para indicar que el producto esta en oferta. tambien muestra la cantidad que se ahorraria tu cliente si completa la compra." tooltipPosition="top">
                        </i>                
                        <input type="text" pInputText pKeyFilter="int" formControlName="precio_rebajado" 
                               [class.ng-invalid]="getNoValido('precio_rebajado')" [class.ng-dirty]="getNoValido('precio_rebajado')">
                    </div>
    
                    <div class="p-field p-col-12 p-md-2" *ngIf="this.rebaja">
                        <label for="fecha_rebaja">Fecha Rebaja</label>
                        <i class="pi pi-question-circle" style="margin-left: 10px; color:#777c80" 
                           pTooltip="La oferta inicia a la 12:00 AM de la fecha inicio y termina a las 11:59 PM de la fecha final." tooltipPosition="top">
                        </i>
                        <p-calendar formControlName="fecha_rebaja" selectionMode="range" [readonlyInput]="true" 
                                    inputId="fecha_rebaja" pTooltip="Click to proceed">
                        </p-calendar>
                    </div>
    
                    <div class="p-field p-col-12 p-md-2">
                        <label for="stock">Stock</label>
                        <i class="pi pi-question-circle" style="margin-left: 10px; color:#777c80" 
                           pTooltip="Indica la cantidad de este articulo que tienes disponible para vender." tooltipPosition="top">
                        </i>
                        <input type="text" pInputText pKeyFilter="int" formControlName="stock"
                               [class.ng-invalid]="getNoValido('stock')" [class.ng-dirty]="getNoValido('stock')">
                        <small *ngIf="getNoValido('stock')" class="p-invalid">Este campo es obligatorio.</small>
                    </div>
    
                    <div class="p-field p-col-12 p-md-2">
                        <label for="cantidadLim">Cantidad</label>
                        <i class="pi pi-question-circle" style="margin-left: 10px; color:#777c80" 
                           pTooltip="Establecer esta cantidad hará que el producto sea una oferta. La venta terminará cuando se agote esta cantidad." tooltipPosition="top">
                        </i>
                        <input type="text" pInputText pKeyFilter="int" formControlName="cantidadLim"
                               [class.ng-invalid]="getNoValido('cantidadLim')" [class.ng-dirty]="getNoValido('cantidadLim')">
                    </div>
    
                    <div class="p-field p-col-12">
                        <label for="descripcion">Descripción</label>
                        <textarea id="descripcion" type="text" rows="4" pInputTextarea [class.ng-invalid]="getNoValido('descripcion')" 
                                  [class.ng-dirty]="getNoValido('descripcion')" formControlName="descripcion">
                        </textarea>
                        <small *ngIf="getNoValido('descripcion')" class="p-invalid">Este campo es obligatorio.</small>
                    </div> 
                </div>

                <p-panel  header="Atributos del producto" *ngIf="this.atributos.length !== 0 && this.tipo === 'basico'">
                    <div class="p-fluid p-formgrid p-grid" formGroupName="atributos">
                        <ng-container *ngFor="let items of this.atributos; let i = index">
                            <div class="p-field p-col-12 p-md-2" *ngIf="items.descripcion === 'talla'">
                                <label for="descripcion">{{items.descripcion | titlecase}}</label>
                                <p-multiSelect *ngIf="items.tipo === 'checkbox'" [options]="tallas" defaultLabel="Seleccionar talla..." 
                                               optionLabel="label" display="chip" formControlName="talla">
                                </p-multiSelect>
                            </div>

                            <div class="p-field p-col-12 p-md-2" *ngIf="items.descripcion === 'actividad'">
                                <label for="descripcion">{{items.descripcion | titlecase}}</label>
                                <i class="pi pi-question-circle" style="margin-left: 10px; color:#777c80" 
                                   pTooltip="Algunos productos estan dirigidos a nichos especificos, 
                                             Al elegir esta opcion podemos mostrar tu producto al publico interesado 
                                             en la actividad a la que va dirigida tu producto aumentando asi tus 
                                             probabilidades de venta." tooltipPosition="top">
                                </i>
                                <p-autoComplete formControlName="actividad" [suggestions]="actividadesFiltradas" 
                                                (completeMethod)="filtrarActividades($event)" field="label" 
                                                [forceSelection]="true" [dropdown]="true">
                                    <ng-template let-cuenta pTemplate="item" >
                                        <div class="country-item">
                                            <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                                            <div>{{cuenta.label}}</div>
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                            
                            
                            <div class="p-field p-col-12 p-md-2" *ngIf="items.descripcion === 'estado'">
                                <label for="descripcion">{{items.descripcion | titlecase}}</label>
                                <p-dropdown [options]="estados" placeholder="Elige estado..." 
                                            optionLabel="label" optionValue="code" formControlName="estado">
                                </p-dropdown>
                            </div>
        
                            <div class="p-field p-col-12 p-md-2" *ngIf="items.descripcion === 'material'">
                                <label for="material">{{items.descripcion | titlecase}}</label>
                                <p-autoComplete formControlName="material" [suggestions]="materialesFiltrados" 
                                                (completeMethod)="filtrarMateriales($event)" field="label" 
                                                [forceSelection]="true" [dropdown]="true">
                                    <ng-template let-cuenta pTemplate="item" >
                                        <div class="country-item">
                                            <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                                            <div>{{cuenta.label}}</div>
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
        
                            <div class="p-field p-col-12 p-md-2" *ngIf="items.descripcion === 'edad'">
                                <label for="descripcion">{{items.descripcion | titlecase}}</label>
                                <i class="pi pi-question-circle" style="margin-left: 10px; color:#777c80" 
                                   pTooltip="Algunos productos tienen publico de edades especificas, 
                                             Al elegir esta opcion podemos mostrar tu producto a dicho publico aumento asi tus 
                                             probabilidades de venta." tooltipPosition="top">
                                </i>
                                <p-dropdown [options]="edades" placeholder="Elige edad..." 
                                            optionLabel="label" optionValue="value" formControlName="edad">
                                </p-dropdown>
                            </div>                   
                        </ng-container>
                    </div>
                </p-panel>
                

                <div class="p-field p-col-12" *ngIf="this.tipo === 'basico'">
                    <app-fileuploads (propagar)="recibeFiles($event)"></app-fileuploads>
                </div>
                
                <div class="p-field p-col-12" *ngIf="this.tipo === 'compuesto'">
                    <app-listado-productos-tienda></app-listado-productos-tienda>
                </div>
              
                <!-- <p-panel header="Documentos digitales" *ngIf="this.tipo === 'digital'">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-2">
                            <label for="limDescargas">Limite de descargas</label>
                            <i class="pi pi-question-circle" style="margin-left: 10px; color:#777c80" 
                               pTooltip="Establecer una cantidad limite de descargas para este producto. Cuando se alcance esta cifra el 
                                         producto de visualizara como agotado. Marcar esta opcion tambien hara que el producto se muestre 
                                         como una oferta." tooltipPosition="top">
                            </i>
                            <p-inputNumber inputId="limDescargas" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5">
                            </p-inputNumber>
                        </div>
        
                        <div class="p-field p-col-12 p-md-2">
                            <label for="fechaLimDescarga">Fecha Limite</label>
                            <i class="pi pi-question-circle" style="margin-left: 10px; color:#777c80" 
                               pTooltip="La oferta inicia a la 12:00 AM de la fecha inicio y termina a las 11:59 PM de la fecha final." tooltipPosition="top">
                            </i>
                            <p-calendar inputId="fechaLimDescarga" pTooltip="Click to proceed"></p-calendar>
                        </div>
    
                        <div class="p-col-12">
                            <p-fileUpload multiple="multiple" maxFileSize="1000000" [showUploadButton]="false"
                                          (onSelect)="onFileSelect($event)" chooseLabel="Escoja archivos" cancelLabel="Cancelar">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div>
                    </div>
                </p-panel> -->
                <div class="p-grid p-nogutter p-justify-end">
                    <!-- <p-button label="Crear Producto" (onClick)="crearProducto()" icon="pi pi-save" iconPos="left"></p-button> -->
                    <button *ngIf="this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
                    <button *ngIf="this.actualizar" (click)="actualizarProducto()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
                    <button *ngIf="this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
                </div>
            </form>
        </ng-template>
    </p-card>
</div>
{{this.forma.value | json}}