<div class="p-col-12 p-lg-4">
    <div class="card">
        <h4>Best Sellers</h4>
        <p>Most popular products from your collection.</p>

        <ul class="widget-image-list">
            <li>
                <span>Product</span>
                <span>Sales</span>
            </li>
            <li>
                <span>
                    <img src="assets/demo/images/product/bamboo-watch.jpg" alt="diamond-layout"/>
                    <span>Bamboo Watch</span>
                </span>
                <span class="listitem-value">82</span>
            </li>
            <li>
                <span>
                    <img src="assets/demo/images/product/blue-band.jpg" alt="diamond-layout"/>
                    <span>Blue Band</span>
                </span>
                <span class="listitem-value">75</span>
            </li>
            <li>
                <span>
                    <img src="assets/demo/images/product/game-controller.jpg" alt="diamond-layout"/>
                    <span>Game Controller</span>
                </span>
                <span class="listitem-value">64</span>
            </li>
            <li>
                <span>
                    <img src="assets/demo/images/product/lime-band.jpg" alt="diamond-layout"/>
                    <span>Lime Band</span>
                </span>
                <span class="listitem-value">62</span>
            </li>
            <li>
                <span>
                    <img src="assets/demo/images/product/gold-phone-case.jpg" alt="diamond-layout"/>
                    <span>Phone Case</span>
                </span>
                <span class="listitem-value">55</span>
            </li>
            <li>
                <span>
                    <img src="assets/demo/images/product/green-t-shirt.jpg" alt="diamond-layout"/>
                    <span>Green T-Shirt</span>
                </span>
                <span class="listitem-value">48</span>
            </li>
            <li>
                <span>
                    <img src="assets/demo/images/product/purple-t-shirt.jpg" alt="diamond-layout"/>
                    <span>Purple T-Shirt</span>
                </span>
                <span class="listitem-value">32</span>
            </li>
        </ul>
    </div>
</div>