       
<form (ngSubmit)="guardarEstado()" [formGroup]="forma">
	
	<div class="p-fluid p-formgrid p-grid"> 
		<div class="p-field p-col-12 p-md-3">
            <label for="descripcion_esp">Descripción Esp.</label>
            <span class=" p-input-icon-right">
                <input id="descripcion_esp_cat" type="text" pInputText formControlName="descripcion_esp" [class.ng-invalid]="getNoValido('descripcion_esp')" 
                       [class.ng-dirty]="getNoValido('descripcion_esp')">
            </span>
        </div>
		<div class="p-field p-col-12 p-md-3">
			<label for="descripcion_ing">Descripción Ing.</label>
			<span class=" p-input-icon-right">
				<input id="descripcion_ing_cat" type="text" pInputText formControlName="descripcion_ing" [class.ng-invalid]="getNoValido('descripcion_ing')" 
					   [class.ng-dirty]="getNoValido('descripcion_ing')">
			</span>
		</div>
		<div class="p-field p-col-12 p-md-3">
			<label for="id_estado">Descripción Ing.</label>
			<span class=" p-input-icon-right">
				<input id="id_estado_cat" type="text" pInputText formControlName="id_estado" [class.ng-invalid]="getNoValido('id_estado')" 
					   [class.ng-dirty]="getNoValido('id_estado')">
			</span>
		</div>
		<div class="p-field p-col-12 p-md-3">
            <label for="grupo">Grupo</label>
            <span class=" p-input-icon-right">
                <input id="grupo_cat" type="text" pInputText formControlName="grupo" [class.ng-invalid]="getNoValido('grupo')" 
                       [class.ng-dirty]="getNoValido('grupo')">
            </span>
        </div>
	</div>

	<button pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
</form>