<div class="p-grid table-demo">	
	<div class="p-col-12">
		<div class="card">
            <form (ngSubmit)="verReporte()" [formGroup]="forma">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-2">
                        <label for="tipo_producto">Clase</label>
                        <p-dropdown inputId="tipo_producto" [options]="tipos" formControlName="tipo_producto">
                        </p-dropdown>                    
                    </div>
            
                    <div class="p-field p-col-12 p-md-4">
                        <label for="titulo">Título</label>
                        <span class=" p-input-icon-right">
                            <input type="text" pInputText formControlName="titulo">
                        </span>                    
                    </div>        
            
                    <div class="p-field p-col-12 p-md-2">
                        <label for="id_brand">Marca</label>
                        <p-dropdown inputId="id_brand" [options]="brands" name="id_brand" formControlName="id_brand"
                                    placeholder="Escoge..." optionLabel="descripcion">
                        </p-dropdown>                    
                    </div>
            
                    <div class="p-field p-col-12 p-md-2">
                        <label for="id_categoria">Modelo</label>
                        <p-dropdown inputId="id_categoria" [options]="categorias" name="id_categoria" formControlName="id_categoria"
                                    placeholder="Escoge..." optionLabel="descripcion">
                        </p-dropdown>                    
                    </div>
            
                    <div class="p-field p-col-12 p-md-2">
                        <label for="id_propiedad">Color</label>
                        <p-dropdown inputId="id_propiedad" [options]="propiedades" name="id_propiedad" formControlName="id_propiedad"
                                    placeholder="Escoge..." optionLabel="descripcion">
                        </p-dropdown>                    
                    </div>                
                    <div class="p-field p-col-12 p-md-2">
                        <label for="id_bodega">Bodega</label>
                        <p-dropdown inputId="id_bodega" [options]="bodegas" formControlName="id_bodega" optionLabel="descripcion"  placeholder="Escoge...">
                        </p-dropdown>            
                    </div>
                
                    <div class="p-field p-col-12 p-md-2">
                        <label for="codigo_referencia">Código de referencia</label>
                        <span class=" p-input-icon-right">
                            <input id="codigo_referencia" type="text" pInputText formControlName="codigo_referencia">
                        </span>
                    </div>
                </div>
                <br>
                <button pButton pRipple label="Ver Reporte" icon="pi pi-eye" type="submit" class="p-mr-2 p-mb-2"></button>                
                <button pButton pRipple label="Limpiar Formulario" icon="pi pi-trash" type="button" (click)="limpiarForm()" class="p-button-warning p-mr-2 p-mb-2"></button> 
            </form>
        </div>
    </div>

    <p-table #dt [columns]="cols" [value]="productos" *ngIf="this.productos.length !== 0">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button> -->
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                <!-- <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info p-ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button> -->
            </div>
        </ng-template>
        
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">                    
                    <span>
                        {{ rowData[col.field] }}
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>