<form (ngSubmit)="guardarEmpresa()" [formGroup]="forma">
    <div class="p-field p-col-12 p-md-3">
        <a href="javascript:void(0);">
            <img *ngIf="imgURL !== null" [src]="imgURL" width="64" height="64" alt="" class="media-object rounded" style="width: 160px; height: 120px;">
            <img *ngIf="imgURL === null" [src]="imgEmpresa | invProductos" width="64" height="64" alt="" class="media-object rounded" style="width: 160px; height: 120px;">
        </a>
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <div>
            <input #file type="file" accept='image/*' (change)="preview(file.files)" />
        </div>
    </div>
    
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
            <label for="rnc">RNC</label>
            <span class=" p-input-icon-right">
                <input id="rnc" type="text" pInputText formControlName="rnc" 
                [class.ng-invalid]="getNoValido('rnc')" [class.ng-dirty]="getNoValido('rnc')"
                       (keyup)="verificaRNC($event.target.value)">
                <i class="pi pi-spin pi-spinner" *ngIf="rncExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="rncExiste === 2" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="rncExiste === 1" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="rncExiste === 3"></i>
                <small *ngIf="getNoValido('rnc')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="nombre">Nombre</label>
            <span class=" p-input-icon-right">
                <input id="nombre" type="text" pInputText formControlName="nombre" 
                [class.ng-invalid]="getNoValido('nombre')" [class.ng-dirty]="getNoValido('nombre')"
                       (keyup)="verificaEmpresa($event.target.value)">
                <i class="pi pi-spin pi-spinner" *ngIf="nombreExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="nombreExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="nombreExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="nombreExiste === 3"></i>
                <small *ngIf="getNoValido('nombre')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="telefono_empresa">Telefono</label>
            <span class=" p-input-icon-right">
                <p-inputMask mask="(999)-999-9999" formControlName="telefono_empresa" placeholder="(999)-999-9999"
                             [class.ng-invalid]="getNoValido('telefono_empresa')" [class.ng-dirty]="getNoValido('telefono_empresa')">
                </p-inputMask>
            </span>
            <small *ngIf="getNoValido('telefono_empresa')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="email_empresa">Email</label>
            <span class=" p-input-icon-right">
                <input id="email_empresa" type="text" pInputText formControlName="email_empresa" 
                       [class.ng-invalid]="getNoValido('email_empresa')" [class.ng-dirty]="getNoValido('email_empresa')">
            </span>
            <small *ngIf="getNoValido('email_empresa')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="moneda">Moneda</label>
            <p-multiSelect [options]="monedas" formControlName="moneda" defaultLabel="Seleccione Moneda" 
                           optionLabel="descripcion" class="multiselect-custom" (onChange)="setValue()"
                           [class.ng-invalid]="getNoValido('moneda')" [class.ng-dirty]="getNoValido('moneda')">
                <ng-template let-value pTemplate="selectedItems">
                    <div class="country-item country-item-value" *ngFor="let option of selectedMulti">
                        <div>{{option.simbolo}} {{option.divisa | titlecase}}</div>
                    </div>
                    <div *ngIf="!selectedMulti || selectedMulti.length === 0" class="country-placeholder">
                        Seleccione Moneda
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.simbolo}} {{country.divisa | titlecase}}</div>
                    </div>
                </ng-template>
            </p-multiSelect>
            <small *ngIf="getNoValido('moneda')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        
        <div class="p-field p-col-12 p-md-3">
            <label for="web">Sitio Web</label>
            <span class=" p-input-icon-right">
                <input id="web" type="text" pInputText formControlName="web">
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="contacto">Persona de Contacto</label>
            <span class=" p-input-icon-right">
                <input id="contacto" type="text" pInputText formControlName="contacto" 
                       [class.ng-invalid]="getNoValido('contacto')" [class.ng-dirty]="getNoValido('contacto')">
            </span>
            <small *ngIf="getNoValido('contacto')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="telefono_contacto">Teléfono Contacto</label>
            <span class=" p-input-icon-right">
                <p-inputMask mask="(999)-999-9999" formControlName="telefono_contacto" placeholder="(999)-999-9999"
                             [class.ng-invalid]="getNoValido('telefono_contacto')" [class.ng-dirty]="getNoValido('telefono_contacto')">
                </p-inputMask>
            </span>
            <small *ngIf="getNoValido('telefono_contacto')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_pais">Pais</label>
            <p-dropdown input  [options]="paises" [class.ng-invalid]="getNoValido('id_pais')" 
                        [class.ng-dirty]="getNoValido('id_pais')" name="id_pais" formControlName="id_pais" 
                        id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaPaises($event.value.id)">
            </p-dropdown>
            <small *ngIf="getNoValido('id_pais')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_ciudad">Ciudad</label>
            <p-dropdown input  [options]="ciudades" [class.ng-invalid]="getNoValido('id_ciudad')" 
                        [class.ng-dirty]="getNoValido('id_ciudad')" name="id_ciudad" formControlName="id_ciudad" 
                        id="drop-down" placeholder="Escoje.." optionLabel="descripcion">
            </p-dropdown>
            <small *ngIf="getNoValido('id_ciudad')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        
        <div class="p-field p-col-12 p-md-3" >
            <label for="empresa_verde">Impresión por defecto</label>
            <p-dropdown inputId="empresa_verde" [options]="sino" name="empresa_verde" formControlName="empresa_verde" 
                        [class.ng-invalid]="getNoValido('empresa_verde')" [class.ng-dirty]="getNoValido('empresa_verde')"placeholder="Escoge...">
            </p-dropdown>
            <small *ngIf="getNoValido('empresa_verde')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        
        <div class="p-field p-col-12 p-md-3" >
            <label for="tipo_cuadre">Tipo de Cuadre</label>
            <p-dropdown inputId="tipo_cuadre" [options]="tipo_cuadre" name="tipo_cuadre" formControlName="tipo_cuadre" 
                        [class.ng-invalid]="getNoValido('tipo_cuadre')" [class.ng-dirty]="getNoValido('tipo_cuadre')" placeholder="Escoge...">
            </p-dropdown>
            <small *ngIf="getNoValido('tipo_cuadre')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        
        <div class="p-field p-col-12 p-md-3" >
            <label for="valuacion_inv">Valuación de inventario</label>
            <p-dropdown inputId="valuacion_inv" [options]="valuacion_inv" name="valuacion_inv" formControlName="valuacion_inv" 
                        [class.ng-invalid]="getNoValido('valuacion_inv')" [class.ng-dirty]="getNoValido('valuacion_inv')" placeholder="Escoge...">
            </p-dropdown>
            <small *ngIf="getNoValido('valuacion_inv')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12">
            <label for="direccion">Descripción</label>
            <textarea id="direccion" type="text" rows="4" pInputTextarea name="direccion" formControlName="direccion"
                      [class.ng-invalid]="getNoValido('direccion')" [class.ng-dirty]="getNoValido('direccion')">
            </textarea>
            <small *ngIf="getNoValido('direccion')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

    </div>
    <button *ngIf="!this.formSubmitted && this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="actualizarEmpresa()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>
<p-progressBar mode="indeterminate" *ngIf="this.formSubmitted"></p-progressBar>
<p-toast key="tst"></p-toast>
