<form (ngSubmit)="guardarTipoInventario()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
            <label for="descripcion">Título</label>
            <span class=" p-input-icon-right">
                <input type="text" pInputText formControlName="descripcion" [class.p-invalid]="getNoValido('descripcion')"
                       (keyup)="verificaTipoInv($event.target.value)" [class.ng-invalid]="getNoValido('descripcion')" 
                       [class.ng-dirty]="getNoValido('descripcion')">
                <i class="pi pi-spin pi-spinner" *ngIf="tipoInvExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="tipoInvExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="tipoInvExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="tipoInvExiste === 3"></i>
            </span>
            <small *ngIf="getNoValido('descripcion')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
        
        <div class="p-field p-col-12 p-md-3">
            <label for="cuenta_no">Cuenta</label>	
            <p-autoComplete formControlName="cuenta_no" [suggestions]="cuentasFiltradas" (completeMethod)="filtrarCuentas($event)" field="descripcion" 
                            [forceSelection]="true" [dropdown]="true" [class.ng-invalid]="getNoValido('cuenta_no')" [class.ng-dirty]="getNoValido('cuenta_no')">
                <ng-template let-cuenta pTemplate="item" >
                    <div class="country-item">
                        <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                        <div>{{cuenta.descripcion}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('cuenta_no')" class="p-invalid">Este campo es obligatorio.</small>						
        </div>
    </div>
    <button *ngIf="!this.guardando && this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="this.guardando && this.guardar" pButton pRipple label="Guardando" icon="pi pi-spin pi-spinner" type="button" disabled="true"></button>

    <button *ngIf="!this.actualizando && this.actualizar" (click)="ActualizarTipoInv()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="this.actualizando && this.actualizar" pButton pRipple label="Actualizando" icon="pi pi-spin pi-spinner" type="button" class="p-button-warning p-mr-2 p-mb-2" disabled="true"></button>

    <button *ngIf="this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button>
</form>