<form (ngSubmit)="guardarTurno()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
            <label for="descripcion">Descripción</label>
            <span class=" p-input-icon-right">
                <input id="descripcion" type="text" pInputText formControlName="descripcion" 
                        [class.ng-invalid]="getNoValido('descripcion')" [class.ng-dirty]="getNoValido('descripcion')" 
                        (keyup)="verificaTurno($event.target.value)">
                <i class="pi pi-spin pi-spinner" *ngIf="turnoExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="turnoExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="turnoExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="turnoExiste === 3"></i>
                <small *ngIf="getNoValido('descripcion')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="horario_inicial">Hora Entrada</label>
            <span class=" p-input-icon-right">
                <p-calendar formControlName="horario_inicial" [timeOnly]="true" inputId="horario_inicial" hourFormat="12" [class.ng-invalid]="getNoValido('horario_inicial')" 
                            [class.ng-dirty]="getNoValido('horario_inicial')">
                </p-calendar>
            </span>      
            <small *ngIf="getNoValido('horario_inicial')" class="p-invalid">Este campo es obligatorio.</small>                          
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="horario_final">Hora Salida</label>
            <span class=" p-input-icon-right">
                <p-calendar formControlName="horario_final" [timeOnly]="true" inputId="horario_final" hourFormat="12" [class.ng-invalid]="getNoValido('horario_final')" 
                            [class.ng-dirty]="getNoValido('horario_final')">
                </p-calendar>
            </span>      
            <small *ngIf="getNoValido('horario_final')" class="p-invalid">Este campo es obligatorio.</small>                          
        </div>
    </div>
    <button *ngIf="this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="this.actualizar" (click)="actualizarTurno()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>
