<div class="intermitente" *ngIf="this.items.length !== 0">
	<p-accordion styleClass="intermitente" [selected]="false">
		<p-accordionTab header="CLICK AQUI PARA INSERCION DE DATOS INICALES">       
		   <div class="card">
			   <p-toast></p-toast>
			   <p-steps [model]="items" [readonly]="true"></p-steps>
		   </div>
		   <router-outlet></router-outlet>
		   <app-step-toolbar [items]="this.items" [readonly]="true"></app-step-toolbar>
		</p-accordionTab>
	</p-accordion>
</div>
<br>
<form [formGroup]="forma">
    <div class="p-field p-col-12 p-md-3">
        <a href="javascript:void(0);">
            <img *ngIf="imgURL !== null" [src]="imgURL" width="64" height="64" alt="" class="media-object rounded" style="width: 160px; height: 120px;">
            <img *ngIf="imgURL === null" [src]="imgEmpresa | invProductos" width="64" height="64" alt="" class="media-object rounded" style="width: 160px; height: 120px;">
        </a>
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <div>
            <input #file type="file" accept='image/*' (change)="preview(file.files)" />
        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
            <label for="cliente">Cliente</label>	
            <div class="p-inputgroup">	
                <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-success" (click)="op.toggle($event)"></button>								
                <p-autoComplete formControlName="cliente" [suggestions]="clientesFiltrados" (completeMethod)="filtrarCliente($event.query)" 
                                (onSelect)="datosCliente($event)" field="nombre" [dropdown]="true" [class.ng-invalid]="getNoValido('cliente')" 
                                [class.ng-dirty]="getNoValido('cliente')">
                    <ng-template let-cliente pTemplate="item">
                        <div class="country-item">
                            <div>{{cliente.nombre | titlecase}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <small *ngIf="getNoValido('cliente')" class="p-invalid">Este campo es obligatorio.</small>						
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="recibido">Recibido</label>
            <span class=" p-input-icon-right">
                <input id="recibido" type="text" pInputText formControlName="recibido" 
                        [class.ng-invalid]="getNoValido('recibido')" [class.ng-dirty]="getNoValido('recibido')">
                <small *ngIf="getNoValido('recibido')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="entregado">Entregado</label>
            <span class=" p-input-icon-right">
                <input id="entregado" type="text" pInputText formControlName="entregado" 
                        [class.ng-invalid]="getNoValido('entregado')" [class.ng-dirty]="getNoValido('entregado')">
                <small *ngIf="getNoValido('entregado')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="fecha_entrega">Fecha Entrega</label>
            <span class=" p-input-icon-right">
                <p-calendar formControlName="fecha_entrega" dateFormat="yy/mm/dd" [showIcon]="true" inputId="icon"
                            (onSelect)="onSelectDate($event)" [minDate]="minDate" [class.ng-invalid]="getNoValido('fecha_entrega')" 
                            [class.ng-dirty]="getNoValido('fecha_entrega')">
                </p-calendar>
            </span>
            <small *ngIf="getNoValido('fecha_entrega')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="chasis">Chasis</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><p-checkbox (onChange)="this.getChasis = $event.checked"></p-checkbox></span>
                <input (blur)="checaChasis($event)" id="chasis" type="text" pInputText formControlName="chasis"
                [class.ng-invalid]="getNoValido('chasis')" [class.ng-dirty]="getNoValido('chasis')">         
            </div>
            <small *ngIf="getNoValido('chasis')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="kilometraje">kilometraje</label>
            <span class=" p-input-icon-right">
                <input id="kilometraje" type="number" pInputText formControlName="kilometraje" 
                        [class.ng-invalid]="getNoValido('kilometraje')" [class.ng-dirty]="getNoValido('kilometraje')">
                <small *ngIf="getNoValido('kilometraje')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="placa">Placa</label>
            <span class=" p-input-icon-right">
                <input id="placa" type="text" pInputText formControlName="placa" 
                        [class.ng-invalid]="getNoValido('placa')" [class.ng-dirty]="getNoValido('placa')">
                <small *ngIf="getNoValido('placa')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="fabricacion">Año Fabricación</label>
            <p-dropdown inputId="fabricacion" [options]="fechafabricacion" name="fabricacion" formControlName="fabricacion"
                        placeholder="Escoge..." optionLabel="value">
            </p-dropdown>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_brand">Marca</label>
            <p-dropdown inputId="id_brand" [options]="brands" name="id_brand" formControlName="id_brand"
                        placeholder="Escoge..." optionLabel="descripcion" [class.ng-invalid]="getNoValido('id_brand')" 
                        [class.ng-dirty]="getNoValido('id_brand')">
            </p-dropdown>
            <small *ngIf="getNoValido('id_brand')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_categoria">Modelo</label>
            <p-dropdown inputId="id_categoria" [options]="modelos" name="id_categoria" formControlName="id_categoria"
                        placeholder="Escoge..." optionLabel="descripcion" [class.ng-invalid]="getNoValido('id_categoria')" 
                        [class.ng-dirty]="getNoValido('id_categoria')">
            </p-dropdown>
            <small *ngIf="getNoValido('id_categoria')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_propiedad">Color</label>
            <p-dropdown inputId="id_propiedad" [options]="propiedades" name="id_propiedad" formControlName="id_propiedad"
                        placeholder="Escoge..." optionLabel="descripcion" [class.ng-invalid]="getNoValido('id_propiedad')" 
                        [class.ng-dirty]="getNoValido('id_propiedad')">
            </p-dropdown>
            <small *ngIf="getNoValido('id_propiedad')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="tipo_producto">Tipo</label>
            <p-dropdown input  [options]="origenes" name="tipo_producto" formControlName="tipo_producto" placeholder="Escoge..." 
            [class.ng-invalid]="getNoValido('tipo_producto')" [class.ng-dirty]="getNoValido('tipo_producto')" optionLabel="value">
            </p-dropdown>
            <small *ngIf="getNoValido('tipo_producto')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-6">
            <label>Documentos</label>
            <p-fileUpload name="demo[]" multiple="multiple" accept=".pdf,.doc,.xlsx" maxFileSize="5000000" [showCancelButton]="false" 
                          (onSelect)="onFileSelect()" [showUploadButton]="false" [showUploadButton]="false" chooseLabel="Subir Documentos">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
            <small *ngIf="getNoValido('archivos')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

    </div>    
</form>
<br>
<p-panel header="Inspecciones al Vehículo">        
    <div class="p-grid">
        <div class="p-col-4" *ngFor="let inspeccion of this.inspecciones; let i = index">
            <div class="box verificaciones">
                <div style="padding-right: 10px; float: left;"><strong style="font-size: 17px;">{{inspeccion.descripcion | titlecase}}</strong></div>
                <div style="display: flex; justify-content: flex-end;">
                    <p-selectButton [options]="stateOptions" [(ngModel)]="inspeccion.valor" optionLabel="label" optionValue="value" (onChange)="inspeccionRealizada()"></p-selectButton>
                </div>
            </div>
        </div>
    </div>
</p-panel>
<br>

<br>
<button *ngIf="this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit" (click)="guardarRecepcion()"></button>
<button *ngIf="this.actualizar" (click)="actualizarRecepcion()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
<button *ngIf="this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 


<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
	<ng-template pTemplate>
		<p-table #dt3 [value]="clientes" selectionMode="single" [(selection)]="clientesSeleccionados" (onRowSelect)="clienteSeleccionado($event.data)" 
				 [paginator]="true" [rows]="5" [globalFilterFields]="['nombre','num_rnc','cedula']">
			<ng-template pTemplate="caption">
			<div class="table-header">
				<span class="p-input-icon-left">
					<i class="pi pi-search"></i>
					<input pInputText type="text" (input)="dt3.filterGlobal($event.target.value, 'contains')" placeholder="Buscar Cliente..."/>
				</span>
			</div>
		</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th pSortableColumn="nombre">Nombre<p-sortIcon field="name"></p-sortIcon></th>                    
					<th pSortableColumn="num_rnc">RNC <p-sortIcon field="price"></p-sortIcon></th>
					<th pSortableColumn="cedula">Cédula <p-sortIcon field="price"></p-sortIcon></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData let-cliente>
				<tr [pSelectableRow]="rowData">
					<td>{{cliente.nombre}}</td>
					<td>{{cliente.num_rnc}}</td>
					<td>{{cliente.cedula}}</td>
				</tr>
			</ng-template>
		</p-table>
	</ng-template>
</p-overlayPanel>