<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Atributos del producto
        </ng-template>
        
        <ng-template pTemplate="subtitle">
            Escoge los atributos de tú producto.
        </ng-template>

        <ng-template pTemplate="content">             
            <div class="p-d-flex">
                <div class="p-mr-4" *ngFor="let items of this.atributos; let i = index">
                    <p-card>
                        <h4>{{items.descripcion | titlecase}}</h4>
                        <div class="p-field-checkbox" *ngFor="let item of items.atributo">
                            <ng-container *ngIf="item.value !== ''">
                                <p-checkbox [name]="item.value" [value]="item.value" [(ngModel)]="checked"></p-checkbox>
                                <label for="binary">{{item.label}}</label>
                            </ng-container>
                            <ng-container *ngIf="item.value === ''">
                                <span class="p-ml-2">{{item.label}}</span>
                                <input pInputText type="text" name="input" id="input">
                            </ng-container>
                        </div> 
                    </p-card>
                </div>
            </div>       
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <p-button label="Anterior" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Siguiente" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>