<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel *ngFor="let item of data">
            <ng-template pTemplate = "header">
                <i [attr.class]="item.icono" style="padding-right: 5px;"></i>
                <span>{{item.label | titlecase}}</span>
            </ng-template> 
            <app-formulario-clientes *ngIf="item.label === 'clientes'"></app-formulario-clientes>     
            <app-formulario-proveedores *ngIf="item.label === 'proveedores'"></app-formulario-proveedores>
            <app-formulario-transportista *ngIf="item.label === 'transportistas'"></app-formulario-transportista>
            <!-- <app-formulario-departamentos *ngIf="item.label === 'departamentos'"></app-formulario-departamentos> -->
            <app-formulario-empleados *ngIf="item.label === 'vendedor'"></app-formulario-empleados>
            <app-formulario-bodegas *ngIf="item.label === 'bodegas'"></app-formulario-bodegas>
            <app-formulario-maestra-productos *ngIf="item.label === 'productos'"></app-formulario-maestra-productos>
            <app-formulario-tipo-mov *ngIf="item.label === 'movimientos'"></app-formulario-tipo-mov>
        </p-tabPanel>
    </p-tabView>
</div>