<div class="card">
    <p-steps [model]="items" [(activeIndex)]="activeIndex" (activeIndexChange)="cambiaIndex($event)"></p-steps>
</div>

<div class="card">
    <ng-template pTemplate = "header">
        <i [attr.class]="item.icono" style="padding-right: 5px;"></i>
        <span>{{item.label | titlecase}}</span>
    </ng-template> 

    <div *ngFor="let item of items">
        <app-formulario-clientes *ngIf="item.label === 'Clientes' && this.activeIndex === 0"></app-formulario-clientes>     
        <app-formulario-transportista *ngIf="item.label === 'Transportistas' && this.activeIndex === 1"></app-formulario-transportista>
        <app-formulario-proveedores *ngIf="item.label === 'Proveedores' && this.activeIndex === 2"></app-formulario-proveedores>
        <app-formulario-tipo-mov *ngIf="item.label === 'Movimientos' && this.activeIndex === 3"></app-formulario-tipo-mov>
        <app-formulario-empleados *ngIf="item.label === 'Vendedor' && this.activeIndex === 3"></app-formulario-empleados>
        <app-formulario-maestra-productos *ngIf="item.label === 'Productos' && this.activeIndex === 4"></app-formulario-maestra-productos>
    </div>
</div>

<p-toolbar>	
    <div class="p-toolbar-group-left">
        <button label="Anterior" (click)="prevPage()" class="p-button-secondary" pButton pRipple type="button" icon="pi pi-angle-left" iconPos="left" *ngIf="this.activeIndex !== 0"></button>
    </div>						
    <div class="p-toolbar-group-right">
        <button label="Siguiente" (click)="nextPage()" class="p-button-secondary" pButton pRipple type="button" icon="pi pi-angle-right" iconPos="right" *ngIf="this.activeIndex !== this.items.length - 1"></button>
        <button label="Finalizar" (click)="finalizar()" class="p-button-warning" pButton pRipple type="button" icon="pi pi-times" iconPos="right" *ngIf="this.activeIndex === this.items.length - 1"></button>
    </div>
</p-toolbar>