

<div class="p-grid table-demo">	
	<div class="p-col-12">
		<div class="card">
            <h5>Gestión de Transacciones</h5>
            <p-tabView orientation="left" [(activeIndex)]="index">
                <p-tabPanel  header="Consultar" leftIcon="pi pi-search">							
					<p-table #dt [columns]="cols" [value]="transacciones" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
						     [rowHover]="true" [rows]="20" [paginator]="true" [filterDelay]="0" dataKey="num_doc"  [globalFilterFields]="['num_doc','descripcion','condicion_recibo','fecha']">
						
						<ng-template pTemplate="caption">
							<div class="table-header">
								<span class="p-input-icon-left">
									<i class="pi pi-search"></i>
									<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar...."/>
								</span>
							</div>
						</ng-template>

						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns" [pSortableColumn]="col.field" class="centrar">
									{{col.header}}
									<p-sortIcon [field]="col.field" *ngIf="col.field !== 'acciones'"></p-sortIcon>
								</th>
							</tr>
						</ng-template>

						<ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
							<tr class="p-selectable-row">
								<td *ngFor="let col of columns" [ngClass]="{'centrar': col.field !== 'comentario' }">
									<span class="p-column-title">{{col.header}}</span>	
									
									<span *ngIf="col.field === 'num_doc'">										
										{{rowData[col.field] }}
									</span>

									<span *ngIf="col.field === 'titulo_mov' || col.field === 'comentario'">										
										{{rowData[col.field] | titlecase}}
									</span>									

									<span *ngIf="col.field === 'fecha'">
										{{rowData[col.field]}}
									</span>

									<span *ngIf="col.field === 'condicion_recibo'">
										<span *ngIf="rowData.condicion_recibo === 'si'" class="p-badge p-badge-lg p-badge-success">{{rowData.condicion_recibo | uppercase}}</span>
										<span *ngIf="rowData.condicion_recibo === 'no'" class="p-badge p-badge-lg p-badge-warning">{{rowData.condicion_recibo | uppercase}}</span>
									</span>

									<span *ngIf="col.field === 'acciones'">
										<button pButton pRipple type="button" [pRowToggler]="rowData" [icon]="expanded ? 'pi pi-eye-slash' : 'pi pi-eye'" class="p-button p-button-success p-mr-2 p-mb-2" pTooltip="Ver Detalles"></button>
										<button pButton pRipple type="button" icon="pi pi-user-edit" class="p-button p-button-warning p-mr-2 p-mb-2" pTooltip="Actualizar"></button>
										<button pButton pRipple type="button" icon="pi pi-print" class="p-button p-button-info p-mr-2 p-mb-2" (click)="imprimirTransaccion(rowData.num_doc)" pTooltip="Imprimir"></button>
										<button pButton pRipple type="button" icon="pi pi-trash" class="p-button p-button-danger p-mr-2 p-mb-2" (click)="borrarTransaccion(rowData.id)"pTooltip="Eliminar"></button>
										<!-- <button pButton pRipple type="button" icon="pi pi-file-excel" class="p-button p-button-success p-mr-2 p-mb-2" (click)="dt.exportCSV()"></button> -->
									</span>
								</td>								
							</tr>
						</ng-template>
						
						<ng-template pTemplate="rowexpansion" let-rowData>
							<tr>
								<td [attr.colspan]="cols.length">
									<div class="p-p-3">
										<p-table [value]="rowData.productos" dataKey="id">
											<ng-template pTemplate="header">
												<tr>													
													<th class="centrar" pSortableColumn="titulo">Producto <p-sortIcon field="titulo"></p-sortIcon></th>
													<th class="centrar" pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon></th>
													<th class="centrar" pSortableColumn="categoria">Categoría <p-sortIcon field="categoria"></p-sortIcon></th>
													<th class="centrar" pSortableColumn="precio_venta">Precio <p-sortIcon field="precio_venta"></p-sortIcon></th>
													<th class="centrar" pSortableColumn="cantidad">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
													<th class="centrar" pSortableColumn="almacen">Almacen <p-sortIcon field="almacen"></p-sortIcon></th>
												</tr>
											</ng-template>
											<ng-template pTemplate="body" let-detalle>
												<tr>
													<td class="centrar">
														<img [alt]="detalle.galeriaImagenes" [src]="detalle.galeriaImagenes | invProductos " width="64" style="vertical-align: middle"/>
														<div>{{detalle.titulo | titlecase}}</div>
													</td>
													<td class="centrar">{{detalle.codigo}}</td>
													<td class="centrar">{{detalle.categoria | titlecase}}</td>
													<td class="centrar">${{detalle.precio_venta}}</td>
													<td class="centrar">{{detalle.cantidad}}</td>
													<td class="centrar">{{detalle.almacen | titlecase}}</td>
												</tr>
											</ng-template>
										</p-table>
									</div>
								</td>
							</tr>
						</ng-template>

						<ng-template pTemplate="emptymessage">
							<tr>
								<td colspan="8">No existen productos en la base de datos.</td>
							</tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
							<div class="p-d-flex p-ai-center p-jc-between" *ngIf="transacciones.length !== 1">
								Existen {{transacciones ? transacciones.length : 0 }} transacciones en total.
							</div>

							<div class="p-d-flex p-ai-center p-jc-between" *ngIf="transacciones.length === 1">
								Existe solo {{transacciones ? transacciones.length : 0 }} transaccion en total.
							</div>
						</ng-template>
					</p-table>
				</p-tabPanel>				

                <p-tabPanel header="Adicionar" leftIcon="pi pi-plus">					
					<app-formulario-inv-transacciones></app-formulario-inv-transacciones>
                </p-tabPanel>
            </p-tabView>
		</div>
		<p-toast key="tst"></p-toast>

		<p-confirmDialog header="Atención" icon="pi pi-exclamation-triangle" message="Esta seguro de borrar este registro?"
			[style]="{width: '425px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
		</p-confirmDialog>
	</div>
	
</div>
