<p-table #dt [columns]="cols" [value]="direcciones" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
        [rowHover]="true" [rows]="20" [paginator]="true" [filterDelay]="0" [(selection)]="direccioneSeleccionada" closeOnEscape="true"
        [globalFilterFields]="['pais','ciudad','direccion_a','direccion_b','nombre','telefono']">

    <ng-template pTemplate="caption">
        <div class="table-header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..."/>
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}									
                <p-sortIcon [field]="col.field" *ngIf="(col.field !== 'esc')"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr class="p-selectable-row">

            <td *ngFor="let col of columns">
                <span class="p-column-title">{{col.header}}</span>	

                <span *ngIf="col.field === 'esc'">
                    <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                </span>

                <span *ngIf="col.field !== 'esc'">
                    {{ rowData[col.field] | titlecase}}
                </span>
            </td>								
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No existen direcciones en la base de datos.</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="direcciones.length !== 1">
            Existen {{direcciones ? direcciones.length : 0 }} direcciones en total.
        </div>

        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="direcciones.length === 1">
            Existe solo {{direcciones ? direcciones.length : 0 }} dirección en total.
        </div>
    </ng-template>
</p-table>                    
        
<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="right">
        <button pButton pRipple label="Enviar" class="p-button-success p-mr-2" (click)="enviarDireccion()"></button>          
    </ng-template>
</p-toolbar>
<!--                     
<p-table #dt [value]="productos" [rows]="5" [paginator]="true" [globalFilterFields]="['titulo','codigo','precio','cantidad']"
        [(selection)]="direccioneSeleccionada" [rowHover]="true" dataKey="id" closeOnEscape="true" [showCurrentPageReport]="true">
   
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>                
                <th pSortableColumn="titulo">Título <p-sortIcon field="titulo"></p-sortIcon></th>               
                <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon></th>
                <th pSortableColumn="precio">Precio<p-sortIcon field="precio"></p-sortIcon></th>
                <th pSortableColumn="cantidad">Cantidad<p-sortIcon field="cantidad"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
            <tr>
                <td>
                    <p-tableRadioButton [value]="producto"></p-tableRadioButton>
                </td>
                <td>{{producto.titulo | titlecase}}</td>
                <td>{{producto.codigo}}</td>   
                <td>{{producto.precio_venta}}</td>   
                <td>{{producto.cantidad || 0}}</td>                
            </tr>
        </ng-template>
    </p-table>
        
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="right">
            <button pButton pRipple label="Enviar" class="p-button-success p-mr-2" (click)="enviarDireccion()"></button>          
        </ng-template>
    </p-toolbar> -->