
<form [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
        <p-fieldset legend="Datos básicos del producto" class="p-col-12 p-mb-4" >            
            <div class="p-fluid p-formgrid p-grid">
                
                <div class="p-field p-col-12">
                    <a href="javascript:void(0);">
                        <img *ngIf="imgURL !== null" [src]="imgURL" width="64" height="64" alt="" class="media-object rounded" style="width: 160px; height: 120px;">
                        <img *ngIf="imgURL === null" [src]="imgEmpresa | invProductos" width="64" height="64" alt="" class="media-object rounded" style="width: 160px; height: 120px;">
                    </a>
                    <span style="color:red;" *ngIf="message">{{message}}</span>
                    <div>
                        <input #file type="file" accept='image/*' (change)="preview(file.files)" />
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4">
                    <label for="nombre">Nombre</label>
                    <span class=" p-input-icon-right">
                        <input type="text" pInputText formControlName="nombre" [class.ng-invalid]="getNoValido('nombre')" 
                               [class.ng-dirty]="getNoValido('nombre')" (keyup)="verificaProducto($event.target.value)">
                        <i class="pi pi-spin pi-spinner" *ngIf="productoExiste === 0" style="color:#f5df18"></i>
                        <i class="pi pi-check" *ngIf="productoExiste === 1" style="color:#36b61d"></i>
                        <i class="pi pi-times" *ngIf="productoExiste === 2" style="color:#d83131"></i>
                        <i class="pi pi-file-o" *ngIf="productoExiste === 3"></i>
                    </span>
                    <small *ngIf="getNoValido('nombre')" class="p-invalid">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12 p-md-2">     
                    <label for="categoria">Categoria</label>                            
                    <p-dropdown inputId="categoria" [options]="categorias" formControlName="categoria" 
                                optionLabel="descripcion" placeholder="Escoja categoria"
                                [class.p-invalid]="getNoValido('categoria')" [class.ng-dirty]="getNoValido('categoria')" >
                    </p-dropdown>
                    <small class="p-invalid" *ngIf="getNoValido('categoria')">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12 p-md-2">     
                    <label for="proveedor">proveedor</label>                            
                    <p-dropdown inputId="proveedor" [options]="proveedores" formControlName="proveedor" 
                                optionLabel="nom_sp" placeholder="Escoja proveedor"
                                [class.p-invalid]="getNoValido('proveedor')" [class.ng-dirty]="getNoValido('proveedor')" >
                    </p-dropdown>
                    <small class="p-invalid" *ngIf="getNoValido('proveedor')">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12 p-md-2">     
                    <label for="envios">Tipo de envío</label>                            
                    <p-dropdown inputId="envios" [options]="envios" formControlName="envios" optionLabel="descripcion" 
                                [class.p-invalid]="getNoValido('envios')" [class.ng-dirty]="getNoValido('envios')"
                                placeholder="Escoja envio">
                    </p-dropdown>
                    <small class="p-invalid" *ngIf="getNoValido('envios')">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12">
                    <label for="descripcion">Descripción</label>
                    <textarea   type="text" rows="4" pInputTextarea name="descripcion" formControlName="descripcion"
                    [class.ng-invalid]="getNoValido('descripcion')" [class.ng-dirty]="getNoValido('descripcion')"></textarea>
                    <small *ngIf="getNoValido('descripcion')" class="p-invalid">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12 p-md-2">
                    <label for="regular_price">Precio regular</label>
                    <p-inputNumber inputId="regular_price" mode="decimal" name="regular_price" formControlName="regular_price"[class.ng-invalid]="getNoValido('regular_price')" 
                    [class.ng-dirty]="getNoValido('regular_price')"></p-inputNumber>
                    <small *ngIf="getNoValido('regular_price')" class="p-invalid">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12 p-md-2">
                    <label for="precio">Precio</label>
                    <p-inputNumber inputId="precio" mode="decimal" name="precio" formControlName="precio"[class.ng-invalid]="getNoValido('precio')" 
                    [class.ng-dirty]="getNoValido('precio')"></p-inputNumber>
                    <small *ngIf="getNoValido('precio')" class="p-invalid">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12 p-md-2">
                    <label for="descuento">Descuento</label>
                    <p-inputNumber inputId="descuento" mode="decimal" name="descuento" formControlName="descuento"[class.ng-invalid]="getNoValido('descuento')" 
                    [class.ng-dirty]="getNoValido('descuento')"></p-inputNumber>
                    <small *ngIf="getNoValido('descuento')" class="p-invalid">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12 p-md-2">
                    <label for="ganancia">Ganancia</label>
                    <p-inputNumber inputId="ganancia" mode="decimal" name="ganancia" formControlName="ganancia"[class.ng-invalid]="getNoValido('ganancia')" 
                    [class.ng-dirty]="getNoValido('ganancia')"></p-inputNumber>
                    <small *ngIf="getNoValido('ganancia')" class="p-invalid">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12">
                    <label for="purchase_note">Nota adicional</label>
                    <textarea type="text" rows="4" pInputTextarea name="purchase_note" formControlName="purchase_note"
                              [class.ng-invalid]="getNoValido('purchase_note')" [class.ng-dirty]="getNoValido('purchase_note')">
                    </textarea>
                    <small *ngIf="getNoValido('purchase_note')" class="p-invalid">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12 p-md-2">
                    <label for="width">Anchura</label>
                    <p-inputNumber inputId="width" mode="decimal" name="width" formControlName="width"[class.ng-invalid]="getNoValido('width')" 
                    [class.ng-dirty]="getNoValido('width')"></p-inputNumber>
                    <small *ngIf="getNoValido('width')" class="p-invalid">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12 p-md-2">
                    <label for="height">Altura</label>
                    <p-inputNumber inputId="height" mode="decimal" name="height" formControlName="height"[class.ng-invalid]="getNoValido('height')" 
                    [class.ng-dirty]="getNoValido('height')"></p-inputNumber>
                    <small *ngIf="getNoValido('height')" class="p-invalid">Este campo es obligatorio.</small>
                </div>

                <div class="p-field p-col-12 p-md-2">
                    <label for="weight">Peso (lbs)</label>
                    <p-inputNumber inputId="weight" mode="decimal" name="weight" formControlName="weight"[class.ng-invalid]="getNoValido('weight')" 
                    [class.ng-dirty]="getNoValido('weight')"></p-inputNumber>
                    <small *ngIf="getNoValido('weight')" class="p-invalid">Este campo es obligatorio.</small>
                </div>

                <!-- <div class="p-col-12">
                    <div class="p-col-12">
                        <h5>Galería de Imagenes</h5>
                        <p-fileUpload multiple="multiple" accept="image/*" maxFileSize="1000000" [showUploadButton]="false"
                                      (onSelect)="onFileSelect()" chooseLabel="Escoja Imagen" cancelLabel="Cancelar">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div> -->
                <!-- <div class="p-col-12">
                    <app-fileuploads class="p-field p-col-12 p-md-4"></app-fileuploads>
                </div> -->
            </div>
        </p-fieldset>
        					
    </div>
    <br>
    <button *ngIf="this.guardar" (click)="guardarProducto()" pButton pRipple label="Guardar" icon="pi pi-save" ></button>
    <button *ngIf="this.actualizar" (click)="guardarProducto()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>

<p-toast key="tst"></p-toast>