<form (ngSubmit)="guardarTransaccion()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
            <label for="id_tipomov">Movimientos</label>
            <p-dropdown id="id_tipomov" [options]="movimientos" name="id_tipomov" formControlName="id_tipomov"
                placeholder="Escoje.." optionLabel="titulo" (onChange)="verMovimiento($event)"
                [class.p-invalid]="getNoValido('id_tipomov')" [class.ng-dirty]="getNoValido('id_tipomov')">
            </p-dropdown>
            <small *ngIf="getNoValido('id_tipomov')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_num_oc">Orden de Compra</label>
            <span class=" p-input-icon-right">
                <input pInputText id="id_num_oc" mode="decimal" name="id_num_oc" formControlName="id_num_oc"
                    (keyup)="verificaOrdenCompra($event.target.value)" [class.p-invalid]="getNoValido('id_num_oc')"
                    [class.ng-dirty]="getNoValido('id_num_oc')" type="number" />
                <i class="pi pi-spin pi-spinner" *ngIf="ocExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="ocExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="ocExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="ocExiste === 3"></i>
            </span>
            <small *ngIf="getNoValido('id_num_oc')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="proveedor">Proveedor</label>
            <p-autoComplete formControlName="proveedor" [suggestions]="ProveedoresFiltrados"
                (completeMethod)="filtrarProveedor($event)" field="nom_sp" [dropdown]="true"
                [class.p-invalid]="getNoValido('proveedor')"
                [class.ng-dirty]="getNoValido('proveedor')">
                <ng-template let-proveedor pTemplate="item">
                    <div class="country-item">
                        <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                        <div>{{proveedor.nom_sp | titlecase}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('proveedor')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="fecha">Fecha de Orden</label>
            <span class=" p-input-icon-right">
                <p-calendar formControlName="fecha" [showIcon]="true" dateFormat="yy/mm/dd"
                    [class.p-invalid]="getNoValido('fecha')" [class.ng-dirty]="getNoValido('fecha')"
                    (onSelect)="onSelectDate($event)" [minDate]="minDate" id="icon">
                </p-calendar>
            </span>
            <small *ngIf="getNoValido('fecha')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12">
            <label for="direccion">Dirección</label>
            <textarea id="direccion" type="text" rows="4" pInputTextarea name="direccion" formControlName="direccion"
                [class.p-invalid]="getNoValido('direccion')" [class.ng-dirty]="getNoValido('direccion')">
            </textarea>
            <small *ngIf="getNoValido('direccion')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="vendedor">Vendedor</label>
            <p-autoComplete formControlName="vendedor" [suggestions]="vendedorFiltrado"
                [class.p-invalid]="getNoValido('vendedor')" [class.ng-dirty]="getNoValido('vendedor')"
                (completeMethod)="filtrarVendedor($event)" field="nombre"
                [dropdown]="true">
                <ng-template let-vendedor pTemplate="item">
                    <div class="country-item">
                        <div>{{vendedor.nombre | titlecase}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('vendedor')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="cod_transportista">Transportista</label>
            <p-dropdown id="cod_transportista" [options]="transportistas" name="cod_transportista"
                formControlName="cod_transportista" placeholder="Escoje.." optionLabel="nombre"
                [class.p-invalid]="getNoValido('cod_transportista')"
                [class.ng-dirty]="getNoValido('cod_transportista')">
            </p-dropdown>
            <small *ngIf="getNoValido('cod_transportista')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="tarifa">Tarifa Transporte</label>
                <p-inputNumber formControlName="tarifa" [class.p-invalid]="getNoValido('tarifa')"
                               [class.ng-dirty]="getNoValido('tarifa')"[min]="1">
                </p-inputNumber>
            <small *ngIf="getNoValido('tarifa')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12">
            <label for="comentario">Comentario</label>
            <textarea id="comentario" type="text" rows="4" pInputTextarea name="comentario" formControlName="comentario"
                [class.p-invalid]="getNoValido('comentario')" [class.ng-dirty]="getNoValido('comentario')">
            </textarea>
            <small *ngIf="getNoValido('comentario')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
    </div>

    <p-panel #pnl header="Producto/s vinculado/s a la transacción" styleClass="p-mt-4">
        <div formArrayName="productos">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                </div>
                <div class="p-toolbar-group-right">
                    <button pButton pRipple label="Buscar Productos" icon="pi pi-search" type="button"
                        (click)="buscaProductos()"></button>
                </div>
            </p-toolbar>
            <br>
            <p-table [columns]="cols2" [value]="productos" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped" [rowHover]="true"
                [rows]="20" [paginator]="true" [filterDelay]="0" [globalFilterFields]="['titulo','codigo','categoria','marca','almacen','tipoinventario']">

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"
                                *ngIf="(col.field !== 'imagen' && col.field !== 'acciones')"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                    <tr [formGroupName]="i" class="p-selectable-row">
                        <td *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'imagen'}">
                            <span class="p-column-title">{{col.header}}</span>

                            <div *ngIf="col.field === 'imagen'" class="p-text-center">
                                <img [alt]="rowData[col.field]" [src]="rowData.galeriaImagenes | invProductos"
                                    width="64" style="vertical-align: middle" />
                                <div class="p-mb-3 demo-container p-text-nowrap p-text-truncate" style="width: 6rem">
                                    {{rowData['titulo']}}</div>
                            </div>

                            <div *ngIf="col.field !== 'cantidad1' && col.field !== 'precio'">
                                {{rowData[col.field] | titlecase}}
                            </div>
                            
                            <div *ngIf="col.field === 'cantidad1'">
                                <input pInputText [min]="1" [max]="1000" formControlName="cantidad1" type="number" />
                            </div>

                            <div *ngIf="col.field === 'precio'">
                                ${{rowData[col.field]}}
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No existen productos en la base de datos.</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length !== 1">
                        Existen {{productos ? productos.length : 0 }} productos en total.
                    </div>

                    <div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length === 1">
                        Existe solo {{productos ? productos.length : 0 }} producto en total.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </p-panel>
    <br>
    <button *ngIf="!this.guardando" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button pButton pRipple label="Guardando" icon="pi pi-spin pi-spinner" *ngIf="this.guardando" type="button"
        disabled="true"></button>
</form>

<p-dialog header="Permisos a bodegas:" [(visible)]="noPermisos" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p>Atención:</p>
    <p>Usted no tiene permisos para hacer transferencias entre los almacenes creados, solicite dichos permisos a un
       administrador.
    </p>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="OK" (click)="concederPermisos()" icon="pi pi-check" type="button"></button>
    </ng-template>
</p-dialog>