<div class="intermitente" *ngIf="this.items.length !== 0">
	<p-accordion styleClass="intermitente">
		<p-accordionTab header="CLICK AQUI PARA INSERCION DE DATOS INICALES">       
		   <div class="card">
			   <p-toast></p-toast>
			   <p-steps [model]="items" [readonly]="true"></p-steps>
		   </div>
		   <router-outlet></router-outlet>
		   <app-step-toolbar [items]="this.items" [readonly]="true"></app-step-toolbar>
		</p-accordionTab>
	</p-accordion>
</div>
<br>
<form (ngSubmit)="guardarTransaccion()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
            <label for="id_tipomov">Movimientos</label>
            <p-dropdown inputId="id_tipomov" [options]="movimientos" name="id_tipomov" formControlName="id_tipomov"
                placeholder="Escoje.." optionLabel="titulo" (onChange)="verMovimiento($event)"
                [class.p-invalid]="getNoValido('id_tipomov')" [class.ng-dirty]="getNoValido('id_tipomov')">
            </p-dropdown>
            <small *ngIf="getNoValido('id_tipomov')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="conduce_no">Conduce</label>
            <input pInputText type="number" inputId="conduce_no" mode="decimal" name="conduce_no"
                formControlName="conduce_no" [class.p-invalid]="getNoValido('conduce_no')"
                [class.ng-dirty]="getNoValido('conduce_no')" />
            <small *ngIf="getNoValido('conduce_no')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_bodega">Bodega Origen</label>
            <p-dropdown inputId="id_bodega" [options]="bodegasPermisos" name="id_bodega" formControlName="id_bodega"
                placeholder="Escoje.." optionLabel="descripcion" [class.p-invalid]="getNoValido('id_bodega')"
                [class.ng-dirty]="getNoValido('id_bodega')">
            </p-dropdown>
            <small *ngIf="getNoValido('id_bodega')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_bodega_d">Bodega Destino</label>
            <p-dropdown inputId="id_bodega_d" [options]="bodegas" name="id_bodega_d" formControlName="id_bodega_d"
                placeholder="Escoje.." optionLabel="descripcion" [class.p-invalid]="getNoValido('id_bodega_d')"
                [class.ng-dirty]="getNoValido('id_bodega_d')">
            </p-dropdown>
            <small *ngIf="getNoValido('id_bodega_d')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="orden_pedido">Orden de Pedido</label>
            <span class="p-input-icon-right">
                <input type="number" pInputText inputId="orden_pedido" mode="decimal" name="orden_pedido"
                    formControlName="orden_pedido" (keyup)="verificaOrdenPedido($event.target.value)"
                    [readonly]="cPedido" [class.p-invalid]="getNoValido('orden_pedido')"
                    [class.ng-dirty]="getNoValido('orden_pedido')" />
                <i class="pi pi-spin pi-spinner" *ngIf="ordenPedidoExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="ordenPedidoExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="ordenPedidoExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="ordenPedidoExiste === 3"></i>
            </span>
            <small *ngIf="getNoValido('orden_pedido')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="factura">Factura</label>
            <span class=" p-input-icon-right">
                <input pInputText inputId="factura" mode="decimal" name="factura" formControlName="factura"
                    (keyup)="verificaFactura($event.target.value)" [class.p-invalid]="getNoValido('factura')"
                    [class.ng-dirty]="getNoValido('factura')" type="number" />
                <i class="pi pi-spin pi-spinner" *ngIf="facturaExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="facturaExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="facturaExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="facturaExiste === 3"></i>
            </span>
            <small *ngIf="getNoValido('factura')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_num_oc">Orden de Compra</label>
            <span class=" p-input-icon-right">
                <input pInputText inputId="id_num_oc" mode="decimal" name="id_num_oc" formControlName="id_num_oc"
                    (keyup)="verificaOrdenCompra($event.target.value)" [class.p-invalid]="getNoValido('id_num_oc')"
                    [class.ng-dirty]="getNoValido('id_num_oc')" type="number" />
                <i class="pi pi-spin pi-spinner" *ngIf="ocExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="ocExiste === 1" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="ocExiste === 2" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="ocExiste === 3"></i>
            </span>
            <small *ngIf="getNoValido('id_num_oc')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="cliente">Cliente</label>
            <p-autoComplete formControlName="cliente" [suggestions]="clientesFiltrados"
                (completeMethod)="filtrarCliente($event)" (onSelect)="setDataCliente($event)" field="nombre"
                [dropdown]="true" [class.p-invalid]="getNoValido('cliente')" [class.ng-dirty]="getNoValido('cliente')">
                <ng-template let-cliente pTemplate="item">
                    <div class="country-item">
                        <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                        <div>{{cliente.nombre | titlecase}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('cliente')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="email">Email</label>
            <span class=" p-input-icon-right">
                <input type="text" pInputText formControlName="email" [class.p-invalid]="getNoValido('email')"
                    [class.ng-dirty]="getNoValido('email')">
            </span>
            <small *ngIf="getNoValido('email')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="departamento">Centro de Costo</label>
            <p-autoComplete formControlName="departamento" [suggestions]="DeptosFiltrados"
                (completeMethod)="filtrarDepto($event)" field="titulo" [class.p-invalid]="getNoValido('departamento')"
                [class.ng-dirty]="getNoValido('departamento')" [dropdown]="true">
                <ng-template let-departamento pTemplate="item">
                    <div class="country-item">
                        <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                        <div>{{departamento.titulo | titlecase}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('departamento')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="proveedor">Proveedor</label>
            <p-autoComplete formControlName="proveedor" [suggestions]="ProveedoresFiltrados"
                (completeMethod)="filtrarProveedor($event)" field="nom_sp" [dropdown]="true"
                (onSelect)="SetDatosProveedor($event)" [class.p-invalid]="getNoValido('proveedor')"
                [class.ng-dirty]="getNoValido('proveedor')">
                <ng-template let-proveedor pTemplate="item">
                    <div class="country-item">
                        <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                        <div>{{proveedor.nom_sp | titlecase}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('proveedor')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="fecha">Fecha de Orden</label>
            <span class=" p-input-icon-right">
                <p-calendar formControlName="fecha" [showIcon]="true" dateFormat="yy/mm/dd"
                    [class.p-invalid]="getNoValido('fecha')" [class.ng-dirty]="getNoValido('fecha')"
                    (onSelect)="onSelectDate($event)" [minDate]="minDate" inputId="icon">
                </p-calendar>
            </span>
            <small *ngIf="getNoValido('fecha')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12">
            <label for="direccion">Dirección</label>
            <textarea id="direccion" type="text" rows="4" pInputTextarea name="direccion" formControlName="direccion"
                [class.p-invalid]="getNoValido('direccion')" [class.ng-dirty]="getNoValido('direccion')">
            </textarea>
            <small *ngIf="getNoValido('direccion')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="documento">Documento</label>
            <span class=" p-input-icon-right">
                <input id="documento" type="text" pInputText formControlName="documento" 
                [class.ng-invalid]="getNoValido('documento')" [class.ng-dirty]="getNoValido('documento')"
                       (keyup)="verificaRNC($event.target.value)">
                <i class="pi pi-spin pi-spinner" *ngIf="rncExiste === 0" style="color:#f5df18"></i>
                <i class="pi pi-check" *ngIf="rncExiste === 2" style="color:#36b61d"></i>
                <i class="pi pi-times" *ngIf="rncExiste === 1" style="color:#d83131"></i>
                <i class="pi pi-file-o" *ngIf="rncExiste === 3"></i>
                <small *ngIf="getNoValido('documento')" class="p-invalid">Este campo es obligatorio.</small>
            </span>
        </div>

        <!-- <div class="p-field p-col-12 p-md-3">
            <label for="id">Vendedor</label>
            <p-dropdown inputId="id" [options]="vendedores"  
                        name="id" formControlName="id"
                        placeholder="Escoje.." optionLabel="primernombre">
            </p-dropdown>
            <small *ngIf="getNoValido('id')" class="p-invalid">Este campo es obligatorio.</small>
        </div> -->

        <div class="p-field p-col-12 p-md-3">
            <label for="id">Vendedor</label>
            <p-autoComplete formControlName="id" [suggestions]="vendedorFiltrado"
                [class.p-invalid]="getNoValido('id')" [class.ng-dirty]="getNoValido('id')"
                (completeMethod)="filtrarVendedor($event)" (onSelect)="datosVendedor($event)" field="nombre_empleado"
                [dropdown]="true">
                <ng-template let-vendedor pTemplate="item">
                    <div class="country-item">
                        <div>{{vendedor.nombre_empleado | titlecase}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <small *ngIf="getNoValido('id')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="cod_transportista">Transportista</label>
            <p-dropdown inputId="cod_transportista" [options]="transportistas" name="cod_transportista"
                formControlName="cod_transportista" placeholder="Escoje.." optionLabel="nombre"
                (onChange)="datosTrasportista($event)" [class.p-invalid]="getNoValido('cod_transportista')"
                [class.ng-dirty]="getNoValido('cod_transportista')">
            </p-dropdown>
            <small *ngIf="getNoValido('cod_transportista')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="cod_tarifa">Tarifa Transporte</label>
                <p-inputNumber formControlName="cod_tarifa" [class.p-invalid]="getNoValido('cod_tarifa')"
                               [class.ng-dirty]="getNoValido('cod_tarifa')"[min]="1">
                </p-inputNumber>
            <small *ngIf="getNoValido('cod_tarifa')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="placa">Placa</label>
            <input pInputText inputId="placa" mode="decimal" [min]="1" [max]="100" name="placa" formControlName="placa"
                [class.p-invalid]="getNoValido('placa')" [class.ng-dirty]="getNoValido('placa')" />
            <small *ngIf="getNoValido('placa')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="num_doc_entrada">Documento de Produción</label>
            <input pInputText inputId="num_doc_entrada" mode="decimal" [min]="1" [max]="100" name="num_doc_entrada"
                formControlName="num_doc_entrada" [class.p-invalid]="getNoValido('num_doc_entrada')"
                [class.ng-dirty]="getNoValido('num_doc_entrada')" />
            <small *ngIf="getNoValido('num_doc_entrada')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12">
            <label for="comentario">Comentario</label>
            <textarea id="comentario" type="text" rows="4" pInputTextarea name="comentario" formControlName="comentario"
                [class.p-invalid]="getNoValido('comentario')" [class.ng-dirty]="getNoValido('comentario')">
            </textarea>
            <small *ngIf="getNoValido('comentario')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
    </div>

    <p-panel #pnl header="Producto/s vinculado/s a la transacción" styleClass="p-mt-4">
        <div formArrayName="productos">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                </div>
                <div class="p-toolbar-group-right">
                    <button pButton pRipple label="Buscar Productos" icon="pi pi-search" type="button"
                        (click)="buscaProductos()"></button>
                </div>
            </p-toolbar>
            <br>
            <p-table [columns]="cols2" [value]="productos" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped" [rowHover]="true"
                [rows]="20" [paginator]="true" [filterDelay]="0" [globalFilterFields]="['titulo','codigo','categoria','marca','almacen','tipoinventario']">

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"
                                *ngIf="(col.field !== 'imagen' && col.field !== 'acciones')"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                    <tr [formGroupName]="i" class="p-selectable-row">
                        <td *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'imagen'}">
                            <span class="p-column-title">{{col.header}}</span>

                            <div *ngIf="col.field === 'imagen'" class="p-text-center">
                                <img [alt]="rowData[col.field]" [src]="rowData.galeriaImagenes | invProductos"
                                    width="64" style="vertical-align: middle" />
                                <div class="p-mb-3 demo-container p-text-nowrap p-text-truncate" style="width: 6rem">
                                    {{rowData['titulo']}}</div>
                            </div>

                            <div *ngIf="col.field !== 'cantidad1' && col.field !== 'precio'">
                                {{rowData[col.field] | titlecase}}
                            </div>
                            
                            <div *ngIf="col.field === 'cantidad1'">
                                <input pInputText [min]="1" [max]="1000" formControlName="cantidad1" type="number" />
                            </div>

                            <div *ngIf="col.field === 'precio'">
                                ${{rowData[col.field]}}
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No existen productos en la base de datos.</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length !== 1">
                        Existen {{productos ? productos.length : 0 }} productos en total.
                    </div>

                    <div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length === 1">
                        Existe solo {{productos ? productos.length : 0 }} producto en total.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </p-panel>
    <br>
    <button *ngIf="!this.guardando" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button pButton pRipple label="Guardando" icon="pi pi-spin pi-spinner" *ngIf="this.guardando" type="button"
        disabled="true"></button>
</form>

<p-dialog header="Permisos a bodegas:" [(visible)]="noPermisos" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p>Atención:</p>
    <p>Usted no tiene permisos para hacer transferencias entre los almacenes creados, solicite dichos permisos a un
       administrador.
    </p>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="OK" (click)="concederPermisos()" icon="pi pi-check" type="button"></button>
    </ng-template>
</p-dialog>