
<p-toolbar>	
    <div class="p-toolbar-group-left"></div>						
    <div class="p-toolbar-group-right">
        <span style="margin-right: 10px;"><strong>Calcula ITBIS?</strong></span>
    <p-selectButton [options]="opciones" [(ngModel)]="this.itbis" optionLabel="label" optionValue="value" (onChange)="setItbis($event)"	 ></p-selectButton>	
    </div>
</p-toolbar>
<br>
<form (ngSubmit)="guardarFproveedor()" [formGroup]="forma">
    <p-panel header="Facturas u Orden de compra" >
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-2">
                <label for="proveedor">Proveedor</label>	
                <p-autoComplete formControlName="proveedor" [suggestions]="ProveedoresFiltrados" (completeMethod)="filtrarProveedor($event)" 
                                (onSelect)="datosProv($event)" [class.ng-invalid]="getNoValido('proveedor')" [class.ng-dirty]="getNoValido('proveedor')"
                                field="nom_sp" [dropdown]="true">
                    <ng-template let-proveedor pTemplate="item">
                        <div class="country-item">
                            <div>{{proveedor.nom_sp | titlecase}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
                <small *ngIf="getNoValido('proveedor')" class="p-invalid">Este campo es obligatorio.</small>						
            </div>
          
            <div class="p-field p-col-12 p-md-2">
                <label for="orden_no">Orden de Compra</label>
                <span class=" p-input-icon-right">
                    <input pInputText inputId="orden_no" mode="decimal" name="orden_no" formControlName="orden_no" [class.ng-invalid]="getNoValido('orden_no')" 
                           [class.ng-dirty]="getNoValido('orden_no')" (keyup)="verificaOrdenCompra($event.target.value)" type="number"/>
                    <i class="pi pi-spin pi-spinner" *ngIf="ocExiste === 0" style="color:#f5df18"></i>
                    <i class="pi pi-check" *ngIf="ocExiste === 1" style="color:#36b61d"></i>
                    <i class="pi pi-times" *ngIf="ocExiste === 2" style="color:#d83131"></i>
                    <i class="pi pi-file-o" *ngIf="ocExiste === 3"></i>
                </span>
            </div>
            
            <div class="p-field p-col-12 p-md-2">
                <label for="tipo_orden">Tipo Orden</label>
                <p-dropdown inputId="tipo_orden" [options]="tipoOrden" name="tipo_orden" formControlName="tipo_orden" placeholder="Escoge..."
                            optionLabel="descripcion" [class.ng-invalid]="getNoValido('tipo_orden')" [class.ng-dirty]="getNoValido('tipo_orden')">
                </p-dropdown>
                <small *ngIf="getNoValido('tipo_orden')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
        </div>
    </p-panel>
    <br>

    <p-panel header="Datos Generales">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-2">
                <label for="num_doc">Factura Proveedor</label>
                <span class=" p-input-icon-right">
                    <input id="num_doc" type="text" pInputText formControlName="num_doc" [class.p-invalid]="getNoValido('num_doc')"
                           [class.ng-invalid]="getNoValido('num_doc')" [class.ng-dirty]="getNoValido('num_doc')">
                </span>
            </div>    
            
            <div class="p-field p-col-12 p-md-2">
                <label for="fecha_orig">Fecha Factura</label>
                <p-calendar dateFormat="yy/mm/dd" formControlName="fecha_orig" (onSelect)="vencimiento()" 
                            [class.ng-invalid]="getNoValido('fecha_orig')" [class.ng-dirty]="getNoValido('fecha_orig')">
                </p-calendar>
                <small *ngIf="getNoValido('fecha_orig')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
            
            <div class="p-field p-col-12 p-md-2">
                <label for="fecha_proc">Fecha vencimiento</label>
                <p-calendar dateFormat="yy/mm/dd" formControlName="fecha_proc" [class.ng-invalid]="getNoValido('fecha_proc')" 
                            [class.ng-dirty]="getNoValido('fecha_proc')">
                </p-calendar>
                <small *ngIf="getNoValido('fecha_proc')" class="p-invalid">Este campo es obligatorio.</small>
            </div>

            <div class="p-field p-col-12 p-md-2">
                <label for="cond_pago">Condiciones de Pago</label>
                <p-dropdown [options]="cond_pago" formControlName="cond_pago" optionLabel="descripcion" 
                            (onChange)="setVencimiento($event.value.descripcion)"
                            [class.ng-invalid]="getNoValido('cond_pago')" [class.ng-dirty]="getNoValido('cond_pago')">
                </p-dropdown>
                <small *ngIf="getNoValido('cond_pago')" class="p-invalid">Este campo es obligatorio.</small>
            </div>

            <div class="p-field p-col-12 p-md-2">
                <label for="cuotas">Cuotas</label>
                <p-inputNumber formControlName="cuotas" [min]="1" (onBlur)="setCuotas()"></p-inputNumber>
            </div> 
    
            <div class="p-field p-col-12 p-md-2">
                <label for="moneda">Moneda</label>
                <p-dropdown [options]="monedas" formControlName="moneda" placeholder="Escoge..." [class.ng-invalid]="getNoValido('moneda')" 
                            [class.ng-dirty]="getNoValido('moneda')" optionLabel="descripcion" (onChange)="cambiaDivisa($event)">
                </p-dropdown>
                <small *ngIf="getNoValido('moneda')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
        </div>
    </p-panel>
    <br>

    <p-panel header="Datos Generales">
        <div class="p-fluid p-formgrid p-grid">
            
            <div class="p-field p-col-12 p-md-2">
                <label for="valor">Monto Factura</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">{{this.simbolo}}</span>
                    <input type="number" pInputText formControlName="valor" (blur)="calcula()"
                           [class.ng-invalid]="getNoValido('valor')" [class.ng-dirty]="getNoValido('valor')">    
                </div>
                <small *ngIf="getNoValido('valor')" class="p-invalid">Este campo es obligatorio.</small>
            </div>

            <div class="p-field p-col-12 p-md-2">
                <label for="valor_orden">Valor Orden</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">{{this.simbolo}}</span>
                    <input type="number" pInputText formControlName="valor_orden" [class.ng-invalid]="getNoValido('valor_orden')" 
                           [class.ng-dirty]="getNoValido('valor_orden')">  
                </div>
                <small *ngIf="getNoValido('valor_orden')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
    
            <div class="p-field p-col-12 p-md-2">
                <label for="valor_recibido">Valor Recibido</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">{{this.simbolo}}</span>
                    <input type="number" pInputText formControlName="valor_recibido" [class.ng-invalid]="getNoValido('valor_recibido')" 
                           [class.ng-dirty]="getNoValido('valor_recibido')">  
                </div>
                <small *ngIf="getNoValido('valor_recibido')" class="p-invalid">Este campo es obligatorio.</small>
            </div>    
            
            <div class="p-field p-col-12 p-md-2">
                <label for="codigo_fiscal">Tipo Gasto</label>
                <p-dropdown inputId="codigo_fiscal" [options]="tipoGastos" name="codigo_fiscal" [class.ng-invalid]="getNoValido('codigo_fiscal')" 
                            [class.ng-dirty]="getNoValido('codigo_fiscal')" formControlName="codigo_fiscal" placeholder="Escoge..." optionLabel="descripcion">
                </p-dropdown>
                <small *ngIf="getNoValido('codigo_fiscal')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
    
            <div class="p-field p-col-12 p-md-2">
                <label for="ncf">NCF</label>
                <span class=" p-input-icon-right">
                    <input id="ncf" type="text" pInputText formControlName="ncf" [class.p-invalid]="getNoValido('ncf')"
                           [class.ng-invalid]="getNoValido('ncf')" [class.ng-dirty]="getNoValido('ncf')" (blur)="verificaNCF($event.target.value)">
                </span>
                <small *ngIf="getNoValido('ncf')" class="p-invalid">Este campo es obligatorio.</small>
            </div>    
    
            <div class="p-field p-col-12">
                <label for="detalle">Detalle</label>
                <textarea id="detalle" type="text" rows="4" pInputTextarea name="detalle" formControlName="detalle"
                          [class.ng-invalid]="getNoValido('detalle')" [class.ng-dirty]="getNoValido('detalle')">
                </textarea>
                <small *ngIf="getNoValido('detalle')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
        </div>
    </p-panel>
    <br>

    <p-panel header="Totales">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-col-12 p-md-3">
                <label for="moneda">Monto Impuesto</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">{{this.simbolo}}</span>
                    <input type="number" pInputText formControlName="monto_itbi" readonly="true" class="read-only"
                           [class.ng-invalid]="getNoValido('monto_itbi')" [class.ng-dirty]="getNoValido('monto_itbi')">
                </div>
                <small *ngIf="getNoValido('monto_itbi')" class="p-invalid">Este campo es obligatorio.</small>
            </div>

            <div class="p-col-12 p-md-3">
                <label for="moneda">Servicios</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">{{this.simbolo}}</span>
                    <input type="number" pInputText formControlName="servicios" readonly="true" class="read-only"
                           [class.ng-invalid]="getNoValido('servicios')" [class.ng-dirty]="getNoValido('servicios')">
                </div>
                <small *ngIf="getNoValido('servicios')" class="p-invalid">Este campo es obligatorio.</small>
            </div>

            <div class="p-col-12 p-md-3">
                <label for="moneda">Bienes</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">{{this.simbolo}}</span>
                    <input type="number" pInputText formControlName="bienes" readonly="true" class="read-only"
                           [class.ng-invalid]="getNoValido('bienes')" [class.ng-dirty]="getNoValido('bienes')">
                </div>
                <small *ngIf="getNoValido('bienes')" class="p-invalid">Este campo es obligatorio.</small>
            </div>

            <div class="p-col-12 p-md-3">
                <label for="moneda">Retención</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">{{this.simbolo}}</span>
                    <input type="number" pInputText formControlName="retencion" readonly="true" class="read-only"
                           [class.ng-invalid]="getNoValido('retencion')" [class.ng-dirty]="getNoValido('retencion')">
                </div>
                <small *ngIf="getNoValido('retencion')" class="p-invalid">Este campo es obligatorio.</small>
            </div>
        </div>        
    </p-panel>
    <br>
    <p-panel #pnl header="Cuentas vinculadas a la factura" styleClass="p-mt-4">
        <div class="p-fluid p-formgrid p-grid">
            <div formArrayName="cuentas_no">
                <p-toolbar>	
                    <div class="p-toolbar-group-left"></div>						
                    <div class="p-toolbar-group-right">
                        <button pButton pRipple label="Buscar cuentas" icon="pi pi-search" type="button" (click)="buscaCuentas()"
                                [disabled]="this.montoFactura.value === ''"></button>	
                    </div>
                </p-toolbar>
                <br>
                <p-table #dt [columns]="cols" [value]="cuentas" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
                         [rowHover]="true" [rows]="20" [paginator]="true" [filterDelay]="0" 
                         [globalFilterFields]="['titulo','codigo','categoria','marca','almacen','tipoinventario']">
    
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar...."/>
                            </span>
                        </div>
                    </ng-template>
    
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" *ngIf="(col.field !== 'imagen' && col.field !== 'acciones')"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
    
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                        <tr [formGroupName]="i" class="p-selectable-row">	
                            <td *ngFor="let col of columns" [ngClass]="{'centrar': (col.field === 'imagen'  || col.field === 'acciones')}">
                                <span class="p-column-title">{{col.header}}</span>
    
                                <span *ngIf="col.field === 'cuenta_no'">
                                    {{rowData['descripcion'] | uppercase}}-({{rowData[col.field]}})
                                </span>
    
                                <span *ngIf="col.field === 'tipo_cuenta'">
                                    {{rowData[col.field] | titlecase}}
                                </span>    
                                
                                <span *ngIf="col.field === 'departamento'">
                                    <p-dropdown *ngIf="rowData['depto'] === 'si'" [options]="departamentos" formControlName="departamento" placeholder="Escoge..."
                                                optionLabel="descripcion">
                                    </p-dropdown>
                                </span>
    
                                <div *ngIf="col.field === 'retencion' || col.field === 'catalogo'|| col.field === 'referencia'">
                                    <span *ngIf="rowData[col.field] === 'si'" class="p-badge p-badge-lg p-badge-success">
                                        {{rowData[col.field] | titlecase}}										
                                    </span>
                            
                                    <span *ngIf="rowData[col.field] === 'no'" class="p-badge p-badge-lg p-badge-warning">
                                        {{rowData[col.field] | titlecase}}										
                                    </span>
                                </div>
    
                                <span *ngIf="col.field === 'porciento'">
                                    {{rowData[col.field] || 0}}
                                </span>
                                        
                                <span *ngIf="col.field === 'debito'">
                                    <input type="number" pInputText formControlName="debito" (blur)="calcula()" 
                                           [ngClass]="{'read-only': rowData['cuenta_no'] === this.cuentaForm}"
                                           [readonly]="rowData['cuenta_no'] === this.cuentaForm"/>
                                </span>
    
                                <span *ngIf="col.field === 'credito'">
                                    <input type="number" pInputText formControlName="credito" (blur)="calcula()" 
                                           [ngClass]="{'read-only': rowData['cuenta_no'] === this.cuentaForm}"
                                           [readonly]="rowData['cuenta_no'] === this.cuentaForm"/>
                                </span>
    
                                <span *ngIf="col.field === 'acciones'">
                                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button p-button-danger p-mr-2 p-mb-2" 
                                            (click)="borrarCatEscogido(i)" [disabled]="rowData['cuenta_no'] === this.cuentaForm"></button>
                                </span>
                            </td>											
                        </tr>
                    </ng-template>
    
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No hay cuentas seleccionados.</td>
                        </tr>
                    </ng-template>
    
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="cuentas.length !== 1">
                            Existen {{cuentas ? cuentas.length : 0 }} cuentas en total.
                        </div>
    
                        <div class="p-d-flex p-ai-center p-jc-between" *ngIf="cuentas.length === 1">
                            Existe solo {{cuentas ? cuentas.length : 0 }} producto en total.
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td><strong>Totales:</strong></td>											
                            <td></td>
                            <td></td>
                            <td *ngIf="(this.totalC - this.totalD) !== 0" class="rojo"><strong>{{this.simbolo}}{{this.totalD}}</strong></td>
                            <td *ngIf="(this.totalC - this.totalD) !== 0" class="rojo"><strong>{{this.simbolo}}{{this.totalC}}</strong></td>
                            <td *ngIf="(this.totalC - this.totalD) === 0" class="verde"><strong>{{this.simbolo}}{{this.totalD}}</strong></td>
                            <td *ngIf="(this.totalC - this.totalD) === 0" class="verde"><strong>{{this.simbolo}}{{this.totalC}}</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-panel>
    <br>
    <button *ngIf="!this.guardando && this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="this.guardando && this.guardar" pButton pRipple label="Guardando" icon="pi pi-spin pi-spinner" type="button" disabled="true"></button>

    <button *ngIf="!this.actualizando && this.actualizar" (click)="actualizarFactura()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="this.actualizando && this.actualizar" pButton pRipple label="Actualizando" icon="pi pi-spin pi-spinner" type="button" class="p-button-warning p-mr-2 p-mb-2" disabled="true"></button>

    <button *ngIf="this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button>
</form>