<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel *ngFor="let item of data">
            <ng-template pTemplate = "header">
                <i [attr.class]="item.icono" style="padding-right: 5px;"></i>
                <span>{{item.label | titlecase}}</span>
            </ng-template>       
            <app-formulario-cgcatalogo *ngIf="item.label === 'catalogo'"></app-formulario-cgcatalogo>
            <app-formulario-empresa *ngIf="item.label === 'empresa'"></app-formulario-empresa>
            <app-formulario-condiciones *ngIf="item.label === 'condiciones'"></app-formulario-condiciones>
        </p-tabPanel>
    </p-tabView>
</div>