
<div class="p-grid table-demo">	
	<div class="p-col-12">
		<div class="card">
            <h5>Gestión de Productos</h5>
            <p-tabView orientation="left" [(activeIndex)]="index">
                <p-tabPanel  header="Consultar" leftIcon="pi pi-search">							
					<p-table #dt [columns]="cols" [value]="productos" styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-striped"
						     [rowHover]="true" [rows]="10" [paginator]="true" [filterDelay]="0" [globalFilterFields]="['descripcion','categoria']">
						
						<ng-template pTemplate="caption">
							<div class="table-header">
								<span class="p-input-icon-left">
									<i class="pi pi-search"></i>
									<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..."/>
								</span>
							</div>
						</ng-template>

						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns" [pSortableColumn]="col.field">
									{{col.header | titlecase}}
									<p-sortIcon [field]="col.field" *ngIf="(col.field !== 'img' && col.field !== 'acciones')"></p-sortIcon>
								</th>
							</tr>
						</ng-template>

						<ng-template pTemplate="body" let-rowData let-columns="columns">
							<tr class="p-selectable-row">
								<td *ngFor="let col of columns" [ngClass]="{'centrar': col.field === 'img'  || col.field === 'cantidad'}">
									<span class="p-column-title">{{col.header}}</span>

									<span *ngIf="col.field === 'img'">
										<img [src]="rowData.img | invProductos" width="64"
											style="vertical-align: middle"/>
										<div class="p-mb-3 demo-container p-text-nowrap p-text-truncate" style="width: 7rem" [pTooltip]="rowData['titulo']" tooltipPosition="bottom">										
											{{rowData['nombre']}}
										</div>
									</span>
									
									<span *ngIf="col.field === 'average_rating'">
										<p-rating [(ngModel)]="rowData[col.field]" readonly="true" [cancel]="false"></p-rating>
									</span>

									<span *ngIf="col.field === 'regular_price'">
										{{ rowData[col.field] || rowData['precio']}}
									</span>

									<span *ngIf="col.field === 'precio'">
										{{ rowData[col.field] }}
									</span>
									
									<span *ngIf="col.field === 'categoria'">
										{{ rowData[col.field].descripcion }}
									</span>

									<span *ngIf="col.field === 'proveedor'">
										{{ rowData[col.field].nom_sp | titlecase }}
									</span>

									<span *ngIf="col.field === 'disponible'">
										{{ rowData[col.field] || 0}}
									</span>

									<span *ngIf="col.field === 'envios'">
										{{ rowData[col.field].descripcion }}
									</span>
																		
									<span *ngIf="col.field === 'stock_quantity'">
										{{ rowData[col.field] || 0 }}
									</span>

									<span *ngIf="col.field === 'acciones'">
										<button pButton pRipple type="button" icon="pi pi-eye"        class="p-button p-button-success p-mr-2 p-mb-2" pTooltip="Ver Detalles"></button>
										<button pButton pRipple type="button" icon="pi pi-user-edit"  class="p-button p-button-warning p-mr-2 p-mb-2" (click)="actualizarProducto(rowData)" pTooltip="Actualizar"></button>
										<button pButton pRipple type="button" icon="pi pi-trash"      class="p-button p-button-danger p-mr-2 p-mb-2" (click)="borrarProducto(rowData.uid)" pTooltip="Eliminar"></button>
										<!-- <button pButton pRipple type="button" icon="pi pi-file-excel" class="p-button p-button-success p-mr-2 p-mb-2" (click)="dt.exportCSV()"></button> -->
									</span>
								</td>								
							</tr>
						</ng-template>

						<ng-template pTemplate="emptymessage">
							<tr>
								<td colspan="8">No existen productos en la base de datos.</td>
							</tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
							<div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length !== 1">
								Existen {{productos ? productos.length : 0 }} productos en total.
							</div>

							<div class="p-d-flex p-ai-center p-jc-between" *ngIf="productos.length === 1">
								Existe solo {{productos ? productos.length : 0 }} producto en total.
							</div>
						</ng-template>
					</p-table>

				</p-tabPanel>

                <p-tabPanel header="Adicionar" leftIcon="pi pi-plus">
					<app-formulario-maestra-productos></app-formulario-maestra-productos>
                </p-tabPanel>
            </p-tabView>
		</div>
		<p-toast key="tst"></p-toast>

		<p-confirmDialog header="Atención" icon="pi pi-exclamation-triangle" message="Esta seguro de borrar este registro?"
			[style]="{width: '425px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
		</p-confirmDialog>
	</div>
	
</div>
