<form (ngSubmit)="guardarDirecciones()" [formGroup]="forma">
    <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12 p-md-3">
            <label for="nombre">Representante</label>
            <input id="nombre" type="text" pInputText formControlName="nombre" [class.ng-invalid]="getNoValido('nombre')" 
                   [class.ng-dirty]="getNoValido('nombre')">
            <small *ngIf="getNoValido('nombre')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="direccion_a">Direccion A</label>
            <input id="direccion_a" type="text" pInputText formControlName="direccion_a" [class.ng-invalid]="getNoValido('direccion_a')" 
                   [class.ng-dirty]="getNoValido('direccion_a')">
            <small *ngIf="getNoValido('direccion_a')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="direccion_b">Direccion B</label>
            <input id="direccion_b" type="text" pInputText formControlName="direccion_b" [class.ng-invalid]="getNoValido('direccion_b')" 
                   [class.ng-dirty]="getNoValido('direccion_b')">
            <small *ngIf="getNoValido('direccion_b')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="telefono">Teléfono</label>
            <span class=" p-input-icon-right">
                <p-inputMask mask="(999)-999-9999" formControlName="telefono" placeholder="(999)-999-9999" 
                            [class.ng-invalid]="getNoValido('telefono')" [class.ng-dirty]="getNoValido('telefono')">
                </p-inputMask>
            </span>
            <small *ngIf="getNoValido('telefono')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_pais">Pais</label>
            <p-dropdown input  [options]="paises" [class.ng-invalid]="getNoValido('id_pais')" 
                        [class.ng-dirty]="getNoValido('id_pais')" name="id_pais" formControlName="id_pais" 
                        id="drop-down" placeholder="Escoje.." optionLabel="descripcion" (onChange)="buscaPaises($event.value.id)">
            </p-dropdown>
            <small *ngIf="getNoValido('id_pais')" class="p-invalid">Este campo es obligatorio.</small>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <label for="id_ciudad">Ciudad</label>
            <p-dropdown input  [options]="ciudades" [class.ng-invalid]="getNoValido('id_ciudad')" 
                        [class.ng-dirty]="getNoValido('id_ciudad')" name="id_ciudad" formControlName="id_ciudad" 
                        id="drop-down" placeholder="Escoje.." optionLabel="descripcion">
            </p-dropdown>
            <small *ngIf="getNoValido('id_ciudad')" class="p-invalid">Este campo es obligatorio.</small>
        </div>
    </div>
    <button *ngIf="!this.formSubmitted && this.guardar" pButton pRipple label="Guardar" icon="pi pi-save" type="submit"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="actualizarDirecciones()" pButton pRipple label="Actualizar" icon="pi pi-user-edit" type="button" class="p-button-warning p-mr-2 p-mb-2"></button>
    <button *ngIf="!this.formSubmitted && this.actualizar" (click)="cancelar()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-mr-2 p-mb-2"></button> 
</form>
<br>
<p-progressBar mode="indeterminate" *ngIf="this.formSubmitted"></p-progressBar>